Repository Bigessfour/BusBuddy-3: changes, and which Codecov flags are due for each by the changed paths.
All: core, wpf, tests

codecov.yml:

# Codecov configuration for Bus Buddy WPF project
# Documentation: https://docs.codecov.com/docs/codecov-yaml

codecov:
  # Token is provided via GitHub Actions secret CODECOV_TOKEN
  # Never commit the actual token value to version control

  # Require CI to pass before accepting coverage
  require_ci_to_pass: true # Disable status checks while setting up
  disable_default_path_fixes: false

# Coverage settings
coverage:
  precision: 2
  round: down
  range: "70...100"

  # Status configuration
  status:
    project:
      default:
        target: auto
        threshold: 1%
        if_not_found: success
        if_ci_failed: error
    patch:
      default:
        target: auto
        threshold: 1%
        if_not_found: success
        if_ci_failed: error

# Comment configuration
comment:
  layout: "reach,diff,flags,tree"
  behavior: default
  require_changes: false

# Ignore paths that shouldn't affect coverage
ignore:
  - "**/*.Designer.cs"
  - "**/AssemblyInfo.cs"
  - "**/Migrations/**"
  - "**/obj/**"
  - "**/bin/**"
  - "**/packages/**"
  - "**/*.g.cs"
  - "**/*.g.i.cs"
  - "**/MainWindow.xaml.cs" # Generated XAML code-behind
  - "**/App.xaml.cs" # Application startup code

# File-specific settings
flags:
  core:
    paths:
      - "BusBuddy.Core/"
  wpf:
    paths:
      - "BusBuddy.WPF/"
  tests:
    paths:
      - "BusBuddy.Tests/"

refactor: Consolidate .gitattributes for consistent CRLF
  .gitattributes
Due: none

fix(data): Clean up SeedDataService from merge conflicts
  BusBuddy.Core/Data/SeedDataService.cs
Due: core

fix: resolve test warnings, update NuGet references, and sync all project/test changes for clean build
  BusBuddy.Core/BusBuddyDbContext.cs
  BusBuddy.Core/Extensions/ServiceCollectionExtensions.cs
  BusBuddy.Core/Migrations/20250804210443_InitialCreate.cs
  BusBuddy.Core/Models/FuelRecord.cs
  BusBuddy.Core/Models/MaintenanceRecord.cs
  BusBuddy.Core/Models/Student.cs
  BusBuddy.Core/Models/Vehicle.cs
  BusBuddy.Core/Services/BusService.cs
  BusBuddy.Core/Services/GuardianService.cs
  BusBuddy.Core/Services/IBusRepository.cs
  BusBuddy.Core/Services/ISeedDataService.cs
  BusBuddy.Core/Services/SeedDataService.cs
  BusBuddy.Core/Utilities/JsonDataImporter.cs
  BusBuddy.Tests/BusBuddy.Tests.csproj
  BusBuddy.Tests/Core/SeedDataServiceTests.cs
  BusBuddy.WPF/App.xaml.cs
  BusBuddy.WPF/ViewModels/DashboardTileViewModel.cs
  BusBuddy.WPF/ViewModels/Sports/SportsSchedulerViewModel.cs
  BusBuddy.WPF/Views/Main/MainWindow.xaml.cs
  Documentation/FILE-FETCHABILITY-GUIDE.md
  Documentation/README.md
  PowerShell/bb-seed.ps1
  QUICK-START.md
  README (2).md
  SESSION-HANDOFF-2025-07-23.md
  phd-diagnostic-and-ai-deployment.ps1
Due: core, wpf, tests

chore: add VS Code config and Grok-4 utility scripts for visibility
  .vscode/settings.json
  .vscode/tasks.json
  PowerShell/Validation/Test-BusBuddyAzureAdConnection.ps1
  PowerShell/setup-pwsh-dev.ps1
  tools/Scripts/ParserScan.ps1
Due: none

chore: commit all modified files for latest project state
  .gitignore
  BusBuddy.Core/Data/BusBuddyDbContext.cs
  BusBuddy.Core/Data/BusBuddyDbContextFactory.cs
  BusBuddy.Core/Services/GuardianService.cs
  BusBuddy.Core/Services/StudentService.cs
  BusBuddy.Core/Utilities/EnvironmentHelper.cs
  BusBuddy.Core/appsettings.json
  BusBuddy.WPF/App.xaml.cs
  BusBuddy.WPF/BusBuddy.WPF.csproj
  Documentation/FILE-FETCHABILITY-GUIDE.md
  PowerShell/Functions/Testing/Enhanced-Test-Output.ps1
  PowerShell/Modules/BusBuddy.ExceptionCapture.psm1
  PowerShell/Modules/BusBuddy/BusBuddy.psd1
  PowerShell/Modules/BusBuddy/BusBuddy.psm1
  PowerShell/Validation/Validate-XamlFiles.ps1
Due: core, wpf

docs: update Grok-README with fetchability and canonicalization progress (Aug 7, 2025)
  Grok Resources/README.md
Due: none

chore(powershell/azure): standardize Azure env + connection test + EF migrations
  .gitignore
  Invoke-AzureEf-Migrate.ps1
  PowerShell/Azure/Invoke-AzureEfMigrations.ps1
  PowerShell/Azure/Invoke-AzureSqlConnectionTest.ps1
  PowerShell/Azure/Invoke-AzureSqlQuery.ps1
  PowerShell/Azure/Set-AzureSqlEnv.ps1
  PowerShell/Test-AzureConnection-Simple.ps1
  Set-AzureSql-Env.ps1
  Test-AzureConnection-Simple.ps1
Due: none

feat: add bb-health function to BusBuddy.psm1 for environment health checks
  PowerShell/BusBuddy.psm1
Due: none

refactor: enhance bbTest with .NET 9 compatibility detection and Phase 4 NUnit integration
  .vscode/settings.json
  BusBuddy.Tests/BusBuddy.Tests.csproj
  Directory.Build.props
  PowerShell/Functions/Testing/Enhanced-Test-Output.ps1
  PowerShell/Functions/Utilities/MinimalOutputCapture.ps1
  PowerShell/Modules/BusBuddy.Rules.psm1
  PowerShell/Modules/BusBuddy/BusBuddy.psm1
  PowerShell/Modules/XamlValidation.psm1
Due: tests

add: PowerShell reset scripts, Azure environment config, and database migration
  BusBuddy.Core/Migrations/20250808024041_InitialEntra.cs
  Complete-PowerShell-Reset.ps1
  PowerShell/Azure/Use-MachineAzureEnv.ps1
  Reset-PowerShell.ps1
Due: none

docs: update FILE-FETCHABILITY-GUIDE with bbTest refactoring and .NET 9 compatibility improvements
  Documentation/FILE-FETCHABILITY-GUIDE.md
Due: none

fix: correct legacy descriptions in GROK-README.md
  GROK-README.md
Due: none

fix: refresh FILE-FETCHABILITY-GUIDE.md to remove legacy descriptions
  Documentation/FILE-FETCHABILITY-GUIDE.md
Due: none

enhance: add comprehensive raw URL fetchability section to FILE-FETCHABILITY-GUIDE.md
  Documentation/FILE-FETCHABILITY-GUIDE.md
Due: none

docs: update GROK-README.md with Azure SQL Database infrastructure status
  GROK-README.md
Due: none

docs: update GROK-README with verified Azure SQL Database infrastructure
  GROK-README.md
Due: none

docs: update FILE-FETCHABILITY-GUIDE with verified Azure SQL Database infrastructure
  Documentation/FILE-FETCHABILITY-GUIDE.md
Due: none

docs: add comprehensive documentation maintenance guidelines to VS Code instructions
  .vscode/instructions.md
Due: none

feat: comprehensive PowerShell refactoring and command standardization
  BusBuddy.Core/BusBuddy.Core.csproj
  BusBuddy.Core/Data/BusBuddyDbContext.cs
  BusBuddy.Core/Migrations/BusBuddyDbContextModelSnapshot.cs
  BusBuddy.Core/Services/GuardianService.cs
  BusBuddy.Core/appsettings.json
  Documentation/Command-Refactoring-Status.md
  Documentation/FILE-FETCHABILITY-GUIDE.md
  Documentation/PowerShell-Refactoring-Plan.md
  Documentation/Write-Host-Analysis-20250808-060702.json
  GOOGLE-DRIVE-QUICK-SETUP.md
  GROK-README.md
  PowerShell/BusBuddy.psm1
  PowerShell/Modules/BusBuddy/BusBuddy.psm1
  PowerShell/Scripts/Debug-DIContainer.ps1
  PowerShell/Scripts/WileySeed.ps1
  PowerShell/Validation/Analyze-RemainingViolations.ps1
  PowerShell/Validation/Environment-Validation.ps1
  PowerShell/Validation/Fix-WriteHostViolations.ps1
  README.md
  appsettings.json
  logs/bootstrap-20250807.txt
  logs/bootstrap-20250807_001.txt
  logs/log-20250807.txt
  setup-environment.ps1
  vscode-userdata/BusBuddy.instructions.md
Due: core

docs: update README and fetchability guide with current status
  Documentation/FILE-FETCHABILITY-GUIDE.md
  README.md
Due: none

feat: Azure SQL/EF Core 9 integration, passwordless connection, and package upgrades per roadmap
  BusBuddy.Core/BusBuddy.Core.csproj
  BusBuddy.WPF/BusBuddy.WPF.csproj
  BusBuddy.WPF/appsettings.json
Due: core, wpf

Refactor: Move and import bb-anti-regression.ps1 for profile integration; expose bbAntiRegression command; update BusBuddy.psm1 for robust import
  PowerShell/BusBuddy.psm1
  PowerShell/Modules/BusBuddy/bb-anti-regression.ps1
  PowerShell/bb-anti-regression.ps1
Due: none

fix: Replace standard WPF controls with Syncfusion equivalents in GoogleEarthView.xaml
  BusBuddy.Core/Services/Phase1DataSeedingService.cs
  BusBuddy.WPF/Views/GoogleEarth/GoogleEarthView.xaml
  Documentation/Archive/WileySeeder.cs
  PowerShell/Modules/BusBuddy/bb-anti-regression.ps1
  PowerShell/bb-anti-regression.ps1
Due: core, wpf

docs: Update GROK-README.md and FILE-FETCHABILITY-GUIDE.md with anti-regression completion status
  BusBuddy.Core/Services/Phase1DataSeedingService.cs
  BusBuddy.WPF/Views/GoogleEarth/GoogleEarthView.xaml
  Documentation/FILE-FETCHABILITY-GUIDE.md
  GROK-README.md
  PowerShell/bb-anti-regression.ps1
Due: core, wpf

docs: consolidate fetchability guide into GROK-README.md and fix Syncfusion license config
  Documentation/FILE-FETCHABILITY-GUIDE.md
  GROK-README.md
  PowerShell/Modules/BusBuddy/BusBuddy.psm1
  README.md
Due: none

feat: refactor and implement bbRoutes commands with complete workflow
  Documentation/BusBuddy-Route-Commands-Refactored.md
  Documentation/Update-Summary-Route-Commands-2025-08-08.md
  GROK-README.md
  PowerShell/Modules/BusBuddy/BusBuddy.psm1
  validate-route-commands.ps1
Due: none

docs: complete Student Entry and Route Design Guide - production ready
  Documentation/Student-Entry-Route-Design-Guide-Complete.md
  GROK-README.md
  logs/bootstrap-20250808.txt
  logs/log-20250808.txt
Due: none

feat: complete production readiness with clean build
  BusBuddy.Core/BusBuddy.Core.csproj
  BusBuddy.Core/Configuration/ApplicationInsightsConfiguration.cs
  BusBuddy.WPF/BusBuddy.WPF.csproj
  Deploy-BusBuddy.ps1
  Directory.Build.props
  Documentation/Production-Readiness-Implementation-Summary.md
  Documentation/Production-Release-Checklist.md
  Documentation/UAT-Plan-MVP.md
  Documentation/VALIDATION-COMPLETE-Student-Entry-Route-Design.md
  GROK-README.md
  Run-UATTests.ps1
  Set-SyncfusionLicense.ps1
  Setup-ApplicationInsights.ps1
  Setup-ProductionMonitoring.ps1
  Setup-StagingDatabase.ps1
  appsettings.azure.json
Due: core, wpf

docs: update documentation for production deployment readiness
  GROK-README.md
  PRODUCTION-READY-STATUS.md
  README.md
Due: none

fix: resolve Syncfusion license detection at Machine/User/Process levels
  BusBuddy.WPF/App.xaml.cs
  BusBuddy.WPF/appsettings.json
  PowerShell/Modules/BusBuddy/BusBuddy.psm1
  logs/bootstrap-20250808.txt
  logs/log-20250808.txt
Due: wpf

fix: PowerShell module alias system and export for bbTest and bb-test (no duplicate warnings, aliases now available)
  PowerShell/Modules/BusBuddy/BusBuddy.psm1
Due: none

Student entry and route planning: launched app, validated UI, Azure SQL login issue detected (pending fix)
  logs/bootstrap-20250808.txt
  logs/log-20250808.txt
Due: none

fix: add explicit null check to resolve CS8602 warning in GuardianService
  BusBuddy.Core/Services/GuardianService.cs
Due: core

fix: UI context and Azure SQL seeding issues; improved MainWindow DataContext handling and connection string resolution
  BusBuddy.Core/Services/GuardianService.cs
  BusBuddy.WPF/App.xaml.cs
  BusBuddy.WPF/Views/Main/MainWindow.xaml.cs
  Fix-AzureFirewall.ps1
  Runtime-Analysis-Report.md
  Setup-LocalFallback.ps1
  logs/bootstrap-20250808.txt
  logs/log-20250808.txt
Due: core

feat: complete production deployment and monitoring setup
  GROK-README.md
  Setup-ProductionMonitoring.ps1
  logs/bootstrap-20250808.txt
  logs/log-20250808.txt
Due: none

docs: add comprehensive runtime error analysis to GROK-README
  GROK-README.md
Due: none
