Repository Bigessfour/BusBuddy-3: changes, and which Codecov flags are due for each by the changed paths.
All: core, wpf, tests

Update BusBuddy.psm1
  PowerShell/Modules/BusBuddy/BusBuddy.psm1
Due: none

chore(core): deprecate ShapefileEligibilityService — remove .cs, add .cs.disabled per Greenfield Reset
  BusBuddy.Core/Services/ShapefileEligibilityService.cs
  BusBuddy.Core/Services/ShapefileEligibilityService.cs.disabled
Due: core

Remove deprecated ShapefileEligibilityService and related route eligibility logic
  BusBuddy.Core/Services/ShapefileEligibilityService.cs
Due: core

ci: test .NET 9 with Syncfusion 30.2.4+ and fix step label
  .github/workflows/ci.yml
Due: none

chore(mcp): fix MCP server paths and remove missing custom servers; point filesystem to workspace root
  .vscode/mcp-unified.json
  mcp.json
Due: none

chore(WPF): fix CA1309 by using StringComparison.Ordinal for BUSBUDDY_VERBOSE flag
  BusBuddy.WPF/App.xaml.cs
Due: none

CI: robust SyncfusionVersion pin step; fix duplicate guard by wrapping root Query-Students-Azure.cmd; adjust duplicate baseline; minor docs/log tweaks
  .github/workflows/ci.yml
  .vscode/settings.json
  BusBuddy.WPF/App.xaml
  BusBuddy.WPF/Utilities/LogLifecycleManager.cs
  BusBuddy.WPF/Views/Main/MainWindow.xaml.cs
  BusBuddy.WPF/appsettings.json
  DISASTER-RECOVERY-GUIDE.md
  Directory.Build.props
  Documentation/NUGET-CONFIG-REFERENCE.md
  Documentation/PACKAGE-MANAGEMENT.md
  Documentation/Reference/Build-Configs.md
  Documentation/Reference/Copilot-Hub.md
  Documentation/Reference/IMPLEMENTATION-COMPLETE.md
  Documentation/Reference/NuGet-Setup.md
  Documentation/Reference/Syncfusion-Examples.md
  Documentation/Theming/Theming-Audit-Checklist.md
  LICENSE-ETHICAL.md
  PowerShell/Diagnostics/Verify-Module-Load.ps1
  PowerShell/Modules/BusBuddy.AzureSqlHealth/BusBuddy.AzureSqlHealth.psm1
  PowerShell/Modules/BusBuddy.TestWatcher/BusBuddy.TestWatcher.psm1
  PowerShell/Modules/BusBuddy/# Code Citations.md
  PowerShell/Modules/BusBuddy/BusBuddy.psm1
  PowerShell/Validation/Environment-Validation.ps1
  PowerShell/Validation/ModuleLoadAudit.ps1
  PowerShell/bbCleanup.ps1
  Query-Students-Azure.cmd
  README.md
  Standards/PowerShellGuidelines.md
  tooling/duplicate-baseline.json
Due: wpf

docs(readme): document Syncfusion license registration and add reference to new Azure SQL schema validation step; link to .github workflows
  README.md
Due: none

docs: add VS Code NUnit Test Runner integration and CI usage
  README.md
Due: none

chore: sync pending changes (workflows, VS Code settings, testing modules, services)
  .cspell.json
  .github/workflows/.vscode/settings.json
  .github/workflows/ci-pr-gate.yml
  .github/workflows/ci.yml
  .github/workflows/code-quality-gate.yml
  .github/workflows/db-migrations-seed.yml
  .github/workflows/production-release.yml
  .vscode/extensions.json
  .vscode/settings.json
  .vscode/tasks.json
  BusBuddy.Core/Services/SeedDataService.cs
  BusBuddy.Core/Services/StudentService.cs
  BusBuddy.Tests/ViewModels/Student/StudentFormViewModelTests.cs
  BusBuddy.WPF/ViewModels/Student/StudentFormViewModel.cs
  PowerShell/Modules/BusBuddy.Commands/BusBuddy.Commands.psm1
  PowerShell/Modules/BusBuddy.Testing/BusBuddy.Testing.psm1
  PowerShell/Modules/BusBuddy.Testing/Initialize-BusBuddyTesting.ps1
  PowerShell/Modules/BusBuddy/BusBuddy.psd1
  PowerShell/Modules/BusBuddy/BusBuddy.psm1
  PowerShell/Profiles/Import-BusBuddyModule.ps1
  PowerShell/Testing/Run-Phase4-NUnitTests-Modular.ps1
  PowerShell/Validation/Fix-WriteHostViolations.ps1
Due: core, wpf, tests

feat: PowerShell module compliance improvements and cleanup
  .github/copilot-instructions.md
  .vscode/extensions.json
  DISASTER-RECOVERY-GUIDE.md
  Documentation/Reports/Diagnose-Run-latest.txt
  Documentation/Reports/LoggingConflicts-Diag.txt
  Documentation/Reports/PSScriptAnalyzerReport-Diag.txt
  PROGRESS-2025-08-15.md
  PowerShell/Modules/BusBuddy.AzureAuth.psm1
  PowerShell/Modules/BusBuddy.ExceptionCapture.psd1
  PowerShell/Modules/BusBuddy.ExceptionCapture.psm1
  PowerShell/Modules/BusBuddy.Rules.psm1
  PowerShell/Modules/BusBuddy.Testing/BusBuddy.Testing.psd1
  PowerShell/Modules/BusBuddy.Testing/BusBuddy.Testing.psm1
  PowerShell/Modules/BusBuddy/BusBuddy.psd1
  PowerShell/Modules/BusBuddy/BusBuddy.psm1
  PowerShell/Modules/BusBuddy/bb-health.ps1
  PowerShell/Modules/Validation/DuplicateFiles.psm1
  PowerShell/Modules/XamlValidation.psm1
  PowerShell/Networking/AzureSqlFirewallHelpers.ps1
  PowerShell/Profiles/Import-BusBuddyModule.ps1
  PowerShell/Scripts/Cleanup-FoulFiles.ps1
  PowerShell/Testing/Run-Phase4-NUnitTests-Modular.ps1
  PowerShell/Tools/Diagnose-BusBuddyModules.ps1
  PowerShell/Validation/Compare-RawIndex.ps1
  PowerShell/Validation/Environment-Validation.ps1
  PowerShell/Validation/Validate-XamlFiles.ps1
  README.md
Due: none

Update README Quick Start to use minimal PowerShell profile
  README.md
Due: none

PowerShell-first workflow: add minimal profile, install modules from PSGallery; CI uses modules; README: doc updated; prep BusBuddy.Cli scaffold; remove legacy PS scripts; normalize .gitignore
  .github/copilot-instructions.md
  .github/workflows/ci.yml
  .gitignore
  BusBuddy.Cli/BusBuddy.Cli.csproj
  BusBuddy.Cli/Program.cs
  PowerShell/Config/PSScriptAnalyzerSettings.psd1
  PowerShell/Modules/.gitkeep
  PowerShell/Modules/BusBuddy.Testing/BusBuddy.Testing.psd1
  PowerShell/Modules/BusBuddy.Testing/BusBuddy.Testing.psm1
  PowerShell/Modules/BusBuddy.Testing/Initialize-BusBuddyTesting.ps1
  PowerShell/Modules/BusBuddy.Testing/README.md
  PowerShell/Modules/BusBuddy/# Code Citations.md
  PowerShell/Modules/BusBuddy/BusBuddy.psd1
  PowerShell/Modules/BusBuddy/BusBuddy.psm1
  PowerShell/Modules/BusBuddy/bb-anti-regression.ps1
  PowerShell/Modules/BusBuddy/bb-health.ps1
  PowerShell/Modules/BusBuddy/bb-validate-database.ps1
  PowerShell/Profiles/.gitkeep
  PowerShell/Profiles/Import-BusBuddyModule.ps1
  PowerShell/README.md
  PowerShell/Scripts/.gitkeep
  PowerShell/Scripts/publish-modules.ps1
  PowerShell/Testing/Run-Phase4-NUnitTests-Modular.ps1
  PowerShell/Testing/Test-BusBuddyExecutable.ps1
  PowerShell/Testing/Test-RouteService.ps1
  README.md
  Tools/BusBuddyValidator/BusBuddyValidator.csproj
  Tools/BusBuddyValidator/Program.cs
  Tools/BusBuddyValidator/README.md
Due: none

Initialized basic PowerShell file structure for BusBuddy
  BusBuddy.Cli/README.md
  PowerShell/BusBuddy.Testing.psd1
  PowerShell/BusBuddy.Testing.psm1
  PowerShell/BusBuddy.psd1
  PowerShell/BusBuddy.psm1
  PowerShell/Modules/.gitkeep
  PowerShell/Modules/BusBuddy.Testing/BusBuddy.Testing.psd1
  PowerShell/Modules/BusBuddy.Testing/BusBuddy.Testing.psm1
  PowerShell/Modules/BusBuddy/BusBuddy.psd1
  PowerShell/Modules/BusBuddy/BusBuddy.psm1
  PowerShell/Profiles/.gitkeep
  PowerShell/Profiles/Import-BusBuddyModule.ps1
  PowerShell/README.md
  PowerShell/Scripts/.gitkeep
  PowerShell/Scripts/publish-modules.ps1
  raw-index.entries.json
  raw-index.json
Due: none

feat: PowerShell profile performance optimization and module reorganization
  PowerShell/BusBuddy.Testing.psd1
  PowerShell/BusBuddy.Testing.psm1
  PowerShell/BusBuddy.psd1
  PowerShell/BusBuddy.psm1
  PowerShell/Modules/BusBuddy.Testing/BusBuddy.Testing.psd1
  PowerShell/Modules/BusBuddy.Testing/BusBuddy.Testing.psm1
  PowerShell/Modules/BusBuddy/BusBuddy.psd1
  PowerShell/Modules/BusBuddy/BusBuddy.psm1
  PowerShell/Profiles/BusBuddyProfile.ps1
  PowerShell/Profiles/Microsoft.PowerShell_profile.ps1
Due: none

docs: Update setup guides with optimized PowerShell profile information
  README.md
  SETUP-GUIDE.md
Due: none

feat: Update raw index files with latest commit references
  raw-index.entries.json
  raw-index.json
Due: none

✨ Integrate CLI tools into PowerShell environment
  PowerShell/Modules/BusBuddy.CLI/BusBuddy.CLI.psd1
  PowerShell/Modules/BusBuddy.CLI/BusBuddy.CLI.psm1
  PowerShell/Profiles/BusBuddyProfile.ps1
  README.md
  SETUP-GUIDE.md
  raw-index.json
Due: none

Enhance PowerShell module with parallel processing and hyperthreading
  .cspell.json
  Documentation/Archive/PowerShell-Terminal-Foundation-Report.md
  Documentation/ORGANIZATION-SUMMARY.md
  PowerShell/Modules/BusBuddy/BusBuddy.psd1
  PowerShell/Modules/BusBuddy/BusBuddy.psm1
  PowerShell/Profiles/BusBuddyProfile.ps1
  PowerShell/Profiles/Microsoft.PowerShell_profile.ps1
  README.md
  SETUP-GUIDE.md
  new-index-entries.json
  update-index.ps1
Due: none

fix: Consolidate PowerShell profiles and resolve syntax errors
  PowerShell/Modules/BusBuddy/BusBuddy.psm1
  PowerShell/Profiles/BusBuddyProfile.ps1
  PowerShell/Profiles/Microsoft.PowerShell_profile.ps1
Due: none

fix: Create Import-BusBuddyModule.ps1 and fix CI command names
  .github/workflows/ci-pr-gate.yml
  PowerShell/Profiles/Import-BusBuddyModule.ps1
Due: none

fix: Remove problematic backticks in CI summary generation
  .github/workflows/ci-pr-gate.yml
Due: none

fix: Security and CI compliance fixes
  Documentation/AzureSetupGuide.md
  Documentation/Languages/YAML-STANDARDS.md
  PowerShell/Validation/Find-DuplicateFiles.ps1
Due: none

feat: implement hardened PowerShell module system and update copilot instructions
  .cspell.json
  .github/copilot-instructions.md
  BusBuddy.WPF/App.xaml
  BusBuddy.WPF/App.xaml.cs
  BusBuddy.WPF/BusBuddy.WPF.csproj
  BusBuddy.WPF/Resources/SyncfusionV30_Validated_ResourceDictionary.xaml
  BusBuddy.WPF/Resources/Themes/FluentDarkTheme.xaml
  BusBuddy.WPF/Resources/Themes/FluentLightTheme.xaml
  BusBuddy.WPF/Views/Activity/ActivityManagementView.xaml
  BusBuddy.WPF/Views/Activity/ActivityTimelineView.xaml
  BusBuddy.WPF/Views/Driver/DriversView.xaml
  BusBuddy.WPF/Views/Main/MainWindow.txt
  BusBuddy.WPF/Views/Main/MainWindow.xaml
  BusBuddy.WPF/Views/Main/MainWindow.xaml.cs
  BusBuddy.WPF/Views/Route/RouteAssignmentView.xaml
  BusBuddy.WPF/Views/Route/RouteStopsEditor.xaml
  BusBuddy.WPF/Views/Schedule/UnifiedSchedulerView.xaml
  BusBuddy.WPF/Views/Shared/Converters/InverseBooleanToVisibilityConverter.cs
  BusBuddy.WPF/Views/Student/StudentsView.xaml
  BusBuddy.WPF/Views/Vehicle/VehicleForm.xaml
  BusBuddy.WPF/Views/Vehicle/VehiclesView.xaml
  Documentation/Reports/StaticResource_Scan_Report.md
  Documentation/Reports/bb-commands.txt
  Documentation/Reports/bbAntiRegression.txt
  Documentation/Reports/bbBuild.txt
  Documentation/Reports/bbXamlValidate.txt
  Documentation/Reports/build-after-sf-headers.txt
  GROK-README.md
  PowerShell/Modules/BusBuddy/BusBuddy.psd1
  PowerShell/Modules/BusBuddy/BusBuddy.psm1
  PowerShell/Profiles/BusBuddy.ModuleManager.ps1
  PowerShell/Profiles/BusBuddy.Persistence.ps1
  PowerShell/Profiles/Microsoft.PowerShell_profile.ps1
  PowerShell/Scripts/Diagnose-BusBuddyResources.ps1
  README.md
  duplicate_different_list.txt
  duplicate_identical_list.txt
Due: wpf

🎯 Add finish line vision and performance monitoring
  .github/copilot-instructions.md
  Documentation/FINISH-LINE-VISION.md
  Documentation/MASTER-STANDARDS.md
  PowerShell/Profiles/BusBuddy.Persistence.ps1
  PowerShell/Profiles/Microsoft.PowerShell_profile.ps1
  README.md
Due: none

feat: Add comprehensive testing infrastructure and ProfileTools module
  BusBuddy.Core/BusBuddy.Core.csproj
  BusBuddy.Core/Utilities/EnvironmentHelper.cs
  BusBuddy.Tests/UI/SyncfusionDataGridTests.cs
  BusBuddy.Tests/UI/SyncfusionUITests.cs
  BusBuddy.WPF/BusBuddy.WPF.csproj
  BusBuddy.WPF/Resources/SyncfusionV30_Validated_ResourceDictionary.xaml
  BusBuddy.WPF/Views/Student/StudentsView.xaml
  BusBuddy.WPF/Views/Vehicle/VehicleForm.xaml
  BusBuddy.WPF/appsettings.json
  Documentation/Archives/README.md
  Documentation/Archives/copilot-instructions-clean-legacy-2025-08-17.md
  Documentation/Archives/copilot-instructions-legacy-2025-08-17.md
  Documentation/Archives/copilot-instructions-recommendations-resolved-2025-08-17.md
  Documentation/Archives/vscode-instructions-legacy-2025-08-17.md
  Documentation/TESTING-GUIDE-2025.md
  EntraIDTest/EntraIDTest.csproj
  EntraIDTest/Program.cs
  EntraIDTest/SimpleTest.cs
  PowerShell/Modules/BusBuddy.ProfileTools/BusBuddy.ProfileTools.psd1
  PowerShell/Modules/BusBuddy.ProfileTools/BusBuddy.ProfileTools.psm1
  PowerShell/Modules/BusBuddy.ProfileTools/README.md
  PowerShell/Modules/BusBuddy/BusBuddy.psm1
  PowerShell/Profiles/BusBuddy.ModuleManager.ps1
  TestEntraID.cs
  appsettings.json
  test-enhanced-bbhealth.ps1
  test-hardening.ps1
  test-serilog-integration.ps1
Due: core, wpf, tests

Phase 1 Complete: Foundation Stabilized - PowerShell 7.5.2 system operational, technical debt resolved, documentation updated, ready for Phase 2 core features
  .github/copilot-instructions.md
  .github/workflows/ci-legacy.yml
  .github/workflows/ci.yml
  BusBuddy.Tests/UI/SyncfusionDataGridTests.cs
  Documentation/CI-CD-MODERNIZATION-PLAN.md
  Documentation/CI-MIGRATION-NOTES.md
  Documentation/COPILOT-VISION-PROMPT.md
  Documentation/FINISH-LINE-VISION.md
  PowerShell/Modules/BusBuddy/BusBuddy.psm1
  PowerShell/Profiles/BusBuddy.ModuleManager.ps1
  PowerShell/Profiles/BusBuddy.Persistence.ps1
  PowerShell/Profiles/Microsoft.PowerShell_profile.ps1
  PowerShell/Validation/Find-DuplicateFiles.ps1
  README.md
  test-serilog-integration.ps1
Due: tests

feat: Complete GitKraken Pro integration with AI support
  .cspell.json
  .vscode/tasks.json
  Documentation/GITKRAKEN-CICD-WORKFLOW.md
  Documentation/GITKRAKEN-INTEGRATION-GUIDE.md
  Documentation/GITKRAKEN-INTEGRATION-STATUS.md
  PowerShell/BusBuddy-GitKraken.ps1
  PowerShell/Profiles/Microsoft.PowerShell_profile.ps1
Due: none

Adds BusBuddy module manager
  PowerShell/BusBuddy.ModuleManager.ps1
Due: none

feat: add high-performance BusBuddy module manager
  BusBuddy.Tests/ValidationTests/StudentServiceValidationTests.cs
  Documentation/BUSBUDDY-TEST-PERFORMANCE-GUIDE.md
  Documentation/GITKRAKEN-CLOUD-CLI-SETUP.md
  Documentation/GITKRAKEN-CLOUD-SERVICES.md
  PowerShell/Modules/BusBuddy/Az-LoadingOptimization.ps1
Due: tests

feat: Lock GitKraken AI integration into PowerShell environment
  PowerShell/BusBuddy-GitKraken.ps1
Due: none

feat: Add PowerShell profile with GitKraken AI integration
  PowerShell/BusBuddy-GitKraken.ps1
Due: none

fix(powershell): resolve profile initialization errors
  PowerShell/BusBuddy-GitKraken.ps1
  PowerShell/Profiles/Microsoft.PowerShell_profile.ps1
Due: none

feat(powershell): implement intelligent CLI selection system
  PowerShell/BusBuddy-GitKraken.ps1
Due: none

fix: resolve Problems panel diagnostics
  .github/workflows/build-and-test (1).yml
  .github/workflows/ci.yml
  .github/workflows/code-quality-gate.yml
  .github/workflows/performance-monitoring.yml
  .vscode/settings.json
  PowerShell/BusBuddy-GitKraken.ps1
Due: none

feat: robust YAML workflow configuration
  .editorconfig
  .github/workflows/ci.yml
  .github/workflows/code-quality-gate.yml
  .github/workflows/performance-monitoring.yml
  .github/workflows/pr-validation.yml
  .github/workflows/production-release.yml
  .github/workflows/reusable-build-test.yml
  .vscode/settings.json
  Documentation/CI-CD-WORKFLOW-IMPLEMENTATION.md
  PowerShell/Setup-BranchProtection.ps1
Due: none

Path conditions:
  core: any of: BusBuddy.Core/, but not: **/*.Designer.cs, **/AssemblyInfo.cs, **/Migrations/**, **/obj/**, **/bin/**, **/packages/**, **/*.g.cs, **/*.g.i.cs, **/MainWindow.xaml.cs, **/App.xaml.cs
  wpf: any of: BusBuddy.WPF/, but not: **/*.Designer.cs, **/AssemblyInfo.cs, **/Migrations/**, **/obj/**, **/bin/**, **/packages/**, **/*.g.cs, **/*.g.i.cs, **/MainWindow.xaml.cs, **/App.xaml.cs
  tests: any of: BusBuddy.Tests/, but not: **/*.Designer.cs, **/AssemblyInfo.cs, **/Migrations/**, **/obj/**, **/bin/**, **/packages/**, **/*.g.cs, **/*.g.i.cs, **/MainWindow.xaml.cs, **/App.xaml.cs
