Repository Bigessfour/BusBuddy-3: changes, and which Codecov flags are due for each by the changed paths.
All: core, wpf, tests

codecov.yml:

# Codecov configuration for Bus Buddy WPF project
# Documentation: https://docs.codecov.com/docs/codecov-yaml

codecov:
  # Token is provided via GitHub Actions secret CODECOV_TOKEN
  # Never commit the actual token value to version control

  # Require CI to pass before accepting coverage
  require_ci_to_pass: true # Disable status checks while setting up
  disable_default_path_fixes: false

# Coverage settings
coverage:
  precision: 2
  round: down
  range: "70...100"

  # Status configuration
  status:
    project:
      default:
        target: auto
        threshold: 1%
        if_not_found: success
        if_ci_failed: error
    patch:
      default:
        target: auto
        threshold: 1%
        if_not_found: success
        if_ci_failed: error

# Comment configuration
comment:
  layout: "reach,diff,flags,tree"
  behavior: default
  require_changes: false

# Ignore paths that shouldn't affect coverage
ignore:
  - "**/*.Designer.cs"
  - "**/AssemblyInfo.cs"
  - "**/Migrations/**"
  - "**/obj/**"
  - "**/bin/**"
  - "**/packages/**"
  - "**/*.g.cs"
  - "**/*.g.i.cs"
  - "**/MainWindow.xaml.cs" # Generated XAML code-behind
  - "**/App.xaml.cs" # Application startup code

# File-specific settings
flags:
  core:
    paths:
      - "BusBuddy.Core/"
  wpf:
    paths:
      - "BusBuddy.WPF/"
  tests:
    paths:
      - "BusBuddy.Tests/"

chore: add Append-RawLinksToGrok script for appending raw links to GROK-README.md
  PowerShell/Scripts/Append-RawLinksToGrok.ps1
Due: none

fix: resolve compilation errors in JsonDataImporter
  .github/workflows/seed-students.yml
  .vscode/tasks.json
  BusBuddy.Core/Data/BusBuddyDbContext.cs
  BusBuddy.Core/Data/BusBuddyDbContextFactory.cs
  BusBuddy.Core/Data/wiley-school-district-data.json
  BusBuddy.Core/Extensions/ServiceCollectionExtensions.cs
  BusBuddy.Core/Models/Family.cs
  BusBuddy.Core/Services/StudentService.cs
  BusBuddy.Core/Utilities/EnvironmentHelper.cs
  BusBuddy.Core/Utilities/JsonDataImporter.cs
  BusBuddy.WPF/ViewModels/Student/StudentFormViewModel.cs
  BusBuddy.WPF/ViewModels/Student/StudentsViewModel.cs
  BusBuddy.WPF/Views/Student/StudentForm.xaml.cs
  BusBuddy.WPF/appsettings.json
  GrokResources/GPT-5 actions/ButtonFormValidationReport.md
  GrokResources/GPT-5 actions/HardCodedColorsReport.md
  GrokResources/GPT-5 actions/LoggingEnhancementReport.md
  GrokResources/GPT-5 actions/Runtime-Analysis-Report.md
  GrokResources/GPT-5 actions/SfSkinManagerReport.md
  PowerShell/Scripts/Use-ProductionDB.ps1
  TestDataSeeding/Program.cs
  TestDataSeeding/TestDataSeeding.csproj
  appsettings.json
Due: core, wpf

feat(data): add Wiley School District seed file wiley-school-district-data.json to fix file-not-found and support Riders_Staging seeding
  BusBuddy.Core/Data/wiley-school-district-data.json
Due: core

feat(seeding): add JSON seeding via SeedDataService and wire startup; load appsettings.{ENV}.json; config cleanup (move WileyJsonPath to env configs)
  BusBuddy.Core/Services/SeedDataService.cs
  BusBuddy.WPF/App.xaml.cs
  appsettings.json
Due: core

docs(grok): add fetchable links for JSON seeding changes (SeedDataService, App.xaml.cs, env appsettings)
  GROK-README.md
Due: none

docs(grok): record CA1869 fix (cached JsonSerializerOptions) + clean build; add fetchable raw links
  GROK-README.md
Due: none

fix(validation): relax phone validation to warn-by-default for MVP; prevent StudentService from blocking saves on phone format unless strict mode is set
  BusBuddy.Core/Services/StudentService.cs
  GROK-README.md
Due: core

feat(route-management): theme via SfSkinManager, fix enablement, implement Add/Edit/Delete; fix(student-form): SelectedValue RouteName binding for AM/PM routes; build clean
  .github/workflows/build-and-test.yml
  .github/workflows/build-reusable.yml
  .github/workflows/ci-build-test.yml
  .github/workflows/dependency-review.yml
  .github/workflows/example-caller.yml
  .github/workflows/quality-gate.yml
  .github/workflows/release.yml
  .github/workflows/simplified-ci.yml
  .github/workflows/xaml-validation.yml
  .vscode/tasks.json
  BusBuddy.Core/Services/StudentService.cs
  BusBuddy.Tests/Core/StudentServiceTests.cs
  BusBuddy.WPF/ViewModels/Route/RouteManagementViewModel.cs
  BusBuddy.WPF/Views/Route/RouteManagementView.xaml
  BusBuddy.WPF/Views/Route/RouteManagementView.xaml.cs
  BusBuddy.WPF/Views/Student/StudentForm.xaml
Due: core, wpf, tests

docs(grok): add Aug 11 delta for Route Mgmt theming+CRUD and StudentForm route binding; build clean
  GROK-README.md
Due: none

backup: full repository snapshot prior to technician maintenance (RouteAssignmentViewModel repair, constructors added, GROK-README update)
  .github/workflows/build-and-test (1).yml
  .github/workflows/ci.yml
  .github/workflows/code-quality-gate.yml
  .github/workflows/performance-monitoring.yml
  .github/workflows/production-release.yml
  BusBuddy.Core/Services/IRouteService.cs
  BusBuddy.Core/Services/RouteService.cs
  BusBuddy.WPF/Commands/RelayCommand.cs
  BusBuddy.WPF/Resources/SyncfusionV30_Validated_ResourceDictionary.xaml
  BusBuddy.WPF/ViewModels/Bus/BusFormViewModel.cs
  BusBuddy.WPF/ViewModels/MainWindowViewModel.cs
  BusBuddy.WPF/ViewModels/Route/RouteAssignmentViewModel.cs
  BusBuddy.WPF/ViewModels/Route/RouteEditDialogViewModel.cs
  BusBuddy.WPF/ViewModels/Route/RouteManagementViewModel.cs
  BusBuddy.WPF/ViewModels/RouteManagementViewModel.cs
  BusBuddy.WPF/ViewModels/Sports/SportsSchedulingViewModel.cs
  BusBuddy.WPF/ViewModels/Vehicle/VehiclesViewModel.cs
  BusBuddy.WPF/Views/Main/MainWindow.xaml.cs
  BusBuddy.WPF/Views/Route/RouteAssignmentView.xaml
  BusBuddy.WPF/Views/Route/RouteAssignmentView.xaml.cs
  BusBuddy.WPF/Views/Route/RouteEditDialog.xaml
  BusBuddy.WPF/Views/Route/RouteManagementView.xaml.cs
  GROK-README.md
Due: core, wpf

docs: add DISASTER-RECOVERY-GUIDE for full reinstall & recovery procedures
  DISASTER-RECOVERY-GUIDE.md
Due: none

chore: enhance route PDF export (logging + proactive map snapshot) & update GROK-README delta; add VM dispose pattern
  .vscode/settings.json
  BusBuddy.Core/Services/IRouteService.cs
  BusBuddy.Core/Services/PdfReportService.cs
  BusBuddy.Core/Services/RouteService.cs
  BusBuddy.WPF/ViewModels/GoogleEarth/GoogleEarthViewModel.cs
  BusBuddy.WPF/ViewModels/Route/RouteAssignmentViewModel.cs
  BusBuddy.WPF/Views/GoogleEarth/GoogleEarthView.xaml.cs
  GROK-README.md
Due: core, wpf

fix: remove duplicate Dispose in RouteAssignmentViewModel (resolve CS0111)
  BusBuddy.WPF/ViewModels/Route/RouteAssignmentViewModel.cs
Due: wpf

docs: update GROK-README with converter fix, JSON root-array fallback, and build props cleanup
  BusBuddy.Core/Utilities/JsonDataImporter.cs
  BusBuddy.WPF/Views/Route/RouteAssignmentView.xaml
  Directory.Build.props
  GROK-README.md
Due: core, wpf

feat: route assignment/stops enhancements + docs
  BusBuddy.Core/Data/BusBuddyDbContext.cs
  BusBuddy.Core/Services/PdfReportService.cs
  BusBuddy.Core/Services/RouteService.cs
  BusBuddy.Core/Utilities/JsonDataImporter.cs
  BusBuddy.Core/Utilities/RoutePdfPrinter.cs
  BusBuddy.Tests/Core/RouteStopReorderTests.cs
  BusBuddy.WPF/App.xaml.cs
  BusBuddy.WPF/ViewModels/Route/RouteAssignmentViewModel.cs
  BusBuddy.WPF/ViewModels/Route/RouteManagementViewModel.cs
  BusBuddy.WPF/ViewModels/Student/StudentFormViewModel.cs
  BusBuddy.WPF/ViewModels/Student/StudentsViewModel.cs
  BusBuddy.WPF/ViewModels/Vehicle/VehicleManagementViewModel.cs
  BusBuddy.WPF/Views/Bus/BusEditDialog.xaml
  BusBuddy.WPF/Views/Bus/BusEditDialog.xaml.cs
  BusBuddy.WPF/Views/Driver/DriverManagementView.xaml
  BusBuddy.WPF/Views/Driver/DriversView.xaml.cs
  BusBuddy.WPF/Views/Main/MainWindow.xaml
  BusBuddy.WPF/Views/Main/MainWindow.xaml.cs
  BusBuddy.WPF/Views/Route/RouteAssignmentView.xaml
  BusBuddy.WPF/Views/Route/RouteAssignmentView.xaml.cs
  BusBuddy.WPF/Views/Route/RouteForm.xaml
  BusBuddy.WPF/Views/Route/RouteManagementView.xaml
  BusBuddy.WPF/Views/Route/RouteManagementView.xaml.cs
  BusBuddy.WPF/Views/Route/RouteStopsEditor.xaml
  BusBuddy.WPF/Views/Route/RouteStopsEditor.xaml.cs
  BusBuddy.WPF/Views/Student/QuickActionsDialog.xaml
  BusBuddy.WPF/Views/Student/QuickActionsDialog.xaml.cs
  BusBuddy.WPF/Views/Student/StudentsView.xaml
  BusBuddy.WPF/Views/Student/StudentsView.xaml.cs
  GROK-README.md
Due: core, wpf, tests

feat: eligibility route PDF generation + internal preview window; always create PdfReports with NO-DATA placeholder when empty; added CustomBrushes resources
  BusBuddy.Core/Models/Driver.cs
  BusBuddy.Core/Services/PdfReportService.cs
  BusBuddy.WPF/App.xaml
  BusBuddy.WPF/App.xaml.cs
  BusBuddy.WPF/Resources/Themes/CustomBrushes.xaml
  BusBuddy.WPF/ViewModels/Bus/BusFormViewModel.cs
  BusBuddy.WPF/ViewModels/Driver/DriverFormViewModel.cs
  BusBuddy.WPF/ViewModels/Driver/DriversViewModel.cs
  BusBuddy.WPF/ViewModels/GoogleEarth/GoogleEarthViewModel.cs
  BusBuddy.WPF/ViewModels/Route/RouteManagementViewModel.cs
  BusBuddy.WPF/Views/Bus/BusForm.xaml
  BusBuddy.WPF/Views/Bus/BusForm.xaml.cs
  BusBuddy.WPF/Views/Driver/DriverForm.xaml
  BusBuddy.WPF/Views/GoogleEarth/GoogleEarthView.xaml
  BusBuddy.WPF/Views/GoogleEarth/GoogleEarthView.xaml.cs
  BusBuddy.WPF/Views/Main/MainWindow.xaml
  BusBuddy.WPF/Views/Main/MainWindow.xaml.cs
  BusBuddy.WPF/Views/Reports/PdfPreviewWindow.xaml
  BusBuddy.WPF/Views/Reports/PdfPreviewWindow.xaml.cs
Due: core, wpf

ci: add cache, quality gate, syncfusion guard, auto-labeling to CI PR gate
  .github/workflows/ci-pr-gate.yml
Due: none

refactor: add DockingManager navigation service (step 1) and prep modal->document migration
  BusBuddy.WPF/Services/Navigation/INavigationService.cs
  BusBuddy.WPF/Services/Navigation/NavigationService.cs
  BusBuddy.WPF/Views/Main/MainWindow.xaml.cs
Due: wpf

test: align tests with updated connection fallback, validation tightening, and in-memory Wiley tests
  BusBuddy.Tests/Core/ConfigurationTests.cs
  BusBuddy.Tests/Core/StudentServiceTests.cs
  BusBuddy.Tests/Core/WileyTests.cs
  BusBuddy.Tests/ViewModels/Student/StudentFormViewModelTests.cs
  BusBuddy.WPF/ViewModels/Student/StudentFormViewModel.cs
Due: wpf, tests

feat: unify scheduling — add UnifiedScheduler (SfScheduler) and plan; deprecate route scheduler and mark Sports VM obsolete; fix Test-XmlSyntax analyzer note
  .github/workflows/ci.yml
  .github/workflows/duplicate-check.yml
  .vscode/settings.json
  BusBuddy.Core/Services/PdfReportService.cs
  BusBuddy.Tests/Core/WileyTests.cs
  BusBuddy.WPF/Documentation/PROFESSIONAL_DEVELOPMENT_GAPS.md
  BusBuddy.WPF/ViewModels/Sports/SportsSchedulerViewModel.cs
  BusBuddy.WPF/ViewModels/UnifiedSchedulerViewModel.cs
  BusBuddy.WPF/Views/Activity/ActivityManagementView.xaml
  BusBuddy.WPF/Views/Activity/ActivityTimelineView.xaml
  BusBuddy.WPF/Views/Common/IDialogHostable.cs
  BusBuddy.WPF/Views/Driver/DriversView.xaml
  BusBuddy.WPF/Views/Schedule/UnifiedSchedulerView.xaml
  BusBuddy.WPF/Views/Schedule/UnifiedSchedulerView.xaml.cs
  BusBuddy.WPF/Views/Student/StudentsView.xaml
  BusBuddy.WPF/Views/Vehicle/VehiclesView.xaml
  Documentation/Languages/YAML-STANDARDS.md
  GROK-README.md
  PowerShell/Modules/BusBuddy.AzureSqlHealth/BusBuddy.AzureSqlHealth.psm1
  PowerShell/Modules/BusBuddy.Cleanup/BusBuddy.Cleanup.psm1
  PowerShell/Modules/BusBuddy.TestWatcher/BusBuddy.TestWatcher.psm1
  PowerShell/Modules/BusBuddy.ThemeValidation/BusBuddy.ThemeValidation.psm1
  PowerShell/Modules/BusBuddy/BusBuddy.psm1
  PowerShell/Modules/Validation/DuplicateFiles.psm1
  PowerShell/Scripts/Utilities/Test-XmlSyntax.ps1
  PowerShell/Tests/AzureSqlHealth.Tests.ps1
  PowerShell/Tests/Cleanup.Tests.ps1
  PowerShell/Tests/ThemeValidation.Tests.ps1
  PowerShell/Validation/Find-DuplicateFiles.ps1
  README.md
  duplicate_different_list.txt
  duplicate_identical_list.txt
  phase_files_list.txt
  tooling/duplicate-baseline.json
  tooling/duplicate-resolution-manifest.json
Due: core, wpf, tests

docs: add Unified Scheduler test docs (README/SETUP) and stage scheduler tests; make UnifiedSchedulerViewModel testable
  BusBuddy.Tests/SchedulerTests/ScheduleDataProviderTests.cs
  BusBuddy.Tests/SchedulerTests/UnifiedSchedulerViewModelTests.cs
  BusBuddy.WPF/ViewModels/UnifiedSchedulerViewModel.cs
  README.md
  SETUP-GUIDE.md
Due: wpf, tests

chore: sync VS Code settings (no functional changes)
  .vscode/settings.json
Due: none

chore: add raw-index.entries.json reference file
  raw-index.entries.json
Due: none

ci: add Scheduler Smoke Tests job to run TestCategory=Scheduler early
  .github/workflows/ci.yml
Due: none

docs(readme): note current ci.yml issues and quick fixes (indentation, enable-AzPSSession placement, cleanup guard)
  README.md
Due: none

ci: fix ci.yml step indentation and azure/login config; data: make SeedDataService top-up idempotent with unique Bus fields
  .github/workflows/ci.yml
  BusBuddy.Core/Services/SeedDataService.cs
  PowerShell/Networking/AzureSqlFirewallHelpers.ps1
  PowerShell/Networking/Disable-AzureSqlAccess.ps1
  PowerShell/Networking/Enable-AzureSqlAccess.ps1
Due: core

docs(readme): add EF migration fix steps and seed data top-up workflow (JSON importer, cleanup option)
  README.md
Due: none

Simplify CI pipeline: focus on build/test/migrate/publish for .NET 9 WPF with Syncfusion and Azure SQL
  .github/workflows/ci.yml
Due: none

docs: document simplified CI workflow, required secrets, and artifacts
  README.md
  SETUP-GUIDE.md
Due: none

docs: set simplified GitHub Actions CI as preferred workflow; add secrets and gh CLI guidance
  CONTRIBUTING.md
  DEVELOPMENT-GUIDE.md
Due: none

docs: set simplified CI as preferred workflow; fix default branch, add gh CLI + secrets refs
  CONTRIBUTING.md
  DEVELOPMENT-GUIDE.md
Due: none

docs: include SECRETS.md with CI secrets guidance and gh CLI helper
  .github/SECRETS.md
Due: none

ci: trigger on master and main for push/PR
  .github/workflows/ci.yml
Due: none

chore: add Compare-RawIndex.ps1 to validate raw-index against remote HEAD (master/main)
  PowerShell/Validation/Compare-RawIndex.ps1
Due: none

fix: update raw-index.entries.json to match current SHA.
  raw-index.entries.json
Due: none

chore: simplify CI pipeline for .NET 9 WPF with Syncfusion and Azure SQL.
  .github/workflows/ci.yml
Due: none

Update BusBuddy.psm1
  PowerShell/Modules/BusBuddy/BusBuddy.psm1
Due: none

Update UnifiedSchedulerView.xaml
  BusBuddy.WPF/Views/Schedule/UnifiedSchedulerView.xaml
Due: wpf
