Repository Bigessfour/BusBuddy-3: changes, and which Codecov flags are due for each by the changed paths.
All: core, wpf, tests

chore: delete parked *.disabled stubs and stop using that pattern (#84)
  .github/copilot-instructions.md
  .gitignore
  .specify/memory/constitution.md
  .trunk/README.md
  .trunk/trunk.yaml
  BusBuddy.Core/Configuration/EnhancedDatabaseStartup.cs.disabled
  BusBuddy.Core/Configuration/ServiceConfiguration.cs.disabled
  BusBuddy.Core/Services/AIEnhancedRouteService.cs.disabled
  BusBuddy.Core/Services/AzureConfigurationService.cs.disabled
  BusBuddy.Core/Services/IConfigurationService.cs.disabled
  BusBuddy.Core/Services/OptimizedXAIService.cs.disabled
  BusBuddy.Core/Services/XAIService.cs.disabled
  BusBuddy.Core/Utilities/DatabaseNullFixUtility.cs.disabled
  BusBuddy.WPF/Services/XAIChatServiceAdapter.cs.disabled
  BusBuddy.WPF/ViewModels/Vehicle/VehicleViewModel.cs.disabled
  Documentation/Archive/2026-06-VM-Docker-PS-RootHygiene/experiments/README.md
  Documentation/Archive/2026-06-VM-Docker-PS-RootHygiene/root-reports/GROK-README.md
  docs/action-items.md
  specs/007-maps-platform-geo/research.md
Due: core, wpf

refactor: split RouteService and RouteAssignmentViewModel into partials
  BusBuddy.Core/Services/RouteService.Assignments.cs
  BusBuddy.Core/Services/RouteService.Crud.cs
  BusBuddy.Core/Services/RouteService.Stops.cs
  BusBuddy.Core/Services/RouteService.cs
  BusBuddy.WPF/ViewModels/Route/RouteAssignmentViewModel.Commands.cs
  BusBuddy.WPF/ViewModels/Route/RouteAssignmentViewModel.Loading.cs
  BusBuddy.WPF/ViewModels/Route/RouteAssignmentViewModel.cs
  docs/action-items.md
Due: core, wpf

refactor: split RouteService and RouteAssignmentViewModel into partials (#85)
  BusBuddy.Core/Services/RouteService.Assignments.cs
  BusBuddy.Core/Services/RouteService.Crud.cs
  BusBuddy.Core/Services/RouteService.Stops.cs
  BusBuddy.Core/Services/RouteService.cs
  BusBuddy.WPF/ViewModels/Route/RouteAssignmentViewModel.Commands.cs
  BusBuddy.WPF/ViewModels/Route/RouteAssignmentViewModel.Loading.cs
  BusBuddy.WPF/ViewModels/Route/RouteAssignmentViewModel.cs
  docs/action-items.md
Due: core, wpf

fix: persist route drive paths from published stops, not grid JSON (#82)
  BusBuddy.Core/Services/GoogleMaps/RouteDrivePathRefresher.cs
  BusBuddy.Core/Services/GoogleMaps/RouteStopOrderPlanner.cs
  BusBuddy.Core/Services/IRouteService.cs
  BusBuddy.Core/Services/OperationalReportService.cs
  BusBuddy.Core/Services/RouteService.Stops.cs
  BusBuddy.Tests/Core/GoogleRouteOptimizationServiceTests.cs
  BusBuddy.Tests/Core/MapsGeoServiceTests.cs
  BusBuddy.Tests/Core/OperationalReportServiceTests.cs
  BusBuddy.Tests/WPF/RouteManagementViewModelTests.cs
  BusBuddy.Tests/WPF/RouteManagementViewTests.cs
  BusBuddy.Tests/WPF/RouteOptimizationSurfaceTests.cs
  BusBuddy.WPF/App.xaml.cs
  BusBuddy.WPF/ViewModels/Route/RouteManagementExportHelper.cs
  BusBuddy.WPF/ViewModels/Route/RouteManagementViewModel.Assignment.cs
  BusBuddy.WPF/ViewModels/Route/RouteManagementViewModel.Planning.cs
  BusBuddy.WPF/ViewModels/Route/RouteManagementViewModel.cs
  docs/action-items.md
Due: core, wpf, tests

fix: host SfMap pins after TransformToVisual succeeds
  BusBuddy.Tests/WPF/MapViewTests.cs
  BusBuddy.Tests/WPF/UiRuntimeLoggingTests.cs
  BusBuddy.WPF/App.xaml.cs
  BusBuddy.WPF/Utilities/GoogleMapTilesImageryLayer.cs
  BusBuddy.WPF/Utilities/MapMarkerHost.cs
  BusBuddy.WPF/Views/Map/MapView.xaml
  BusBuddy.WPF/Views/Map/MapView.xaml.cs
  BusBuddy.WPF/Views/Student/PickupStopForm.xaml
  BusBuddy.WPF/Views/Student/PickupStopForm.xaml.cs
  BusBuddy.WPF/Views/Student/SchoolDestinationForm.xaml
  BusBuddy.WPF/Views/Student/SchoolDestinationForm.xaml.cs
  docs/action-items.md
Due: wpf, tests

fix: retry SfMap pins until marker templates finish layout
  BusBuddy.Tests/WPF/MapViewTests.cs
  BusBuddy.Tests/WPF/UiRuntimeLoggingTests.cs
  BusBuddy.WPF/Utilities/GoogleMapTilesImageryLayer.cs
  BusBuddy.WPF/Utilities/MapMarkerHost.cs
  BusBuddy.WPF/Views/Map/MapView.xaml.cs
  BusBuddy.WPF/Views/Student/PickupStopForm.xaml.cs
  BusBuddy.WPF/Views/Student/SchoolDestinationForm.xaml.cs
Due: wpf, tests

Render route sheets with PdfGrid and a stop-time projector.
  BusBuddy.Core/Services/RouteSummaryDocument.cs
  BusBuddy.Tests/Core/RouteSummaryDocumentTests.cs
Due: core, tests

fix: host SfMap pins after TransformToVisual succeeds (#86)
  BusBuddy.Tests/WPF/MapViewTests.cs
  BusBuddy.Tests/WPF/UiRuntimeLoggingTests.cs
  BusBuddy.WPF/App.xaml.cs
  BusBuddy.WPF/Utilities/GoogleMapTilesImageryLayer.cs
  BusBuddy.WPF/Utilities/MapMarkerHost.cs
  BusBuddy.WPF/Views/Map/MapView.xaml
  BusBuddy.WPF/Views/Map/MapView.xaml.cs
  BusBuddy.WPF/Views/Student/PickupStopForm.xaml
  BusBuddy.WPF/Views/Student/PickupStopForm.xaml.cs
  BusBuddy.WPF/Views/Student/SchoolDestinationForm.xaml
  BusBuddy.WPF/Views/Student/SchoolDestinationForm.xaml.cs
  docs/action-items.md
Due: wpf, tests

Add PdfGrid route-sheet and tabular renderers.
  BusBuddy.Core/Services/PdfTabularGridRenderer.cs
  BusBuddy.Core/Services/RouteSummaryPdfRenderer.cs
Due: core

Point RoutePdfPrinter at the PdfGrid route sheet.
  BusBuddy.Core/Utilities/RoutePdfPrinter.cs
Due: core

Align PdfGrid with Syncfusion pagination, RepeatHeader, and page templates.
  BusBuddy.Core/Services/PdfGridSupport.cs
  BusBuddy.Core/Services/PdfTabularGridRenderer.cs
Due: core

Route sheet uses document templates and chained PdfGridLayoutResult.
  BusBuddy.Core/Services/RouteSummaryPdfRenderer.cs
Due: core

fix: print route sheets from stop clocks with PdfGrid letterhead
  BusBuddy.Core/Services/OperationalReportService.cs
  BusBuddy.Core/Services/PdfReportService.cs
  BusBuddy.Core/Services/RouteSummaryPdfRenderer.cs
  BusBuddy.Core/Services/RouteSummarySheet.cs
  BusBuddy.Core/Services/RouteSummarySheetBuilder.cs
  BusBuddy.Core/Utilities/RoutePdfPrinter.cs
  BusBuddy.Tests/Core/PdfReportServiceTests.cs
  BusBuddy.Tests/Core/RouteSummarySheetBuilderTests.cs
  docs/action-items.md
Due: core, tests

fix: print route sheets from stop clocks with PdfGrid letterhead (#88)
  BusBuddy.Core/Services/OperationalReportService.cs
  BusBuddy.Core/Services/PdfReportService.cs
  BusBuddy.Core/Services/RouteSummaryPdfRenderer.cs
  BusBuddy.Core/Services/RouteSummarySheet.cs
  BusBuddy.Core/Services/RouteSummarySheetBuilder.cs
  BusBuddy.Core/Utilities/RoutePdfPrinter.cs
  BusBuddy.Tests/Core/PdfReportServiceTests.cs
  BusBuddy.Tests/Core/RouteSummarySheetBuilderTests.cs
  docs/action-items.md
Due: core, tests

Route Assignment Report/Print Map/Schedule use the PdfGrid sheet.
  BusBuddy.WPF/ViewModels/Route/RouteAssignmentViewModel.Reports.cs
Due: wpf

Route Assignment Report/Print Map/Schedule use the PdfGrid sheet. (#89)
  BusBuddy.WPF/ViewModels/Route/RouteAssignmentViewModel.Reports.cs
Due: wpf

fix: bind assignment Schedule, Report, and Print Map to PdfGrid sheet
  BusBuddy.Tests/WPF/RouteAssignmentViewTests.cs
  BusBuddy.WPF/ViewModels/Route/RouteAssignmentViewModel.Commands.cs
  BusBuddy.WPF/ViewModels/Route/RouteAssignmentViewModel.cs
  BusBuddy.WPF/Views/Route/RouteAssignmentView.xaml
  docs/action-items.md
Due: wpf, tests

fix: bind assignment Schedule, Report, and Print Map to PdfGrid sheet (#90)
  BusBuddy.Tests/WPF/RouteAssignmentViewTests.cs
  BusBuddy.WPF/ViewModels/Route/RouteAssignmentViewModel.Commands.cs
  BusBuddy.WPF/ViewModels/Route/RouteAssignmentViewModel.cs
  BusBuddy.WPF/Views/Route/RouteAssignmentView.xaml
  docs/action-items.md
Due: wpf, tests

docs: add production deep-clean analysis report
  docs/PROD_DEEP_CLEAN_ANALYSIS.md
Due: none

Remove safe orphan files identified in prod deep-clean analysis
  BusBuddy.Core/Services/BusBuddyAIReportingService.cs
  BusBuddy.Core/Services/BusBuddyScheduleDataProvider.cs
  BusBuddy.Core/Services/IBusRepository.cs
  BusBuddy.Core/Utilities/DatabaseResilienceService.cs
  BusBuddy.Tests/WileyTests.cs
  BusBuddy.WPF/Controls/QuickActionsPanel.xaml
  BusBuddy.WPF/Controls/QuickActionsPanel.xaml.cs
  BusBuddy.WPF/Controls/StudentStatisticsPanel.xaml
  BusBuddy.WPF/Controls/StudentStatisticsPanel.xaml.cs
  BusBuddy.WPF/Extensions/ServiceCollectionExtensions.cs
  BusBuddy.WPF/Models/Activity/ActivityItem.cs
  BusBuddy.WPF/Models/ChatMessage.cs
  BusBuddy.WPF/Models/DataIntegrityIssue.cs
  BusBuddy.WPF/Models/DataIntegrityReport.cs
  BusBuddy.WPF/Resources/Styles/SyncfusionOverrides.xaml
  BusBuddy.WPF/Services/DevelopmentModeService.cs
  BusBuddy.WPF/Services/LazyViewModelService.cs
  BusBuddy.WPF/Services/StartupPreloadService.cs
  BusBuddy.WPF/Utilities/BackgroundTaskManager.cs
  BusBuddy.WPF/Utilities/PerformanceOptimizer.cs
  BusBuddy.WPF/Utilities/ResourceDictionaryDuplicateKeyResolver.cs
  BusBuddy.WPF/Utilities/StartupPerformanceMonitor.cs
  BusBuddy.WPF/Utilities/XamlErrorHandler.cs
  BusBuddy.WPF/ViewModels/LoadingViewModel.cs
  BusBuddy.WPF/ViewModels/Panels/PanelViewModel.cs
  BusBuddy.WPF/ViewModels/QuickActionsViewModel.cs
  Documentation/Archive/WileySeeder.csproj
Due: core, wpf, tests

Remove safe orphan files identified in prod deep-clean analysis (#93)
  BusBuddy.Core/Services/BusBuddyAIReportingService.cs
  BusBuddy.Core/Services/BusBuddyScheduleDataProvider.cs
  BusBuddy.Core/Services/IBusRepository.cs
  BusBuddy.Core/Utilities/DatabaseResilienceService.cs
  BusBuddy.Tests/WileyTests.cs
  BusBuddy.WPF/Controls/QuickActionsPanel.xaml
  BusBuddy.WPF/Controls/QuickActionsPanel.xaml.cs
  BusBuddy.WPF/Controls/StudentStatisticsPanel.xaml
  BusBuddy.WPF/Controls/StudentStatisticsPanel.xaml.cs
  BusBuddy.WPF/Extensions/ServiceCollectionExtensions.cs
  BusBuddy.WPF/Models/Activity/ActivityItem.cs
  BusBuddy.WPF/Models/ChatMessage.cs
  BusBuddy.WPF/Models/DataIntegrityIssue.cs
  BusBuddy.WPF/Models/DataIntegrityReport.cs
  BusBuddy.WPF/Resources/Styles/SyncfusionOverrides.xaml
  BusBuddy.WPF/Services/DevelopmentModeService.cs
  BusBuddy.WPF/Services/LazyViewModelService.cs
  BusBuddy.WPF/Services/StartupPreloadService.cs
  BusBuddy.WPF/Utilities/BackgroundTaskManager.cs
  BusBuddy.WPF/Utilities/PerformanceOptimizer.cs
  BusBuddy.WPF/Utilities/ResourceDictionaryDuplicateKeyResolver.cs
  BusBuddy.WPF/Utilities/StartupPerformanceMonitor.cs
  BusBuddy.WPF/Utilities/XamlErrorHandler.cs
  BusBuddy.WPF/ViewModels/LoadingViewModel.cs
  BusBuddy.WPF/ViewModels/Panels/PanelViewModel.cs
  BusBuddy.WPF/ViewModels/QuickActionsViewModel.cs
  Documentation/Archive/WileySeeder.csproj
Due: core, wpf, tests

feat: UTM agent RPC plus Route Assignment dock fill
  .cursor/rules/utm-bridge.mdc
  .function-inventory.json
  AGENTS.md
  BusBuddy.Core/Services/OllamaAiService.cs
  BusBuddy.Tests/WPF/MapViewTests.cs
  BusBuddy.Tests/WPF/NumpadInputHelperTests.cs
  BusBuddy.Tests/WPF/RouteAssignmentToolbarSmokeTests.cs
  BusBuddy.Tests/WPF/RouteAssignmentViewTests.cs
  BusBuddy.Tests/WPF/RouteManagementViewTests.cs
  BusBuddy.Tests/WPF/UiRuntimeLoggingTests.cs
  BusBuddy.WPF/Logging/UiSurfaceProbe.cs
  BusBuddy.WPF/Logging/WpfTraceSerilogListener.cs
  BusBuddy.WPF/Services/OllamaChatService.cs
  BusBuddy.WPF/Utilities/GoogleMapTilesImageryLayer.cs
  BusBuddy.WPF/Utilities/NumpadInputHelper.cs
  BusBuddy.WPF/ViewModels/Route/RouteAssignmentViewModel.Commands.cs
  BusBuddy.WPF/ViewModels/Route/RouteAssignmentViewModel.Schedule.cs
  BusBuddy.WPF/ViewModels/Route/RouteAssignmentViewModel.cs
  BusBuddy.WPF/Views/Map/MapView.xaml
  BusBuddy.WPF/Views/Map/MapView.xaml.cs
  BusBuddy.WPF/Views/Route/RouteAssignmentView.xaml
  BusBuddy.WPF/Views/Route/RouteAssignmentView.xaml.cs
  BusBuddy.WPF/Views/Route/RouteStopsEditor.xaml
  DEVELOPMENT-GUIDE.md
  README.md
  Scripts/Enable-BusBuddyOpenSSH.ps1
  Scripts/score-route-assignment-logs.ps1
  Scripts/utm-dev-bridge.env.example
  Scripts/utm-dev-bridge.inc
  Scripts/utm-dev-bridge.sh
  Scripts/utm-route-assignment-mouse.ps1
  Scripts/utm-route-assignment-smoke.sh
  Scripts/utm-wpf-test.sh
  docs/action-items.md
  docs/done-checklist.md
  docs/instructor-packet/00-brief.md
  docs/utm-dev-bridge.md
  run-wpf.sh
  specs/005-hybrid-dev-environment/spec.md
  utm_run_in_vm.ps1
Due: core, wpf, tests

feat: UTM agent RPC plus Route Assignment dock fill (#94)
  .cursor/rules/utm-bridge.mdc
  .function-inventory.json
  AGENTS.md
  BusBuddy.Core/Services/OllamaAiService.cs
  BusBuddy.Tests/WPF/MapViewTests.cs
  BusBuddy.Tests/WPF/NumpadInputHelperTests.cs
  BusBuddy.Tests/WPF/RouteAssignmentToolbarSmokeTests.cs
  BusBuddy.Tests/WPF/RouteAssignmentViewTests.cs
  BusBuddy.Tests/WPF/RouteManagementViewTests.cs
  BusBuddy.Tests/WPF/UiRuntimeLoggingTests.cs
  BusBuddy.WPF/Logging/UiSurfaceProbe.cs
  BusBuddy.WPF/Logging/WpfTraceSerilogListener.cs
  BusBuddy.WPF/Services/OllamaChatService.cs
  BusBuddy.WPF/Utilities/GoogleMapTilesImageryLayer.cs
  BusBuddy.WPF/Utilities/NumpadInputHelper.cs
  BusBuddy.WPF/ViewModels/Route/RouteAssignmentViewModel.Commands.cs
  BusBuddy.WPF/ViewModels/Route/RouteAssignmentViewModel.Schedule.cs
  BusBuddy.WPF/ViewModels/Route/RouteAssignmentViewModel.cs
  BusBuddy.WPF/Views/Map/MapView.xaml
  BusBuddy.WPF/Views/Map/MapView.xaml.cs
  BusBuddy.WPF/Views/Route/RouteAssignmentView.xaml
  BusBuddy.WPF/Views/Route/RouteAssignmentView.xaml.cs
  BusBuddy.WPF/Views/Route/RouteStopsEditor.xaml
  DEVELOPMENT-GUIDE.md
  README.md
  Scripts/Enable-BusBuddyOpenSSH.ps1
  Scripts/score-route-assignment-logs.ps1
  Scripts/utm-dev-bridge.env.example
  Scripts/utm-dev-bridge.inc
  Scripts/utm-dev-bridge.sh
  Scripts/utm-route-assignment-mouse.ps1
  Scripts/utm-route-assignment-smoke.sh
  Scripts/utm-wpf-test.sh
  docs/action-items.md
  docs/done-checklist.md
  docs/instructor-packet/00-brief.md
  docs/utm-dev-bridge.md
  run-wpf.sh
  specs/005-hybrid-dev-environment/spec.md
  utm_run_in_vm.ps1
Due: core, wpf, tests

Extract ButtonAccessibilityAudit so seven views share one loaded-tree a11y pass.
  BusBuddy.WPF/Utilities/ButtonAccessibilityAudit.cs
  BusBuddy.WPF/Views/Driver/DriversView.xaml.cs
  BusBuddy.WPF/Views/Main/MainWindow.xaml.cs
  BusBuddy.WPF/Views/Route/RouteAssignmentView.xaml.cs
  BusBuddy.WPF/Views/Route/RouteManagementView.xaml.cs
  BusBuddy.WPF/Views/Student/StudentForm.xaml.cs
  BusBuddy.WPF/Views/Student/StudentsView.xaml.cs
  BusBuddy.WPF/Views/Vehicle/VehicleManagementView.xaml.cs
  docs/action-items.md
Due: wpf

Fix multi-route PDF merge keeping source streams open until save.
  BusBuddy.Core/Services/OperationalReportService.cs
Due: core

Improve route delete UX and Route Management clerk feedback.
  BusBuddy.Core/Services/RouteDeleteClerkMessages.cs
  BusBuddy.Core/Services/RouteService.Crud.cs
  BusBuddy.Tests/Core/RouteServiceTests.cs
  BusBuddy.Tests/WPF/MainWindowClerkPathTests.cs
  BusBuddy.Tests/WPF/RouteManagementViewModelTests.cs
  BusBuddy.Tests/WPF/RouteManagementViewTests.cs
  BusBuddy.WPF/Resources/BusBuddyInputStyles.xaml
  BusBuddy.WPF/ViewModels/Route/RouteManagementViewModel.Planning.cs
  BusBuddy.WPF/ViewModels/Route/RouteManagementViewModel.cs
  BusBuddy.WPF/Views/Route/RouteManagementView.xaml
  BusBuddy.WPF/Views/Route/RouteManagementView.xaml.cs
Due: core, wpf, tests

Route Assignment scroll, disabled tooltips, and not-riding feedback.
  BusBuddy.Tests/WPF/RouteAssignmentViewTests.cs
  BusBuddy.WPF/Utilities/RouteAssignmentLauncher.cs
  BusBuddy.WPF/ViewModels/Route/RouteAssignmentViewModel.CommandHints.cs
  BusBuddy.WPF/ViewModels/Route/RouteAssignmentViewModel.Commands.cs
  BusBuddy.WPF/ViewModels/Route/RouteAssignmentViewModel.cs
  BusBuddy.WPF/Views/Route/RouteAssignmentView.xaml
Due: wpf, tests

Complete Route folder audit remediations.
  .function-inventory.json
  BusBuddy.Core/Services/IRouteService.cs
  BusBuddy.Core/Services/RouteService.Stops.cs
  BusBuddy.Tests/Core/RouteServiceTests.cs
  BusBuddy.Tests/WPF/RouteAssignmentViewTests.cs
  BusBuddy.Tests/WPF/RouteScheduleViewModelTests.cs
  BusBuddy.Tests/WPF/RouteStopEditDialogViewModelTests.cs
  BusBuddy.WPF/ViewModels/Route/RouteAssignmentViewModel.CommandHints.cs
  BusBuddy.WPF/ViewModels/Route/RouteAssignmentViewModel.Commands.cs
  BusBuddy.WPF/ViewModels/Route/RouteAssignmentViewModel.cs
  BusBuddy.WPF/ViewModels/Route/RouteScheduleViewModel.cs
  BusBuddy.WPF/ViewModels/Route/RouteStopEditDialogViewModel.cs
  BusBuddy.WPF/Views/Route/RouteScheduleWindow.xaml
  BusBuddy.WPF/Views/Route/RouteStopEditDialog.xaml
  BusBuddy.WPF/Views/Route/RouteStopsEditor.xaml
  BusBuddy.WPF/Views/Route/RouteStopsEditor.xaml.cs
  docs/action-items.md
Due: core, wpf, tests

Restore Drive Path enablement when route StopCount is unknown.
  BusBuddy.Tests/WPF/RouteManagementViewModelTests.cs
  BusBuddy.WPF/ViewModels/Route/RouteManagementViewModel.cs
Due: wpf, tests

Align action-items with 2026-09-21 guest logs and PR #97 status.
  docs/action-items.md
Due: none

District Map roster/trail UX and route assignment polish for PR #97.
  .function-inventory.json
  BusBuddy.Tests/WPF/MapDistrictContractTests.cs
  BusBuddy.Tests/WPF/MapRouteTrailTests.cs
  BusBuddy.Tests/WPF/MapViewModelTests.cs
  BusBuddy.Tests/WPF/MapViewTests.cs
  BusBuddy.Tests/WPF/RouteAssignmentViewTests.cs
  BusBuddy.Tests/WPF/RouteManagementViewTests.cs
  BusBuddy.WPF/Converters/HexColorToBrushConverter.cs
  BusBuddy.WPF/Utilities/MapDistrictLayers.cs
  BusBuddy.WPF/Utilities/MapRouteTrail.cs
  BusBuddy.WPF/Utilities/MapRouteTrailLayer.cs
  BusBuddy.WPF/Utilities/MapViewLauncher.cs
  BusBuddy.WPF/Utilities/RouteDistrictMapLabels.cs
  BusBuddy.WPF/ViewModels/Map/MapViewModel.cs
  BusBuddy.WPF/ViewModels/Route/RouteAssignmentViewModel.Commands.cs
  BusBuddy.WPF/ViewModels/Route/RouteAssignmentViewModel.Reports.cs
  BusBuddy.WPF/ViewModels/Route/RouteAssignmentViewModel.Schedule.cs
  BusBuddy.WPF/ViewModels/Route/RouteAssignmentViewModel.cs
  BusBuddy.WPF/ViewModels/Route/RouteManagementViewModel.cs
  BusBuddy.WPF/Views/Map/MapView.xaml
  BusBuddy.WPF/Views/Map/MapView.xaml.cs
  BusBuddy.WPF/Views/Route/RouteAssignmentView.xaml
  BusBuddy.WPF/Views/Route/RouteManagementView.xaml
  BusBuddy.WPF/Views/Route/RouteManagementView.xaml.cs
  docs/action-items.md
  specs/maps.md
Due: wpf, tests

Skip UserToast when no WPF application so CI testhost can exit.
  BusBuddy.WPF/Utilities/UserToast.cs
Due: wpf

Path conditions:
  core: any of: BusBuddy.Core/, but not: **/*.Designer.cs, **/AssemblyInfo.cs, **/Migrations/**, **/obj/**, **/bin/**, **/packages/**, **/*.g.cs, **/*.g.i.cs, **/MainWindow.xaml.cs, **/App.xaml.cs
  wpf: any of: BusBuddy.WPF/, but not: **/*.Designer.cs, **/AssemblyInfo.cs, **/Migrations/**, **/obj/**, **/bin/**, **/packages/**, **/*.g.cs, **/*.g.i.cs, **/MainWindow.xaml.cs, **/App.xaml.cs
  tests: any of: BusBuddy.Tests/, but not: **/*.Designer.cs, **/AssemblyInfo.cs, **/Migrations/**, **/obj/**, **/bin/**, **/packages/**, **/*.g.cs, **/*.g.i.cs, **/MainWindow.xaml.cs, **/App.xaml.cs
