Repository Bigessfour/BusBuddy-3: changes, and which Codecov flags are due for each by the changed paths.
All: core, wpf, tests

feat: 008 route determination MVP (T001–T020)
  BusBuddy.Core/Configuration/RoutingDistrictSettings.cs
  BusBuddy.Core/Data/BusBuddyDbContext.cs
  BusBuddy.Core/Extensions/ServiceCollectionExtensions.cs
  BusBuddy.Core/Migrations/20260817160000_DestinationSchoolTimes.cs
  BusBuddy.Core/Migrations/BusBuddyDbContextModelSnapshot.cs
  BusBuddy.Core/Models/Destination.cs
  BusBuddy.Core/Models/StudentRideMode.cs
  BusBuddy.Core/Services/RouteDetermination/DensityCellBuilder.cs
  BusBuddy.Core/Services/RouteDetermination/IRouteDeterminationService.cs
  BusBuddy.Core/Services/RouteDetermination/README.md
  BusBuddy.Core/Services/RouteDetermination/RouteDeterminationModels.cs
  BusBuddy.Core/Services/RouteDetermination/RouteDeterminationService.cs
  BusBuddy.Core/Services/RouteDetermination/RoutePacker.cs
  BusBuddy.Core/appsettings.json
  BusBuddy.Tests/Core/RouteDetermination/DensityCellBuilderTests.cs
  BusBuddy.Tests/Core/RouteDetermination/RideModeMirrorTests.cs
  BusBuddy.Tests/Core/RouteDetermination/RoutePackingTests.cs
  BusBuddy.WPF/App.xaml.cs
  BusBuddy.WPF/ViewModels/GoogleEarth/GoogleEarthViewModel.cs
  BusBuddy.WPF/ViewModels/Route/RouteManagementViewModel.cs
  BusBuddy.WPF/Views/Route/RouteManagementView.xaml
  BusBuddy.WPF/appsettings.json
  docs/action-items.md
  specs/008-route-determination/tasks.md
Due: core, wpf, tests

feat: 008 route determination MVP (T001–T020) (#37)
  BusBuddy.Core/Configuration/RoutingDistrictSettings.cs
  BusBuddy.Core/Data/BusBuddyDbContext.cs
  BusBuddy.Core/Extensions/ServiceCollectionExtensions.cs
  BusBuddy.Core/Migrations/20260817160000_DestinationSchoolTimes.cs
  BusBuddy.Core/Migrations/BusBuddyDbContextModelSnapshot.cs
  BusBuddy.Core/Models/Destination.cs
  BusBuddy.Core/Models/StudentRideMode.cs
  BusBuddy.Core/Services/RouteDetermination/DensityCellBuilder.cs
  BusBuddy.Core/Services/RouteDetermination/IRouteDeterminationService.cs
  BusBuddy.Core/Services/RouteDetermination/README.md
  BusBuddy.Core/Services/RouteDetermination/RouteDeterminationModels.cs
  BusBuddy.Core/Services/RouteDetermination/RouteDeterminationService.cs
  BusBuddy.Core/Services/RouteDetermination/RoutePacker.cs
  BusBuddy.Core/appsettings.json
  BusBuddy.Tests/Core/RouteDetermination/DensityCellBuilderTests.cs
  BusBuddy.Tests/Core/RouteDetermination/RideModeMirrorTests.cs
  BusBuddy.Tests/Core/RouteDetermination/RoutePackingTests.cs
  BusBuddy.WPF/App.xaml.cs
  BusBuddy.WPF/ViewModels/GoogleEarth/GoogleEarthViewModel.cs
  BusBuddy.WPF/ViewModels/Route/RouteManagementViewModel.cs
  BusBuddy.WPF/Views/Route/RouteManagementView.xaml
  BusBuddy.WPF/appsettings.json
  docs/action-items.md
  specs/008-route-determination/tasks.md
Due: core, wpf, tests

fix: harden 008 generate path after MVP review
  BusBuddy.Core/Models/StudentRideMode.cs
  BusBuddy.Core/Services/RouteDetermination/RouteDeterminationService.cs
  BusBuddy.Tests/Core/RouteDetermination/RideModeMirrorTests.cs
  BusBuddy.WPF/ViewModels/GoogleEarth/GoogleEarthViewModel.cs
  docs/action-items.md
Due: core, wpf, tests

feat: 008 US2 assign fitness and review hardenings
  BusBuddy.Core/Extensions/ServiceCollectionExtensions.cs
  BusBuddy.Core/Services/IRouteService.cs
  BusBuddy.Core/Services/RouteDetermination/AssignFitnessEvaluator.cs
  BusBuddy.Core/Services/RouteDetermination/RouteDeterminationService.cs
  BusBuddy.Core/Services/RouteService.cs
  BusBuddy.Tests/Core/RouteDetermination/AssignFitnessTests.cs
  BusBuddy.WPF/App.xaml.cs
  BusBuddy.WPF/ViewModels/Route/RouteAssignmentViewModel.cs
  docs/action-items.md
  specs/008-route-determination/tasks.md
Due: core, wpf, tests

fix+feat: 008 generate hardenings and US2 assign fitness (#38)
  BusBuddy.Core/Extensions/ServiceCollectionExtensions.cs
  BusBuddy.Core/Models/StudentRideMode.cs
  BusBuddy.Core/Services/IRouteService.cs
  BusBuddy.Core/Services/RouteDetermination/AssignFitnessEvaluator.cs
  BusBuddy.Core/Services/RouteDetermination/RouteDeterminationService.cs
  BusBuddy.Core/Services/RouteService.cs
  BusBuddy.Tests/Core/RouteDetermination/AssignFitnessTests.cs
  BusBuddy.Tests/Core/RouteDetermination/RideModeMirrorTests.cs
  BusBuddy.WPF/App.xaml.cs
  BusBuddy.WPF/ViewModels/GoogleEarth/GoogleEarthViewModel.cs
  BusBuddy.WPF/ViewModels/Route/RouteAssignmentViewModel.cs
  docs/action-items.md
  specs/008-route-determination/tasks.md
Due: core, wpf, tests

feat: complete 008 US3–US4 and polish (T027–T041)
  .function-inventory.json
  BusBuddy.Core/Services/DestinationService.cs
  BusBuddy.Core/Services/Interfaces/IDestinationService.cs
  BusBuddy.Core/Services/RouteDetermination/IRouteDeterminationService.cs
  BusBuddy.Core/Services/RouteDetermination/PickupScheduleCalculator.cs
  BusBuddy.Core/Services/RouteDetermination/README.md
  BusBuddy.Core/Services/RouteDetermination/RouteDeterminationService.cs
  BusBuddy.Tests/Core/RouteDetermination/PickupScheduleTests.cs
  BusBuddy.Tests/Core/RouteDetermination/TransferFleetTests.cs
  BusBuddy.WPF/ViewModels/Route/RouteManagementViewModel.cs
  BusBuddy.WPF/ViewModels/Student/StudentFormViewModel.cs
  BusBuddy.WPF/Views/Route/RouteManagementView.xaml
  BusBuddy.WPF/Views/Student/StudentForm.xaml
  STEADY-STATE-AND-FINISH-ROADMAP.md
  docs/action-items.md
  docs/function-tree.md
  specs/008-route-determination/tasks.md
Due: core, wpf, tests

feat: complete 008 US3–US4 and polish (T027–T041) (#39)
  .function-inventory.json
  BusBuddy.Core/Services/DestinationService.cs
  BusBuddy.Core/Services/Interfaces/IDestinationService.cs
  BusBuddy.Core/Services/RouteDetermination/IRouteDeterminationService.cs
  BusBuddy.Core/Services/RouteDetermination/PickupScheduleCalculator.cs
  BusBuddy.Core/Services/RouteDetermination/README.md
  BusBuddy.Core/Services/RouteDetermination/RouteDeterminationService.cs
  BusBuddy.Tests/Core/RouteDetermination/PickupScheduleTests.cs
  BusBuddy.Tests/Core/RouteDetermination/TransferFleetTests.cs
  BusBuddy.WPF/ViewModels/Route/RouteManagementViewModel.cs
  BusBuddy.WPF/ViewModels/Student/StudentFormViewModel.cs
  BusBuddy.WPF/Views/Route/RouteManagementView.xaml
  BusBuddy.WPF/Views/Student/StudentForm.xaml
  STEADY-STATE-AND-FINISH-ROADMAP.md
  docs/action-items.md
  docs/function-tree.md
  specs/008-route-determination/tasks.md
Due: core, wpf, tests

fix: 008 review — regen timing, transfer stops, Both AM/PM
  BusBuddy.Core/Services/RouteDetermination/PickupScheduleCalculator.cs
  BusBuddy.Core/Services/RouteDetermination/RouteDeterminationModels.cs
  BusBuddy.Core/Services/RouteDetermination/RouteDeterminationService.cs
  BusBuddy.Core/Services/RouteService.cs
  BusBuddy.Tests/Core/RouteDetermination/PickupScheduleTests.cs
  BusBuddy.Tests/Core/RouteDetermination/TransferFleetTests.cs
  BusBuddy.WPF/ViewModels/Student/StudentFormViewModel.cs
  docs/action-items.md
  specs/008-route-determination/tasks.md
Due: core, wpf, tests

chore: backup stashed inventory and 008 docs WIP
  .function-inventory.json
  docs/function-inventory.generated.md
  docs/function-tree.md
  specs/008-route-determination/checklists/requirements.md
  specs/008-route-determination/contracts/assign-fitness.md
  specs/008-route-determination/data-model.md
  specs/008-route-determination/plan.md
  specs/008-route-determination/tasks.md
Due: none

chore: backup stashed action-items WIP
  docs/action-items.md
Due: none

chore: backup stashed IDE/trunk WIP (no PDF binaries)
  .editorconfig
  .trunk/configs/PSScriptAnalyzerSettings.psd1
  .trunk/trunk.yaml
  .vscode/omnisharp.json
  .vscode/settings.json
  skills-lock.json
Due: none

fix: 008 review — regen timing, transfer stops, Both AM/PM (#40)
  BusBuddy.Core/Services/RouteDetermination/PickupScheduleCalculator.cs
  BusBuddy.Core/Services/RouteDetermination/RouteDeterminationModels.cs
  BusBuddy.Core/Services/RouteDetermination/RouteDeterminationService.cs
  BusBuddy.Core/Services/RouteService.cs
  BusBuddy.Tests/Core/RouteDetermination/PickupScheduleTests.cs
  BusBuddy.Tests/Core/RouteDetermination/TransferFleetTests.cs
  BusBuddy.WPF/ViewModels/Student/StudentFormViewModel.cs
  docs/action-items.md
  specs/008-route-determination/tasks.md
Due: core, wpf, tests

fix: maps page ButtonAdv labels and header theme tokens
  BusBuddy.WPF/Resources/SyncfusionV30_Validated_ResourceDictionary.xaml
  BusBuddy.WPF/Resources/Themes/FluentDarkTheme.xaml
  BusBuddy.WPF/Resources/Themes/FluentLightTheme.xaml
  BusBuddy.WPF/Views/GoogleEarth/GoogleEarthView.xaml
  BusBuddy.WPF/Views/Main/MainWindow.xaml
Due: wpf

fix: maps page ButtonAdv labels and header theme tokens (#41)
  BusBuddy.WPF/Resources/SyncfusionV30_Validated_ResourceDictionary.xaml
  BusBuddy.WPF/Resources/Themes/FluentDarkTheme.xaml
  BusBuddy.WPF/Resources/Themes/FluentLightTheme.xaml
  BusBuddy.WPF/Views/GoogleEarth/GoogleEarthView.xaml
  BusBuddy.WPF/Views/Main/MainWindow.xaml
Due: wpf

fix: Route Assignment blank ButtonAdv labels and theme brushes
  BusBuddy.WPF/Resources/SyncfusionV30_Validated_ResourceDictionary.xaml
  BusBuddy.WPF/Views/Main/MainWindow.xaml
  BusBuddy.WPF/Views/Route/RouteAssignmentView.xaml
  BusBuddy.WPF/Views/Route/RouteStopsEditor.xaml
Due: wpf

fix: Student Management ButtonAdv glyphs and search watermark
  BusBuddy.WPF/Resources/Themes/FluentDarkTheme.xaml
  BusBuddy.WPF/Resources/Themes/FluentLightTheme.xaml
  BusBuddy.WPF/Views/Student/StudentsView.xaml
Due: wpf

fix: Driver Management FluentDark toolbar and ButtonAdv labels
  BusBuddy.WPF/Resources/Themes/FluentDarkTheme.xaml
  BusBuddy.WPF/Resources/Themes/FluentLightTheme.xaml
  BusBuddy.WPF/Views/Driver/DriverManagementView.xaml
  BusBuddy.WPF/Views/Driver/DriversView.xaml
  BusBuddy.WPF/Views/Student/StudentsView.xaml
Due: wpf

fix: strip emoji Labels and theme hardcodes across remaining views
  BusBuddy.WPF/Views/Activity/ActivityTimelineView.xaml
  BusBuddy.WPF/Views/Analytics/AnalyticsDashboardView.xaml
  BusBuddy.WPF/Views/Bus/BusEditDialog.xaml
  BusBuddy.WPF/Views/Bus/BusForm.xaml
  BusBuddy.WPF/Views/Dashboard/DashboardView.xaml
  BusBuddy.WPF/Views/Driver/DriverForm.xaml
  BusBuddy.WPF/Views/Driver/DriverScheduleView.xaml
  BusBuddy.WPF/Views/Fuel/FuelManagementView.xaml
  BusBuddy.WPF/Views/Fuel/FuelReconciliationDialog.xaml
  BusBuddy.WPF/Views/GoogleEarth/GoogleEarthView.xaml
  BusBuddy.WPF/Views/Main/MainWindow.xaml
  BusBuddy.WPF/Views/Maintenance/MaintenanceView.xaml
  BusBuddy.WPF/Views/Reports/ReportsView.xaml
  BusBuddy.WPF/Views/Route/RouteAssignmentView.xaml
  BusBuddy.WPF/Views/Route/RouteManagementView.xaml
  BusBuddy.WPF/Views/Settings/SettingsView.xaml
  BusBuddy.WPF/Views/Student/StudentForm.xaml
  BusBuddy.WPF/Views/Vehicle/VehicleForm.xaml
  BusBuddy.WPF/Views/Vehicle/VehicleManagementView.xaml
Due: wpf

fix: OnPrimary contrast on colored chrome and restore fuel accents
  BusBuddy.WPF/Views/Fuel/FuelReconciliationDialog.xaml
  BusBuddy.WPF/Views/Reports/ReportsView.xaml
  BusBuddy.WPF/Views/Route/RouteManagementView.xaml
  BusBuddy.WPF/Views/Student/StudentForm.xaml
  BusBuddy.WPF/Views/Vehicle/VehicleForm.xaml
Due: wpf

test: add XAML theme compliance gates for all Views/Controls
  .github/scripts/validate-ci-local.sh
  .github/workflows/ci.yml
  BusBuddy.WPF/Views/Bus/BusForm.xaml
  BusBuddy.WPF/Views/Driver/DriverForm.xaml
  BusBuddy.WPF/Views/Driver/DriverTrainingChecklistView.xaml
  BusBuddy.WPF/Views/Fuel/FuelReconciliationDialog.xaml
  BusBuddy.WPF/Views/Main/MainWindow.xaml
  BusBuddy.WPF/Views/Reports/ReportsView.xaml
  BusBuddy.WPF/Views/Route/RouteManagementView.xaml
  BusBuddy.WPF/Views/Student/StudentSchoolTransferForm.xaml
  BusBuddy.XamlCompliance.Tests/BusBuddy.XamlCompliance.Tests.csproj
  BusBuddy.XamlCompliance.Tests/XamlThemeComplianceScanner.cs
  BusBuddy.XamlCompliance.Tests/XamlThemeComplianceTests.cs
  BusBuddy.sln
Due: wpf

fix: harden theme compliance scanner and close review gaps
  BusBuddy.WPF/Resources/Themes/FluentDarkTheme.xaml
  BusBuddy.WPF/Resources/Themes/FluentLightTheme.xaml
  BusBuddy.WPF/Views/Bus/ConfirmationDialog.xaml
  BusBuddy.WPF/Views/Dashboard/DashboardView.xaml
  BusBuddy.WPF/Views/Driver/DriverScheduleView.xaml
  BusBuddy.WPF/Views/Fuel/FuelManagementView.xaml
  BusBuddy.WPF/Views/GoogleEarth/GoogleEarthView.xaml
  BusBuddy.WPF/Views/Maintenance/MaintenanceView.xaml
  BusBuddy.WPF/Views/Route/RouteAssignmentView.xaml
  BusBuddy.WPF/Views/Vehicle/VehicleManagementView.xaml
  BusBuddy.XamlCompliance.Tests/XamlThemeComplianceScanner.cs
  BusBuddy.XamlCompliance.Tests/XamlThemeComplianceTests.cs
Due: wpf

fix: PS5.1-compatible VM launchers and reusable desktop icon install
  READ_ME_RUN_IN_WINDOWS_VM.txt
  REINSTALL_DESKTOP_ICON.txt
  Scripts/Install-BusBuddyDesktopIcon.cmd
  Scripts/Install-BusBuddyDesktopIcon.ps1
  Scripts/Launch-BusBuddy.cmd
  Scripts/Run-BusBuddy.cmd
  run-wpf.sh
  utm_run_in_vm.cmd
  utm_run_in_vm.ps1
Due: none

fix: let ApplicationTheme own Fluent skins and persist selector
  BusBuddy.Core/Configuration/AppSettingsOptions.cs
  BusBuddy.Tests/WPF/SyncfusionThemeManagerTests.cs
  BusBuddy.WPF/App.xaml.cs
  BusBuddy.WPF/Resources/SyncfusionStyles.xaml
  BusBuddy.WPF/Resources/SyncfusionV30_Validated_ResourceDictionary.xaml
  BusBuddy.WPF/Resources/Themes/FluentDarkTheme.xaml
  BusBuddy.WPF/Resources/Themes/FluentLightTheme.xaml
  BusBuddy.WPF/Utilities/DebugOutputFilter.cs
  BusBuddy.WPF/Utilities/SyncfusionThemeManager.cs
  BusBuddy.WPF/Utilities/ThemePreferenceStore.cs
  BusBuddy.WPF/Views/Driver/DriversView.xaml
  BusBuddy.WPF/Views/Fuel/FuelReconciliationDialog.xaml
  BusBuddy.WPF/Views/GoogleEarth/GoogleEarthView.xaml
  BusBuddy.WPF/Views/Main/MainWindow.xaml
  BusBuddy.WPF/Views/Main/MainWindow.xaml.cs
  BusBuddy.WPF/Views/Reports/ReportsView.xaml
  BusBuddy.WPF/Views/Route/RouteAssignmentView.xaml
  BusBuddy.WPF/Views/Route/RouteManagementView.xaml
  BusBuddy.WPF/Views/Student/StudentForm.xaml
  BusBuddy.WPF/Views/Student/StudentsView.xaml
  BusBuddy.WPF/Views/Vehicle/VehicleManagementView.xaml
Due: core, wpf, tests

fix: let ApplicationTheme own Fluent skins and persist selector (#43)
  BusBuddy.Core/Configuration/AppSettingsOptions.cs
  BusBuddy.Tests/WPF/SyncfusionThemeManagerTests.cs
  BusBuddy.WPF/App.xaml.cs
  BusBuddy.WPF/Resources/SyncfusionStyles.xaml
  BusBuddy.WPF/Resources/SyncfusionV30_Validated_ResourceDictionary.xaml
  BusBuddy.WPF/Resources/Themes/FluentDarkTheme.xaml
  BusBuddy.WPF/Resources/Themes/FluentLightTheme.xaml
  BusBuddy.WPF/Utilities/DebugOutputFilter.cs
  BusBuddy.WPF/Utilities/SyncfusionThemeManager.cs
  BusBuddy.WPF/Utilities/ThemePreferenceStore.cs
  BusBuddy.WPF/Views/Driver/DriversView.xaml
  BusBuddy.WPF/Views/Fuel/FuelReconciliationDialog.xaml
  BusBuddy.WPF/Views/GoogleEarth/GoogleEarthView.xaml
  BusBuddy.WPF/Views/Main/MainWindow.xaml
  BusBuddy.WPF/Views/Main/MainWindow.xaml.cs
  BusBuddy.WPF/Views/Reports/ReportsView.xaml
  BusBuddy.WPF/Views/Route/RouteAssignmentView.xaml
  BusBuddy.WPF/Views/Route/RouteManagementView.xaml
  BusBuddy.WPF/Views/Student/StudentForm.xaml
  BusBuddy.WPF/Views/Student/StudentsView.xaml
  BusBuddy.WPF/Views/Vehicle/VehicleManagementView.xaml
Due: core, wpf, tests

fix: make EF migrations apply on Mac Docker Postgres
  BusBuddy.Core/Data/BusBuddyDbContext.cs
  BusBuddy.Core/Migrations/20250804210443_InitialCreate.cs
  BusBuddy.Core/Migrations/20250804230922_AddFamilySupport.cs
  BusBuddy.Core/Migrations/20250805014747_UpdateBusDescription.cs
  BusBuddy.Core/Migrations/20250809015130_FixDatabaseSchema.cs
  BusBuddy.Core/Migrations/20250809120000_GeoEnhancements.cs
  BusBuddy.Core/Migrations/20250809214520_Auto_20250809154515.cs
  BusBuddy.Core/Migrations/20250810190702_MVP_Sync_20250810.cs
  BusBuddy.Core/Migrations/20250814210725_RemoveShapefileColumns.cs
  BusBuddy.Core/Migrations/20250822150000_RenameVehicleIdToBusId.cs
  BusBuddy.Core/Migrations/20260817140000_StudentContactFieldsAlignment.cs
  BusBuddy.Core/Migrations/20260817150000_DriverTrainingSubmodule.cs
  BusBuddy.Core/Migrations/20260817160000_DestinationSchoolTimes.cs
  BusBuddy.Core/Migrations/MigrationSql.cs
  BusBuddy.Core/Services/RouteDetermination/README.md
  Documentation/DATABASE-CONFIGURATION.md
  Scripts/rewrite-migrations-provider-agnostic.py
  docs/action-items.md
  specs/008-route-determination/quickstart.md
  specs/008-route-determination/tasks.md
Due: core

fix: make EF migrations apply on Mac Docker Postgres (#44)
  BusBuddy.Core/Data/BusBuddyDbContext.cs
  BusBuddy.Core/Migrations/20250804210443_InitialCreate.cs
  BusBuddy.Core/Migrations/20250804230922_AddFamilySupport.cs
  BusBuddy.Core/Migrations/20250805014747_UpdateBusDescription.cs
  BusBuddy.Core/Migrations/20250809015130_FixDatabaseSchema.cs
  BusBuddy.Core/Migrations/20250809120000_GeoEnhancements.cs
  BusBuddy.Core/Migrations/20250809214520_Auto_20250809154515.cs
  BusBuddy.Core/Migrations/20250810190702_MVP_Sync_20250810.cs
  BusBuddy.Core/Migrations/20250814210725_RemoveShapefileColumns.cs
  BusBuddy.Core/Migrations/20250822150000_RenameVehicleIdToBusId.cs
  BusBuddy.Core/Migrations/20260817140000_StudentContactFieldsAlignment.cs
  BusBuddy.Core/Migrations/20260817150000_DriverTrainingSubmodule.cs
  BusBuddy.Core/Migrations/20260817160000_DestinationSchoolTimes.cs
  BusBuddy.Core/Migrations/MigrationSql.cs
  BusBuddy.Core/Services/RouteDetermination/README.md
  Documentation/DATABASE-CONFIGURATION.md
  Scripts/rewrite-migrations-provider-agnostic.py
  docs/action-items.md
  specs/008-route-determination/quickstart.md
  specs/008-route-determination/tasks.md
Due: core

chore: remove leftover bb-* modules and install scripts (#15)
  Documentation/Archive/2026-06-VM-Docker-PS-RootHygiene/deprecated-powershell/Powershell/Modules/BusBuddy-Advanced.psd1
  Documentation/Archive/2026-06-VM-Docker-PS-RootHygiene/deprecated-powershell/Powershell/Modules/BusBuddy-CIAnalysis-Enhanced.psm1
  Documentation/Archive/2026-06-VM-Docker-PS-RootHygiene/deprecated-powershell/Powershell/Modules/BusBuddy-CIAnalysis.psm1
  Documentation/Archive/2026-06-VM-Docker-PS-RootHygiene/deprecated-powershell/Powershell/Modules/BusBuddy-DependencyManagement.psd1
  Documentation/Archive/2026-06-VM-Docker-PS-RootHygiene/deprecated-powershell/Powershell/Modules/BusBuddy-DependencyManagement.psm1
  Documentation/Archive/2026-06-VM-Docker-PS-RootHygiene/deprecated-powershell/Powershell/Modules/BusBuddy-GitWorkflow.psd1
  Documentation/Archive/2026-06-VM-Docker-PS-RootHygiene/deprecated-powershell/Powershell/Modules/BusBuddy-GitWorkflow.psm1
  Documentation/Archive/2026-06-VM-Docker-PS-RootHygiene/deprecated-powershell/Powershell/Modules/BusBuddy-GrokAssistant.psd1
  Documentation/Archive/2026-06-VM-Docker-PS-RootHygiene/deprecated-powershell/Powershell/Modules/BusBuddy-GrokAssistant.psm1
  Documentation/Archive/2026-06-VM-Docker-PS-RootHygiene/deprecated-powershell/Powershell/Modules/BusBuddy-HardwareDetection.psd1
  Documentation/Archive/2026-06-VM-Docker-PS-RootHygiene/deprecated-powershell/Powershell/Modules/BusBuddy-HardwareDetection.psm1
  Documentation/Archive/2026-06-VM-Docker-PS-RootHygiene/deprecated-powershell/Powershell/Modules/BusBuddy-LazyLoader.psm1
  Documentation/Archive/2026-06-VM-Docker-PS-RootHygiene/deprecated-powershell/Powershell/Modules/BusBuddy-ProfileIntegration.psd1
  Documentation/Archive/2026-06-VM-Docker-PS-RootHygiene/deprecated-powershell/Powershell/Modules/BusBuddy-SecureConfig.psd1
  Documentation/Archive/2026-06-VM-Docker-PS-RootHygiene/deprecated-powershell/Powershell/Modules/BusBuddy-SecureConfig.psm1
  Documentation/Archive/2026-06-VM-Docker-PS-RootHygiene/deprecated-powershell/Powershell/Tests/BusRouteSync.Tests.ps1
  Documentation/Archive/2026-06-VM-Docker-PS-RootHygiene/root-scripts/legacy-cleanup-final.ps1
  Documentation/Archive/PowerShell-Legacy/BusBuddy-DependencyManagement.psm1
  Documentation/Archive/PowerShell-Legacy/BusBuddy-Development.psm1
  Documentation/Archive/PowerShell-Legacy/BusBuddy-ProfileIntegration.psm1
  Documentation/Archive/PowerShell-Legacy/README.md
  Scripts/BusRouteSync.ps1
  Scripts/Enable-BusBuddyOpenSSH.ps1
  Scripts/Install-BusBuddyModules.ps1
  Scripts/azure-db-check.ps1
  Scripts/legacy/bb-anti-regression.ps1
  docs/action-items.md
Due: none

chore: keep OpenSSH helper untracked
  Scripts/Enable-BusBuddyOpenSSH.ps1
Due: none

chore: remove legacy bb-* PowerShell modules (#15) (#32)
  Documentation/Archive/2026-06-VM-Docker-PS-RootHygiene/deprecated-powershell/Powershell/Modules/BusBuddy-Advanced.psd1
  Documentation/Archive/2026-06-VM-Docker-PS-RootHygiene/deprecated-powershell/Powershell/Modules/BusBuddy-CIAnalysis-Enhanced.psm1
  Documentation/Archive/2026-06-VM-Docker-PS-RootHygiene/deprecated-powershell/Powershell/Modules/BusBuddy-CIAnalysis.psm1
  Documentation/Archive/2026-06-VM-Docker-PS-RootHygiene/deprecated-powershell/Powershell/Modules/BusBuddy-DependencyManagement.psd1
  Documentation/Archive/2026-06-VM-Docker-PS-RootHygiene/deprecated-powershell/Powershell/Modules/BusBuddy-DependencyManagement.psm1
  Documentation/Archive/2026-06-VM-Docker-PS-RootHygiene/deprecated-powershell/Powershell/Modules/BusBuddy-GitWorkflow.psd1
  Documentation/Archive/2026-06-VM-Docker-PS-RootHygiene/deprecated-powershell/Powershell/Modules/BusBuddy-GitWorkflow.psm1
  Documentation/Archive/2026-06-VM-Docker-PS-RootHygiene/deprecated-powershell/Powershell/Modules/BusBuddy-GrokAssistant.psd1
  Documentation/Archive/2026-06-VM-Docker-PS-RootHygiene/deprecated-powershell/Powershell/Modules/BusBuddy-GrokAssistant.psm1
  Documentation/Archive/2026-06-VM-Docker-PS-RootHygiene/deprecated-powershell/Powershell/Modules/BusBuddy-HardwareDetection.psd1
  Documentation/Archive/2026-06-VM-Docker-PS-RootHygiene/deprecated-powershell/Powershell/Modules/BusBuddy-HardwareDetection.psm1
  Documentation/Archive/2026-06-VM-Docker-PS-RootHygiene/deprecated-powershell/Powershell/Modules/BusBuddy-LazyLoader.psm1
  Documentation/Archive/2026-06-VM-Docker-PS-RootHygiene/deprecated-powershell/Powershell/Modules/BusBuddy-ProfileIntegration.psd1
  Documentation/Archive/2026-06-VM-Docker-PS-RootHygiene/deprecated-powershell/Powershell/Modules/BusBuddy-SecureConfig.psd1
  Documentation/Archive/2026-06-VM-Docker-PS-RootHygiene/deprecated-powershell/Powershell/Modules/BusBuddy-SecureConfig.psm1
  Documentation/Archive/2026-06-VM-Docker-PS-RootHygiene/deprecated-powershell/Powershell/Tests/BusRouteSync.Tests.ps1
  Documentation/Archive/2026-06-VM-Docker-PS-RootHygiene/root-scripts/legacy-cleanup-final.ps1
  Documentation/Archive/PowerShell-Legacy/BusBuddy-DependencyManagement.psm1
  Documentation/Archive/PowerShell-Legacy/BusBuddy-Development.psm1
  Documentation/Archive/PowerShell-Legacy/BusBuddy-ProfileIntegration.psm1
  Documentation/Archive/PowerShell-Legacy/README.md
  Scripts/BusRouteSync.ps1
  Scripts/Install-BusBuddyModules.ps1
  Scripts/azure-db-check.ps1
  Scripts/legacy/bb-anti-regression.ps1
  docs/action-items.md
Due: none

fix: apply EF migrations at runtime instead of EnsureCreated
  .github/scripts/validate-ci-local.sh
  .github/workflows/ci.yml
  BusBuddy.Core/Data/BusBuddyDbContext.cs
  BusBuddy.Core/Data/BusBuddyDbContextFactory.cs
  BusBuddy.Core/Data/RelationalSchemaApplier.cs
  BusBuddy.Core/Data/UnitOfWork/UnitOfWork.cs
  BusBuddy.Core/Migrations/MigrationSql.cs
  BusBuddy.Core/Models/Bus.cs
  BusBuddy.Tests/Core/MigrationSqlTests.cs
  BusBuddy.WPF/App.xaml.cs
  BusBuddy.WPF/Resources/Themes/FluentDarkTheme.xaml
  BusBuddy.WPF/Resources/Themes/FluentLightTheme.xaml
  Documentation/DATABASE-CONFIGURATION.md
  Scripts/rewrite-migrations-provider-agnostic.py
  docs/action-items.md
Due: core, wpf, tests

fix: apply EF migrations at runtime instead of EnsureCreated (#45)
  .github/scripts/validate-ci-local.sh
  .github/workflows/ci.yml
  BusBuddy.Core/Data/BusBuddyDbContext.cs
  BusBuddy.Core/Data/BusBuddyDbContextFactory.cs
  BusBuddy.Core/Data/RelationalSchemaApplier.cs
  BusBuddy.Core/Data/UnitOfWork/UnitOfWork.cs
  BusBuddy.Core/Migrations/MigrationSql.cs
  BusBuddy.Core/Models/Bus.cs
  BusBuddy.Tests/Core/MigrationSqlTests.cs
  BusBuddy.WPF/App.xaml.cs
  BusBuddy.WPF/Resources/Themes/FluentDarkTheme.xaml
  BusBuddy.WPF/Resources/Themes/FluentLightTheme.xaml
  Documentation/DATABASE-CONFIGURATION.md
  Scripts/rewrite-migrations-provider-agnostic.py
  docs/action-items.md
Due: core, wpf, tests

fix: put Generate Routes on the assignment workspace and restore ButtonAdv labels
  BusBuddy.WPF/Resources/SyncfusionStyles.xaml
  BusBuddy.WPF/Resources/Themes/FluentDarkTheme.xaml
  BusBuddy.WPF/Resources/Themes/FluentLightTheme.xaml
  BusBuddy.WPF/ViewModels/Route/RouteAssignmentViewModel.cs
  BusBuddy.WPF/ViewModels/Route/RouteGenerationCoordinator.cs
  BusBuddy.WPF/ViewModels/Route/RouteManagementViewModel.cs
  BusBuddy.WPF/Views/Main/MainWindow.xaml
  BusBuddy.WPF/Views/Main/MainWindow.xaml.cs
  BusBuddy.WPF/Views/Route/RouteAssignmentView.xaml
  BusBuddy.WPF/Views/Vehicle/VehicleManagementView.xaml
  BusBuddy.XamlCompliance.Tests/XamlThemeComplianceScanner.cs
  BusBuddy.XamlCompliance.Tests/XamlThemeComplianceTests.cs
  docs/action-items.md
  docs/function-inventory.generated.md
  specs/008-route-determination/quickstart.md
Due: wpf

fix: put Generate Routes on the assignment workspace and restore ButtonAdv labels (#46)
  BusBuddy.WPF/Resources/SyncfusionStyles.xaml
  BusBuddy.WPF/Resources/Themes/FluentDarkTheme.xaml
  BusBuddy.WPF/Resources/Themes/FluentLightTheme.xaml
  BusBuddy.WPF/ViewModels/Route/RouteAssignmentViewModel.cs
  BusBuddy.WPF/ViewModels/Route/RouteGenerationCoordinator.cs
  BusBuddy.WPF/ViewModels/Route/RouteManagementViewModel.cs
  BusBuddy.WPF/Views/Main/MainWindow.xaml
  BusBuddy.WPF/Views/Main/MainWindow.xaml.cs
  BusBuddy.WPF/Views/Route/RouteAssignmentView.xaml
  BusBuddy.WPF/Views/Vehicle/VehicleManagementView.xaml
  BusBuddy.XamlCompliance.Tests/XamlThemeComplianceScanner.cs
  BusBuddy.XamlCompliance.Tests/XamlThemeComplianceTests.cs
  docs/action-items.md
  docs/function-inventory.generated.md
  specs/008-route-determination/quickstart.md
Due: wpf

test: add P1 proof for generate, students, and reports surfaces
  BusBuddy.Tests/Core/RouteDetermination/AssignFitnessEvaluatorTests.cs
  BusBuddy.Tests/Core/RouteDetermination/RouteDeterminationServiceTests.cs
  BusBuddy.Tests/ViewModels/Route/RouteGenerationCoordinatorTests.cs
  BusBuddy.Tests/WPF/ReportsViewTests.cs
  BusBuddy.Tests/WPF/StudentsViewTests.cs
  BusBuddy.WPF/BusBuddy.WPF.csproj
  docs/action-items.md
  docs/function-inventory.generated.md
  docs/function-tree.md
Due: wpf, tests

fix: refresh live bus markers without recentering the map
  BusBuddy.WPF/ViewModels/GoogleEarth/GoogleEarthViewModel.cs
Due: wpf

Path conditions:
  core: any of: BusBuddy.Core/, but not: **/*.Designer.cs, **/AssemblyInfo.cs, **/Migrations/**, **/obj/**, **/bin/**, **/packages/**, **/*.g.cs, **/*.g.i.cs, **/MainWindow.xaml.cs, **/App.xaml.cs
  wpf: any of: BusBuddy.WPF/, but not: **/*.Designer.cs, **/AssemblyInfo.cs, **/Migrations/**, **/obj/**, **/bin/**, **/packages/**, **/*.g.cs, **/*.g.i.cs, **/MainWindow.xaml.cs, **/App.xaml.cs
  tests: any of: BusBuddy.Tests/, but not: **/*.Designer.cs, **/AssemblyInfo.cs, **/Migrations/**, **/obj/**, **/bin/**, **/packages/**, **/*.g.cs, **/*.g.i.cs, **/MainWindow.xaml.cs, **/App.xaml.cs
