Repository Bigessfour/BusBuddy-3: changes, and which Codecov flags are due for each by the changed paths.
All: core, wpf, tests

fix: apply FluentDark and FluentLight evenly across panels
  BusBuddy.Tests/WPF/SyncfusionThemeManagerTests.cs
  BusBuddy.WPF/App.xaml
  BusBuddy.WPF/App.xaml.cs
  BusBuddy.WPF/Resources/Themes/FluentDarkTheme.xaml
  BusBuddy.WPF/Resources/Themes/FluentLightTheme.xaml
  BusBuddy.WPF/Services/SkinManagerService.cs
  BusBuddy.WPF/Utilities/SyncfusionThemeManager.cs
  BusBuddy.WPF/Utilities/UIDebugManager.cs
  BusBuddy.WPF/Views/Activity/ActivityScheduleEditDialog.xaml.cs
  BusBuddy.WPF/Views/Bus/BusEditDialog.xaml.cs
  BusBuddy.WPF/Views/Bus/BusForm.xaml.cs
  BusBuddy.WPF/Views/Bus/ConfirmationDialog.xaml.cs
  BusBuddy.WPF/Views/Bus/NotificationWindow.xaml.cs
  BusBuddy.WPF/Views/Driver/DriverForm.xaml.cs
  BusBuddy.WPF/Views/Fuel/FuelDialog.xaml.cs
  BusBuddy.WPF/Views/Fuel/FuelReconciliationDialog.xaml.cs
  BusBuddy.WPF/Views/GoogleEarth/GoogleEarthView.xaml.cs
  BusBuddy.WPF/Views/Main/MainWindow.xaml.cs
  BusBuddy.WPF/Views/Route/RouteAssignmentView.xaml.cs
  BusBuddy.WPF/Views/Vehicle/VehicleForm.xaml.cs
Due: wpf, tests

fix: apply FluentDark and FluentLight evenly across panels (#27)
  BusBuddy.Tests/WPF/SyncfusionThemeManagerTests.cs
  BusBuddy.WPF/App.xaml
  BusBuddy.WPF/App.xaml.cs
  BusBuddy.WPF/Resources/Themes/FluentDarkTheme.xaml
  BusBuddy.WPF/Resources/Themes/FluentLightTheme.xaml
  BusBuddy.WPF/Services/SkinManagerService.cs
  BusBuddy.WPF/Utilities/SyncfusionThemeManager.cs
  BusBuddy.WPF/Utilities/UIDebugManager.cs
  BusBuddy.WPF/Views/Activity/ActivityScheduleEditDialog.xaml.cs
  BusBuddy.WPF/Views/Bus/BusEditDialog.xaml.cs
  BusBuddy.WPF/Views/Bus/BusForm.xaml.cs
  BusBuddy.WPF/Views/Bus/ConfirmationDialog.xaml.cs
  BusBuddy.WPF/Views/Bus/NotificationWindow.xaml.cs
  BusBuddy.WPF/Views/Driver/DriverForm.xaml.cs
  BusBuddy.WPF/Views/Fuel/FuelDialog.xaml.cs
  BusBuddy.WPF/Views/Fuel/FuelReconciliationDialog.xaml.cs
  BusBuddy.WPF/Views/GoogleEarth/GoogleEarthView.xaml.cs
  BusBuddy.WPF/Views/Main/MainWindow.xaml.cs
  BusBuddy.WPF/Views/Route/RouteAssignmentView.xaml.cs
  BusBuddy.WPF/Views/Vehicle/VehicleForm.xaml.cs
Due: wpf, tests

docs: bootstrap function-inventory surfaces
  .function-inventory.json
  docs/action-items.md
  docs/function-inventory.generated.md
  docs/function-tree.md
Due: none

docs: append 006 convergence tasks for stale pins and MCP paths
  specs/006-syncfusion-tool-integration/tasks.md
Due: none

docs: bootstrap function-inventory surfaces (#28)
  .function-inventory.json
  docs/action-items.md
  docs/function-inventory.generated.md
  docs/function-tree.md
  specs/006-syncfusion-tool-integration/tasks.md
Due: none

docs: close 006 converge tasks for version pins and portable MCP
  .cursor/mcp.json
  .dockerignore
  .github/scripts/run-busbuddy-rag-mcp.sh
  Documentation/PACKAGE-MANAGEMENT.md
  specs/006-syncfusion-tool-integration/tasks.md
Due: none

docs: close 006 converge tasks for version pins and portable MCP (#29)
  .cursor/mcp.json
  .dockerignore
  .github/scripts/run-busbuddy-rag-mcp.sh
  Documentation/PACKAGE-MANAGEMENT.md
  specs/006-syncfusion-tool-integration/tasks.md
Due: none

docs: mark 007 T037/T038 complete after local CI and PR
  specs/007-maps-platform-geo/tasks.md
Due: none

chore: remove legacy bb-* PowerShell modules (issue #15)
  .github/copilot-instructions.md
  .vscode/enhanced-build-tasks.json
  .vscode/keybindings.json
  .vscode/launch.json
  .vscode/tasks.json
  Documentation/Archive/2026-06-VM-Docker-PS-RootHygiene/deprecated-powershell/Powershell/Modules/BusBuddy-Advanced.psd1
  Documentation/Archive/2026-06-VM-Docker-PS-RootHygiene/deprecated-powershell/Powershell/Modules/BusBuddy-CIAnalysis-Enhanced.psm1
  Documentation/Archive/2026-06-VM-Docker-PS-RootHygiene/deprecated-powershell/Powershell/Modules/BusBuddy-CIAnalysis.psm1
  Documentation/Archive/2026-06-VM-Docker-PS-RootHygiene/deprecated-powershell/Powershell/Modules/BusBuddy-DependencyManagement.psd1
  Documentation/Archive/2026-06-VM-Docker-PS-RootHygiene/deprecated-powershell/Powershell/Modules/BusBuddy-DependencyManagement.psm1
  Documentation/Archive/2026-06-VM-Docker-PS-RootHygiene/deprecated-powershell/Powershell/Modules/BusBuddy-GitWorkflow.psd1
  Documentation/Archive/2026-06-VM-Docker-PS-RootHygiene/deprecated-powershell/Powershell/Modules/BusBuddy-GitWorkflow.psm1
  Documentation/Archive/2026-06-VM-Docker-PS-RootHygiene/deprecated-powershell/Powershell/Modules/BusBuddy-GrokAssistant.psd1
  Documentation/Archive/2026-06-VM-Docker-PS-RootHygiene/deprecated-powershell/Powershell/Modules/BusBuddy-GrokAssistant.psm1
  Documentation/Archive/2026-06-VM-Docker-PS-RootHygiene/deprecated-powershell/Powershell/Modules/BusBuddy-HardwareDetection.psd1
  Documentation/Archive/2026-06-VM-Docker-PS-RootHygiene/deprecated-powershell/Powershell/Modules/BusBuddy-HardwareDetection.psm1
  Documentation/Archive/2026-06-VM-Docker-PS-RootHygiene/deprecated-powershell/Powershell/Modules/BusBuddy-LazyLoader.psm1
  Documentation/Archive/2026-06-VM-Docker-PS-RootHygiene/deprecated-powershell/Powershell/Modules/BusBuddy-ProfileIntegration.psd1
  Documentation/Archive/2026-06-VM-Docker-PS-RootHygiene/deprecated-powershell/Powershell/Modules/BusBuddy-SecureConfig.psd1
  Documentation/Archive/2026-06-VM-Docker-PS-RootHygiene/deprecated-powershell/Powershell/Modules/BusBuddy-SecureConfig.psm1
  Documentation/Archive/2026-06-VM-Docker-PS-RootHygiene/deprecated-powershell/Powershell/Modules/Global-SecureApiManager.psm1
  Documentation/Archive/PowerShell-Legacy/BusBuddy-DependencyManagement.psm1
  Documentation/Archive/PowerShell-Legacy/BusBuddy-Development.psm1
  Documentation/Archive/PowerShell-Legacy/BusBuddy-ProfileIntegration.psm1
  Documentation/Archive/PowerShell-Legacy/README.md
  Documentation/Archive/PowerShell-Legacy/Update-BusBuddyEnvironment.ps1
  Documentation/Reference/PowerShell-Commands.md
  README.md
  Scripts/BusRouteSync.ps1
  Scripts/Install-BusBuddyModules.ps1
  Scripts/azure-db-check.ps1
  Scripts/legacy/bb-anti-regression.ps1
  docs/action-items.md
Due: none

fix: wire DriversViewModel stubs to live reports and services
  BusBuddy.WPF/App.xaml.cs
  BusBuddy.WPF/ViewModels/Driver/DriversViewModel.cs
  BusBuddy.WPF/ViewModels/GoogleEarth/GoogleEarthViewModel.cs
  BusBuddy.WPF/Views/Driver/DriversView.xaml.cs
  docs/action-items.md
Due: wpf

fix: wire DriversViewModel stubs to live reports and services (#33)
  BusBuddy.WPF/App.xaml.cs
  BusBuddy.WPF/ViewModels/Driver/DriversViewModel.cs
  BusBuddy.WPF/ViewModels/GoogleEarth/GoogleEarthViewModel.cs
  BusBuddy.WPF/Views/Driver/DriversView.xaml.cs
  docs/action-items.md
Due: wpf

chore: stop tracking Chroma DB and drop broken PDF/sqlite LFS rules
  .gitattributes
  .gitignore
  docs/action-items.md
Due: none

feat: wire Google Maps Platform for address validation and routing (007)
  .function-inventory.json
  BusBuddy.Core/BusBuddy.Core.csproj
  BusBuddy.Core/Configuration/GoogleMapsOptions.cs
  BusBuddy.Core/Extensions/ServiceCollectionExtensions.cs
  BusBuddy.Core/Mapping/RouteWaypointSerializer.cs
  BusBuddy.Core/Services/AddressValidationService.cs
  BusBuddy.Core/Services/GoogleMaps/GoogleAddressValidationClient.cs
  BusBuddy.Core/Services/GoogleMaps/GoogleRoutingService.cs
  BusBuddy.Core/Services/GoogleMaps/MapsGeocodeResult.cs
  BusBuddy.Core/Services/Interfaces/IRoutingService.cs
  BusBuddy.Core/Services/StudentRouteOptimizer.cs
  BusBuddy.Tests/Core/GapsCoverageTests.cs
  BusBuddy.Tests/Core/GeocodingServiceRegistrationTests.cs
  BusBuddy.Tests/Core/GoogleAddressValidationClientTests.cs
  BusBuddy.Tests/Core/GoogleRoutingServiceTests.cs
  BusBuddy.WPF/App.xaml.cs
  BusBuddy.WPF/ViewModels/GoogleEarth/GoogleEarthViewModel.cs
  BusBuddy.WPF/ViewModels/Student/StudentFormViewModel.cs
  Documentation/GCP-GEE-SECRETS-AND-AUTH.md
  docs/action-items.md
  docs/function-tree.md
  specs/007-maps-platform-geo/plan.md
  specs/007-maps-platform-geo/tasks.md
Due: core, wpf, tests

feat: wire Google Maps Platform for address validation and routing (007) (#35)
  .function-inventory.json
  BusBuddy.Core/BusBuddy.Core.csproj
  BusBuddy.Core/Configuration/GoogleMapsOptions.cs
  BusBuddy.Core/Extensions/ServiceCollectionExtensions.cs
  BusBuddy.Core/Mapping/RouteWaypointSerializer.cs
  BusBuddy.Core/Services/AddressValidationService.cs
  BusBuddy.Core/Services/GoogleMaps/GoogleAddressValidationClient.cs
  BusBuddy.Core/Services/GoogleMaps/GoogleRoutingService.cs
  BusBuddy.Core/Services/GoogleMaps/MapsGeocodeResult.cs
  BusBuddy.Core/Services/Interfaces/IRoutingService.cs
  BusBuddy.Core/Services/StudentRouteOptimizer.cs
  BusBuddy.Tests/Core/GapsCoverageTests.cs
  BusBuddy.Tests/Core/GeocodingServiceRegistrationTests.cs
  BusBuddy.Tests/Core/GoogleAddressValidationClientTests.cs
  BusBuddy.Tests/Core/GoogleRoutingServiceTests.cs
  BusBuddy.WPF/App.xaml.cs
  BusBuddy.WPF/ViewModels/GoogleEarth/GoogleEarthViewModel.cs
  BusBuddy.WPF/ViewModels/Student/StudentFormViewModel.cs
  Documentation/GCP-GEE-SECRETS-AND-AUTH.md
  docs/action-items.md
  docs/function-tree.md
  specs/007-maps-platform-geo/plan.md
  specs/007-maps-platform-geo/tasks.md
Due: core, wpf, tests

feat: student contact fields, school destinations, and transfers
  BusBuddy.Core/Data/BusBuddyDbContext.cs
  BusBuddy.Core/Data/Repositories/StudentRepository.cs
  BusBuddy.Core/Data/UnitOfWork/UnitOfWork.cs
  BusBuddy.Core/Extensions/ServiceCollectionExtensions.cs
  BusBuddy.Core/Migrations/20260817140000_StudentContactFieldsAlignment.cs
  BusBuddy.Core/Migrations/BusBuddyDbContextModelSnapshot.cs
  BusBuddy.Core/Models/Destination.cs
  BusBuddy.Core/Models/Student.cs
  BusBuddy.Core/Models/StudentSchoolTransfer.cs
  BusBuddy.Core/Services/DestinationService.cs
  BusBuddy.Core/Services/Interfaces/IDestinationService.cs
  BusBuddy.Core/Services/StudentSchoolTransferService.cs
  BusBuddy.WPF/App.xaml.cs
  BusBuddy.WPF/ViewModels/GoogleEarth/GoogleEarthViewModel.cs
  BusBuddy.WPF/ViewModels/Student/StudentFormViewModel.cs
  BusBuddy.WPF/ViewModels/Student/StudentsViewModel.cs
  BusBuddy.WPF/Views/Student/StudentForm.xaml
  docs/action-items.md
Due: core, wpf

fix: clarify StudentForm school selection XML docs
  BusBuddy.WPF/ViewModels/Student/StudentFormViewModel.cs
Due: wpf

feat: add driver employment fields and CDE training checklist
  BusBuddy.Core/Data/BusBuddyDbContext.cs
  BusBuddy.Core/Extensions/ServiceCollectionExtensions.cs
  BusBuddy.Core/Migrations/20260817150000_DriverTrainingSubmodule.cs
  BusBuddy.Core/Models/CdeDriverTrainingCodes.cs
  BusBuddy.Core/Models/Driver.cs
  BusBuddy.Core/Models/DriverTrainingRecord.cs
  BusBuddy.Core/Services/DriverTrainingService.cs
  BusBuddy.Core/Services/IDriverTrainingService.cs
  BusBuddy.Tests/Core/DriverTrainingServiceTests.cs
  BusBuddy.WPF/App.xaml.cs
  BusBuddy.WPF/ViewModels/Driver/DriversViewModel.cs
  BusBuddy.WPF/Views/Driver/DriverForm.xaml
  docs/action-items.md
Due: core, wpf, tests

feat: transfer UI, training checklist grid, and waypoint rebuild
  BusBuddy.Core/Extensions/ServiceCollectionExtensions.cs
  BusBuddy.Core/Services/RouteService.cs
  BusBuddy.Core/Services/RouteWaypointRebuildService.cs
  BusBuddy.Core/Services/StudentSchoolTransferService.cs
  BusBuddy.Tests/Core/StudentSchoolTransferAndWaypointTests.cs
  BusBuddy.WPF/App.xaml.cs
  BusBuddy.WPF/ViewModels/Driver/DriverTrainingChecklistViewModel.cs
  BusBuddy.WPF/ViewModels/Driver/DriversViewModel.cs
  BusBuddy.WPF/ViewModels/Student/StudentSchoolTransferViewModel.cs
  BusBuddy.WPF/ViewModels/Student/StudentsViewModel.cs
  BusBuddy.WPF/Views/Driver/DriverTrainingChecklistView.xaml
  BusBuddy.WPF/Views/Driver/DriverTrainingChecklistView.xaml.cs
  BusBuddy.WPF/Views/Student/StudentSchoolTransferForm.xaml
  BusBuddy.WPF/Views/Student/StudentSchoolTransferForm.xaml.cs
  BusBuddy.WPF/Views/Student/StudentsView.xaml
  docs/action-items.md
Due: core, wpf, tests

docs: record Mac Postgres migrate block and InMemory smoke results
  docs/action-items.md
Due: none

docs: capture route determination design inputs for spec 008
  docs/action-items.md
Due: none

docs: add 008 route determination spec draft
  .specify/feature.json
  docs/action-items.md
  specs/008-route-determination/checklists/requirements.md
  specs/008-route-determination/spec.md
Due: none

docs: lock 008 assign policy to block hard seating, warn on time/geo
  specs/008-route-determination/checklists/requirements.md
  specs/008-route-determination/spec.md
Due: none

docs: complete 008 route determination plan (Q1:A Q2:B Q3:B)
  docs/action-items.md
  specs/008-route-determination/checklists/requirements.md
  specs/008-route-determination/contracts/assign-fitness.md
  specs/008-route-determination/contracts/route-determination.md
  specs/008-route-determination/data-model.md
  specs/008-route-determination/plan.md
  specs/008-route-determination/quickstart.md
  specs/008-route-determination/research.md
  specs/008-route-determination/spec.md
Due: none

docs: add 008 route determination tasks (41, MVP US1)
  docs/action-items.md
  specs/008-route-determination/tasks.md
Due: none

fix: track DriverTraining writes under NoTracking default
  BusBuddy.Core/Services/DriverTrainingService.cs
  BusBuddy.Tests/Core/DriverTrainingServiceTests.cs
Due: core, tests

Path conditions:
  core: any of: BusBuddy.Core/, but not: **/*.Designer.cs, **/AssemblyInfo.cs, **/Migrations/**, **/obj/**, **/bin/**, **/packages/**, **/*.g.cs, **/*.g.i.cs, **/MainWindow.xaml.cs, **/App.xaml.cs
  wpf: any of: BusBuddy.WPF/, but not: **/*.Designer.cs, **/AssemblyInfo.cs, **/Migrations/**, **/obj/**, **/bin/**, **/packages/**, **/*.g.cs, **/*.g.i.cs, **/MainWindow.xaml.cs, **/App.xaml.cs
  tests: any of: BusBuddy.Tests/, but not: **/*.Designer.cs, **/AssemblyInfo.cs, **/Migrations/**, **/obj/**, **/bin/**, **/packages/**, **/*.g.cs, **/*.g.i.cs, **/MainWindow.xaml.cs, **/App.xaml.cs
