Repository Bigessfour/BusBuddy-3: changes, and which Codecov flags are due for each by the changed paths.
All: core, wpf, tests

feat: enhance CI/CD pipeline with comprehensive Grok assistant integration
  .github/workflows/ci.yml
  CI-CD-README.md
  DEVELOPMENT-GUIDE.md
  GROK-README.md
  Powershell/Modules/BusBuddy-GrokAssistant.psm1
  Powershell/Modules/BusBuddy-SecureConfig.psm1
  Powershell/Modules/Global-SecureApiManager.psm1
  README.md
  SETUP-GUIDE.md
  ci-profile-load-report.md
Due: none

feat: add comprehensive PR analysis workflow with Grok assistant
  PR-ANALYSIS-WORKFLOW.md
  Scripts/Analyze-PullRequest.ps1
Due: none

fix: improve PR analysis script with better error handling and formatting
  Scripts/Analyze-PullRequest.ps1
Due: none

feat: add modular BusBuddy PowerShell modules (Build/Quality/Database/Debug/Workflow)
  Powershell/Modules/BusBuddy.Build.psm1
  Powershell/Modules/BusBuddy.Database.psm1
  Powershell/Modules/BusBuddy.Debug.psm1
  Powershell/Modules/BusBuddy.Quality.psm1
  Powershell/Modules/BusBuddy.Workflow.psm1
Due: none

feat: add modular BusBuddy PowerShell modules (Build/Quality/Database/Debug/Workflow)
  Powershell/Modules/BusBuddy-Advanced/BusBuddy-Advanced.psm1
  Powershell/Modules/BusBuddy-AntiRegression/BusBuddy-AntiRegression.psm1
  Powershell/Modules/BusBuddy-CIAnalysis-Enhanced/BusBuddy-CIAnalysis-Enhanced.psm1
  Powershell/Modules/BusBuddy-CIAnalysis/BusBuddy-CIAnalysis.psm1
  Powershell/Modules/BusBuddy-Core/BusBuddy-Core.psm1
  Powershell/Modules/BusBuddy-DependencyManagement/BusBuddy-DependencyManagement.psm1
  Powershell/Modules/BusBuddy-GitHubWorkflows/BusBuddy-GitHubWorkflows.psm1
  Powershell/Modules/BusBuddy-GitWorkflow/BusBuddy-GitWorkflow.psm1
  Powershell/Modules/BusBuddy-GrokAssistant/BusBuddy-GrokAssistant.psm1
  Powershell/Modules/BusBuddy-GrokAzureSQL/BusBuddy-GrokAzureSQL.psm1
  Powershell/Modules/BusBuddy-HardwareDetection/BusBuddy-HardwareDetection.psm1
  Powershell/Modules/BusBuddy-Installation/BusBuddy-Installation.psm1
  Powershell/Modules/BusBuddy-LazyLoader/BusBuddy-LazyLoader.psm1
  Powershell/Modules/BusBuddy-PullRequestAnalysis/BusBuddy-PullRequestAnalysis.psm1
  Powershell/Modules/BusBuddy-SecureApiTesting/BusBuddy-SecureApiTesting.psm1
  Powershell/Modules/BusBuddy-SecureConfig/BusBuddy-SecureConfig.psm1
  Powershell/Modules/BusBuddy-TerminalManagement/BusBuddy-TerminalManagement.psm1
  Powershell/Modules/BusBuddy-Trunk/BusBuddy-Trunk.psm1
  Powershell/Modules/BusBuddy-VSCodeSetup/BusBuddy-VSCodeSetup.psm1
  Powershell/Modules/BusBuddy-Validation/BusBuddy-Validation.psm1
Due: none

feat: modular PowerShell, MCP config, optimized profile, validation script, and docs update
  .vscode/mcp.json
  .vscode/settings.json
  Powershell/Modules/BusBuddy.Build.psm1
  Powershell/Modules/BusBuddy.Database.psm1
  Powershell/Modules/BusBuddy.Debug.psm1
  Powershell/Modules/BusBuddy.Quality.psm1
  Powershell/Modules/BusBuddy.Workflow.psm1
  Powershell/Profiles/Microsoft.PowerShell_profile_optimized.ps1
  test-mcp-servers.ps1
Due: none

fix: Update CI workflow to use Windows runners for .NET Windows projects
  .github/workflows/ci.yml
Due: none

ci: add AI analysis workflow and update azure sql pipeline (.NET 9, secret hygiene)
  .github/workflows/azure-sql-ci-cd.yml
  .github/workflows/ci-with-ai.yml
Due: none

🚀 CI/CD Pipeline Fixes: Security, Dependencies & Build Enhancements
  .github/codeql-config.yml
  .github/workflows/ci.yml
  .trunk/trunk.yaml
  .vscode/keybindings.json
  .vscode/launch.json
  .vscode/settings.json
  .vscode/tasks.json
  BusBuddy.Core/BusBuddy.Core.csproj
  BusBuddy.Core/Services/PdfReportService.cs
  BusBuddy.WPF/ViewModels/MainWindowViewModel.cs
  BusBuddy.WPF/Views/Activity/ActivityTimelineView.xaml
  BusBuddy.WPF/Views/Bus/BusForm.xaml
  BusBuddy.WPF/Views/Dashboard/DashboardView.xaml
  BusBuddy.WPF/Views/Main/MainWindow.xaml
  BusBuddy.WPF/Views/Main/MainWindow.xaml.cs
  BusBuddy.WPF/Views/Route/RouteAssignmentView.xaml
  BusBuddy.WPF/Views/Student/StudentsView.xaml
  CI-CD-FIXES-SUMMARY.md
  DEVELOPMENT-GUIDE.md
  Documentation/DEPENDENCY-MANAGEMENT.md
  Documentation/Development/CODING-STANDARDS-HIERARCHY.md
  Powershell/Modules/BusBuddy-Advanced/BusBuddy-Advanced.psd1
  Powershell/Modules/BusBuddy-DependencyManagement/BusBuddy-DependencyManagement.psd1
  Powershell/Modules/BusBuddy-GitWorkflow/BusBuddy-GitWorkflow.psd1
  Powershell/Modules/BusBuddy-GrokAssistant/BusBuddy-GrokAssistant.psd1
  Powershell/Modules/BusBuddy-HardwareDetection/BusBuddy-HardwareDetection.psm1
  Powershell/Modules/BusBuddy-LazyLoader/BusBuddy-LazyLoader.psm1
  Powershell/Modules/BusBuddy-VSCodeSetup/BusBuddy-VSCodeSetup.psm1
  Powershell/Modules/BusBuddy.Database.psm1
  Powershell/Modules/BusBuddy.Debug.psm1
  Powershell/Modules/BusBuddy.Quality.psm1
  Powershell/Modules/BusBuddy.Workflow.psm1
  README.md
  SYNCFUSION-ENHANCEMENT-GUIDE.md
  SYNCFUSION-UPGRADE-30.2.6.md
  Scripts/update-packages.ps1
  syncfusion-cli.ps1
Due: core, wpf

🔧 Fix CI/CD Pipeline Issues
  .trunk/trunk.yaml
  README.md
Due: none

fix: resolve SqlException and XamlParseException issues
  .github/workflows/ci.yml
  .trunk/trunk.yaml
  .vscode/brave-syncfusion-expert.json
  .vscode/mcp.json
  .vscode/tasks.json
  BusBuddy.Core/Services/PdfReportService.cs
  BusBuddy.Tests/Core/DatabaseTestBase.cs
  BusBuddy.Tests/Core/WileyTests.cs
  BusBuddy.Tests/Helpers/TestViewModelFactory.cs
  BusBuddy.Tests/ViewModels/Student/StudentFormViewModelTests.cs
  BusBuddy.WPF/App.xaml
  BusBuddy.WPF/App.xaml.cs
  BusBuddy.WPF/Views/Main/MainWindow.xaml
  BusBuddy.WPF/Views/Main/MainWindow.xaml.cs
  Powershell/Modules/BusBuddy-Advanced/BusBuddy-Advanced.psm1
  Powershell/Modules/BusBuddy-Core.psm1
  Powershell/Modules/BusBuddy-Core/BusBuddy-Core.psm1
  Powershell/Modules/BusBuddy-GrokAssistant/BusBuddy-GrokAssistant.psm1
  Powershell/Modules/BusBuddy-HardwareDetection/BusBuddy-HardwareDetection.psm1
  Powershell/Modules/BusBuddy-LazyLoader/BusBuddy-LazyLoader.psm1
  Powershell/Modules/BusBuddy.Debug.psm1
  Powershell/Profiles/Microsoft.PowerShell_profile_optimized.ps1
  Powershell/Validation/bb-syncfusion-theme-checker.ps1
  Scripts/validate-brave-syncfusion-expert.ps1
  Settings.XamlStyler
  appsettings.json
  docs/BRAVE-SYNCFUSION-EXPERT-GUIDE.md
  mcp-servers/git-mcp-server.js
  mcp.json
  project-dictionary.txt
  syncfusion-theme-report.json
  testsettings.runsettings
  tools/validate_json.py
Due: core, wpf, tests

🌍 feat: Production-ready GoogleEarthView.xaml with comprehensive Syncfusion WPF 30.2.6 integration
  .github/workflows/ci.yml
  .vscode/mcp.json
  .vscode/settings.json
  .vscode/tasks.json
  BusBuddy.WPF/Views/GoogleEarth/GoogleEarthView.xaml
  BusBuddy.WPF/Views/Main/MainWindow.xaml
  OPENSILVER-INTEGRATION-PLAN.md
  Powershell/Modules/BusBuddy-Advanced/BusBuddy-Advanced.psm1
  Powershell/Modules/BusBuddy-Core.psm1
  Powershell/Modules/BusBuddy-Core/BusBuddy-Core.psm1
  Powershell/Modules/BusBuddy-GrokAssistant/BusBuddy-GrokAssistant.psm1
  Powershell/Modules/BusBuddy-HardwareDetection/BusBuddy-HardwareDetection.psm1
  Powershell/Modules/BusBuddy-LazyLoader/BusBuddy-LazyLoader.psm1
  Powershell/Modules/BusBuddy-VSCodeSetup/BusBuddy-VSCodeSetup.psm1
  Powershell/Modules/BusBuddy.Database.psm1
  Scripts/mcp-server-diagnostics.ps1
  Scripts/mcp-servers.ps1
  appsettings.json
  azure-database-access-setup.ps1
  browse-xaml.ps1
  create-new-azure-sql.ps1
  debug-startup-issue.ps1
  test-db-connection.ps1
  test-new-database.ps1
Due: wpf

fix(ci): resolve GitHub Actions permissions and security scanning issues
  .github/workflows/ci-with-ai.yml
  .github/workflows/ci.yml
Due: none

feat: implement GitHub Actions secrets handling and comprehensive tooling alignment
  .github/workflows/ci.yml
  .trunk/trunk.yaml
  .vscode/trunk.md
  BusBuddy.Core/Extensions/ServiceCollectionExtensions.cs
  BusBuddy.Core/Utilities/EnvironmentHelper.cs
  BusBuddy.Tests/Core/DriverServiceTests.cs
  BusBuddy.Tests/Core/StudentServiceTests.cs
  BusBuddy.WPF/Views/GoogleEarth/GoogleEarthView.xaml
  BusBuddy.WPF/Views/Main/MainWindow.xaml
  CI-CD-README.md
  DEVELOPMENT-GUIDE.md
  Powershell/Modules/BusBuddy-Advanced/BusBuddy-Advanced.psm1
  Powershell/Modules/BusBuddy-Core.psm1
  Powershell/Modules/BusBuddy-Core/BusBuddy-Core.psm1
  Powershell/Modules/BusBuddy-GrokAssistant/BusBuddy-GrokAssistant.psm1
  Powershell/Modules/BusBuddy-HardwareDetection/BusBuddy-HardwareDetection.psm1
  Powershell/Modules/BusBuddy-LazyLoader/BusBuddy-LazyLoader.psm1
  Powershell/Modules/BusBuddy.Database.psm1
  Powershell/Modules/BusBuddy.Debug.psm1
  Powershell/Modules/BusBuddy.Quality.psm1
  Powershell/Modules/BusBuddy.Workflow.psm1
  Powershell/Scripts/Setup/Setup-BusBuddyGitWorkflow.ps1
  Powershell/Scripts/Utilities/generate-complete-fetchability-index.ps1
  Powershell/Scripts/Utilities/generate-fetchability-index.ps1
  Powershell/Validation/bb-xaml-validate.ps1
  Scripts/Delete-WorkflowRuns.ps1
  Scripts/mcp-server-diagnostics.ps1
Due: core, wpf, tests

feat: comprehensive project reorganization and enhanced MCP system
  mcp/MCP-STRUCTURE-PLAN.md
  mcp/README.md
  mcp/archived/BusBuddy.Grok.MCP.Server/.mcp/server.json
  mcp/archived/BusBuddy.Grok.MCP.Server/BusBuddy.Grok.MCP.Server.csproj
  mcp/archived/BusBuddy.Grok.MCP.Server/BusBuddy.Grok.MCP.Server/Tools/BusBuddyProblemAnalyzer.cs
  mcp/archived/BusBuddy.Grok.MCP.Server/Program.cs
  mcp/archived/BusBuddy.Grok.MCP.Server/README.md
  mcp/archived/BusBuddy.Grok.MCP.Server/Tools/RandomNumberTools.cs
  mcp/archived/BusBuddy.MCP.Server/.mcp/server.json
  mcp/archived/BusBuddy.MCP.Server/BusBuddy.MCP.Server.csproj
  mcp/archived/BusBuddy.MCP.Server/Program.cs
  mcp/archived/Test-GrokInteraction.ps1
  mcp/archived/test-direct-grok.js
  mcp/archived/test-grok4-env.js
  mcp/archived/test-grok4.js
  mcp/archived/test-mcp-client.js
  mcp/archived/test-mcp-first.ps1
  mcp/archived/test-mcp-interaction.ps1
  mcp/archived/test-request.json
  mcp/archived/test-server-direct.ps1
  mcp/archived/test-server-init.js
  mcp/config/environment.json
  mcp/config/server-configs.json
  mcp/config/tools-reference.md
  mcp/documentation/MCP-STRUCTURE-PLAN.md
  mcp/documentation/MCP-TESTING-RESULTS.md
  mcp/documentation/README.md
  mcp/package-lock.json
  mcp/package.json
  mcp/servers/busbuddy-mcp-server.js
  mcp/servers/git-mcp-server.js
  mcp/servers/grok4-mcp-server.js
  mcp/tools/README.md
  mcp/tools/Start-Grok4MCPServer.ps1
  mcp/tools/server-manager.js
Due: none

fix: disable git MCP server to prevent terminal command interference
  .vscode/mcp.json
Due: none

fix: resolve CI/CD workflow issues
  .github/workflows/ci-enhanced.yml
  .github/workflows/ci-with-ai.yml
  .github/workflows/ci.yml
  .trunk/trunk.yaml
Due: none

fix: properly configure Syncfusion license key in all CI/CD jobs
  .github/workflows/ci.yml
Due: none

Remove BusBuddyDbContext_Enhanced.cs and add to .gitignore
  .gitignore
  BusBuddy.Core/Data/BusBuddyDbContext_Enhanced.cs
Due: core

ci: add EnableWindowsTargeting flag to ubuntu build step to fix NETSDK1100 on non-Windows runner. Per local Docker CI sim and best practices for the hygiene PR.
  .github/workflows/ci.yml
Due: none

ci: revert build-and-test runner to windows-latest to fix NETSDK1100 on ubuntu for windows TFM projects. Docker sim job remains on ubuntu for local CI parity. Per plan to get CI green for PR#16.
  .github/workflows/ci.yml
Due: none

Fix CI build failures from incomplete hygiene archive cleanup.
  BusBuddy.Core/Models/BusBuddyScheduleAppointment.cs
  BusBuddy.Core/Models/IScheduleAppointment.cs
  BusBuddy.Core/Services/BusService.cs
  BusBuddy.Tests/Core/GapsCoverageTests.cs
  BusBuddy.WPF/ViewModels/Fuel/FuelManagementViewModel.cs
Due: core, wpf, tests

Fix CI test failures and relax gates for hygiene PR merge.
  .github/workflows/ci.yml
  BusBuddy.Tests/Core/ConfigurationTests.cs
  BusBuddy.Tests/Core/DriverServiceTests.cs
  BusBuddy.Tests/Core/FleetMonitoringServiceTests.cs
  BusBuddy.Tests/Core/GapsCoverageTests.cs
  BusBuddy.Tests/Core/MaintenanceServiceTests.cs
  BusBuddy.Tests/Core/RouteServiceTests.cs
  BusBuddy.Tests/Core/StudentServiceTests.cs
Due: tests

Fix remaining CI unit test failures in PR gate.
  BusBuddy.Core/Services/FleetMonitoringService.cs
  BusBuddy.Tests/Core/DriverServiceTests.cs
  BusBuddy.Tests/Core/FleetMonitoringServiceTests.cs
  BusBuddy.Tests/Core/MaintenanceServiceTests.cs
  BusBuddy.Tests/Core/RouteServiceTests.cs
  BusBuddy.Tests/Core/StudentServiceTests.cs
Due: core, tests

Fix in-memory test persistence for driver license and fleet GPS updates.
  BusBuddy.Core/Services/DriverService.cs
  BusBuddy.Core/Services/FleetMonitoringService.cs
  BusBuddy.Tests/Core/DriverServiceTests.cs
  BusBuddy.Tests/Core/FleetMonitoringServiceTests.cs
Due: core, tests

Exclude flaky in-memory persistence tests from CI PR gate.
  .DS_Store
  .github/workflows/ci.yml
  BusBuddy.Tests/Core/DriverServiceTests.cs
  BusBuddy.Tests/Core/FleetMonitoringServiceTests.cs
  BusBuddy.WPF/.DS_Store
  BusBuddy.WPF/Documentation/TWN_CICD_Checklist_Complete_Implemenation_Guide_1.0.01.pdf
Due: wpf, tests

Remove accidentally committed .DS_Store files.
  .DS_Store
  BusBuddy.WPF/.DS_Store
Due: wpf

Add solo-dev CI gates, auto-merge, and workflow documentation.
  .github/copilot-instructions.md
  .github/scripts/setup-solo-ci-governance.sh
  .github/workflows/auto-merge.yml
  .github/workflows/ci-with-ai.yml
  .github/workflows/ci.yml
  .github/workflows/docker-ci-sim.yml
  .gitignore
  AGENTS.md
Due: none

Fix auto-merge workflow to use GitHub API instead of gh CLI.
  .github/workflows/auto-merge.yml
Due: none

Fix auto-merge and add Mac-aware local CI validation.
  .github/copilot-instructions.md
  .github/scripts/validate-ci-local.sh
  .github/workflows/auto-merge.yml
  .github/workflows/docker-ci-sim.yml
  AGENTS.md
Due: none

Path conditions:
  core: any of: BusBuddy.Core/, but not: **/*.Designer.cs, **/AssemblyInfo.cs, **/Migrations/**, **/obj/**, **/bin/**, **/packages/**, **/*.g.cs, **/*.g.i.cs, **/MainWindow.xaml.cs, **/App.xaml.cs
  wpf: any of: BusBuddy.WPF/, but not: **/*.Designer.cs, **/AssemblyInfo.cs, **/Migrations/**, **/obj/**, **/bin/**, **/packages/**, **/*.g.cs, **/*.g.i.cs, **/MainWindow.xaml.cs, **/App.xaml.cs
  tests: any of: BusBuddy.Tests/, but not: **/*.Designer.cs, **/AssemblyInfo.cs, **/Migrations/**, **/obj/**, **/bin/**, **/packages/**, **/*.g.cs, **/*.g.i.cs, **/MainWindow.xaml.cs, **/App.xaml.cs
