Repository Bigessfour/BusBuddy-3: changes, and which Codecov flags are due for each by the changed paths.
All: core, wpf, tests

feat(ui): develop needed UI elements for Finish (Reports SfDataGrid+AI/Grok PDF calls, Dashboard SfDataGrid, GoogleEarth SfDataGrid); RAG-cited Syncfusion-only; builds with flag
  BusBuddy.WPF/ViewModels/Reports/ReportsViewModel.cs
  BusBuddy.WPF/Views/Dashboard/DashboardView.xaml
  BusBuddy.WPF/Views/Reports/ReportsView.xaml
Due: wpf

feat(ui): develop needed UI elements for Finish (Reports SfDataGrid+AI/Grok PDF calls, Dashboard SfDataGrid, GoogleEarth SfDataGrid); RAG-cited Syncfusion-only; builds with flag (#17)
  BusBuddy.WPF/ViewModels/Reports/ReportsViewModel.cs
  BusBuddy.WPF/Views/Dashboard/DashboardView.xaml
  BusBuddy.WPF/Views/Reports/ReportsView.xaml
Due: wpf

fix(tests): RouteServiceTests use fresh DB reads and service vehicle assign
  BusBuddy.Tests/Core/RouteServiceTests.cs
Due: tests

fix(ci): in-memory transaction warnings and replace literal Postgres passwords
  .github/copilot-instructions.md
  BusBuddy.Core/Utilities/EnvironmentHelper.cs
  BusBuddy.Core/appsettings.json
  BusBuddy.Tests/Core/ConfigurationTests.cs
  BusBuddy.Tests/Core/RouteServiceTests.cs
  BusBuddy.WPF/appsettings.json
  appsettings.json
  vm-setup.ps1
Due: core, wpf, tests

fix(tests): persist AM bus via UpdateRouteAsync for auto-assign capacity test
  BusBuddy.Tests/Core/RouteServiceTests.cs
Due: tests

feat(syncfusion): upgrade WPF to 34.1.32 and refresh agent tooling
  .cursor/mcp.json
  .cursor/skills/syncfusion-wpf-busbuddy/SKILL.md
  AGENTS.md
  Directory.Build.props
  Documentation/PACKAGE-MANAGEMENT.md
  docs/action-items.md
  docs/function-tree.md
  specs/006-syncfusion-tool-integration/deps-audit.md
  specs/006-syncfusion-tool-integration/plan.md
  specs/006-syncfusion-tool-integration/spec.md
  specs/006-syncfusion-tool-integration/tasks.md
Due: none

feat(syncfusion): upgrade WPF to 34.1.32 and refresh agent tooling (#21)
  .cursor/mcp.json
  .cursor/skills/syncfusion-wpf-busbuddy/SKILL.md
  AGENTS.md
  Directory.Build.props
  Documentation/PACKAGE-MANAGEMENT.md
  docs/action-items.md
  docs/function-tree.md
  specs/006-syncfusion-tool-integration/deps-audit.md
  specs/006-syncfusion-tool-integration/plan.md
  specs/006-syncfusion-tool-integration/spec.md
  specs/006-syncfusion-tool-integration/tasks.md
Due: none

docs: close 006 post-merge due-outs and restore GCP auth guide
  Documentation/GCP-GEE-SECRETS-AND-AUTH.md
  docs/action-items.md
  specs/006-syncfusion-tool-integration/tasks.md
  specs/006-syncfusion-tool-integration/windows-vm-smoke.md
Due: none

chore: allow tracking GCP-GEE-SECRETS-AND-AUTH.md despite secret glob
  .gitignore
Due: none

docs: 006 post-merge hygiene (RAG note, VM smoke, GCP auth doc) (#22)
  .gitignore
  Documentation/GCP-GEE-SECRETS-AND-AUTH.md
  docs/action-items.md
  specs/006-syncfusion-tool-integration/tasks.md
  specs/006-syncfusion-tool-integration/windows-vm-smoke.md
Due: none

fix: map Wiley CSV home address and allocate unique WSD numbers
  .cursor/mcp.json
  .cursor/skills/syncfusion-wpf-busbuddy/SKILL.md
  .github/scripts/run-syncfusion-mcp.sh
  AGENTS.md
  BusBuddy.Core/Services/ISeedDataService.cs
  BusBuddy.Core/Services/SeedDataService.cs
  BusBuddy.Tests/Core/RouteAssignmentFlowTests.cs
  BusBuddy.Tests/Core/SeedDataServiceTests.cs
  BusBuddy.WPF/App.xaml.cs
  BusBuddy.WPF/Assets/busbuddy-app-icon.png
  BusBuddy.WPF/Assets/busbuddy.ico
  BusBuddy.WPF/BusBuddy.WPF.csproj
  BusBuddy.WPF/Messages/StudentsImportedMessage.cs
  BusBuddy.WPF/Program.cs
  BusBuddy.WPF/ViewModels/Student/StudentFormViewModel.cs
  BusBuddy.WPF/ViewModels/Student/StudentsViewModel.cs
  BusBuddy.WPF/Views/Activity/ActivityTimelineView.xaml
  BusBuddy.WPF/Views/Dashboard/DashboardView.xaml
  BusBuddy.WPF/Views/Fuel/FuelManagementView.xaml
  BusBuddy.WPF/Views/GoogleEarth/GoogleEarthView.xaml
  BusBuddy.WPF/Views/Main/MainWindow.xaml.cs
  BusBuddy.WPF/Views/Reports/ReportsView.xaml
  BusBuddy.WPF/Views/Student/StudentsView.xaml
  DEVELOPMENT-GUIDE.md
  Directory.Build.props
  Documentation/Reference/Build-Configs.md
  README.md
  Scripts/Launch-BusBuddy.cmd
  docs/action-items.md
  run-wpf.sh
  specs/006-syncfusion-tool-integration/windows-vm-smoke.md
Due: core, wpf, tests

feat: assign unassigned students when Optimize Routes runs
  BusBuddy.Core/Extensions/ServiceCollectionExtensions.cs
  BusBuddy.Core/Services/IStudentRouteOptimizer.cs
  BusBuddy.Core/Services/StudentRouteOptimizer.cs
  BusBuddy.Tests/Core/StudentRouteOptimizerTests.cs
  BusBuddy.WPF/App.xaml.cs
  BusBuddy.WPF/ViewModels/Dashboard/DashboardViewModel.cs
  BusBuddy.WPF/ViewModels/Student/StudentsViewModel.cs
  docs/action-items.md
Due: core, wpf, tests

fix: reject short CSV headers without IndexOf crash
  BusBuddy.Core/Services/SeedDataService.cs
  BusBuddy.Tests/Core/RouteAssignmentFlowTests.cs
Due: core, tests

test: assert route PDF bytes without Syncfusion text search
  BusBuddy.Tests/Core/RouteAssignmentFlowTests.cs
Due: tests

fix: Wiley CSV import address and student numbers (#23)
  .cursor/mcp.json
  .cursor/skills/syncfusion-wpf-busbuddy/SKILL.md
  .github/scripts/run-syncfusion-mcp.sh
  AGENTS.md
  BusBuddy.Core/Extensions/ServiceCollectionExtensions.cs
  BusBuddy.Core/Services/ISeedDataService.cs
  BusBuddy.Core/Services/IStudentRouteOptimizer.cs
  BusBuddy.Core/Services/SeedDataService.cs
  BusBuddy.Core/Services/StudentRouteOptimizer.cs
  BusBuddy.Tests/Core/RouteAssignmentFlowTests.cs
  BusBuddy.Tests/Core/SeedDataServiceTests.cs
  BusBuddy.Tests/Core/StudentRouteOptimizerTests.cs
  BusBuddy.WPF/App.xaml.cs
  BusBuddy.WPF/Assets/busbuddy-app-icon.png
  BusBuddy.WPF/Assets/busbuddy.ico
  BusBuddy.WPF/BusBuddy.WPF.csproj
  BusBuddy.WPF/Messages/StudentsImportedMessage.cs
  BusBuddy.WPF/Program.cs
  BusBuddy.WPF/ViewModels/Dashboard/DashboardViewModel.cs
  BusBuddy.WPF/ViewModels/Student/StudentFormViewModel.cs
  BusBuddy.WPF/ViewModels/Student/StudentsViewModel.cs
  BusBuddy.WPF/Views/Activity/ActivityTimelineView.xaml
  BusBuddy.WPF/Views/Dashboard/DashboardView.xaml
  BusBuddy.WPF/Views/Fuel/FuelManagementView.xaml
  BusBuddy.WPF/Views/GoogleEarth/GoogleEarthView.xaml
  BusBuddy.WPF/Views/Main/MainWindow.xaml.cs
  BusBuddy.WPF/Views/Reports/ReportsView.xaml
  BusBuddy.WPF/Views/Student/StudentsView.xaml
  DEVELOPMENT-GUIDE.md
  Directory.Build.props
  Documentation/Reference/Build-Configs.md
  README.md
  Scripts/Launch-BusBuddy.cmd
  docs/action-items.md
  run-wpf.sh
  specs/006-syncfusion-tool-integration/windows-vm-smoke.md
Due: core, wpf, tests

feat: generate live PDFs from the Reports view
  BusBuddy.Core/Extensions/ServiceCollectionExtensions.cs
  BusBuddy.Core/Services/GrokGlobalAPI.cs
  BusBuddy.Core/Services/IOperationalReportService.cs
  BusBuddy.Core/Services/OperationalReportService.cs
  BusBuddy.Core/Services/PdfReportService.cs
  BusBuddy.Tests/Core/OperationalReportServiceTests.cs
  BusBuddy.Tests/Core/PdfReportServiceTests.cs
  BusBuddy.WPF/App.xaml.cs
  BusBuddy.WPF/ViewModels/Dashboard/DashboardViewModel.cs
  BusBuddy.WPF/ViewModels/Reports/ReportsViewModel.cs
  BusBuddy.WPF/Views/Reports/ReportsView.xaml.cs
  docs/action-items.md
Due: core, wpf, tests

feat: generate live PDFs from the Reports view (#24)
  BusBuddy.Core/Extensions/ServiceCollectionExtensions.cs
  BusBuddy.Core/Services/GrokGlobalAPI.cs
  BusBuddy.Core/Services/IOperationalReportService.cs
  BusBuddy.Core/Services/OperationalReportService.cs
  BusBuddy.Core/Services/PdfReportService.cs
  BusBuddy.Tests/Core/OperationalReportServiceTests.cs
  BusBuddy.Tests/Core/PdfReportServiceTests.cs
  BusBuddy.WPF/App.xaml.cs
  BusBuddy.WPF/ViewModels/Dashboard/DashboardViewModel.cs
  BusBuddy.WPF/ViewModels/Reports/ReportsViewModel.cs
  BusBuddy.WPF/Views/Reports/ReportsView.xaml.cs
  docs/action-items.md
Due: core, wpf, tests

fix: generate real CLI reports instead of mock text
  BusBuddy.Core/Services/IOperationalReportService.cs
  BusBuddy.Core/Services/OperationalReportKindParser.cs
  BusBuddy.Core/Services/OperationalReportService.cs
  BusBuddy.Tests/Core/OperationalReportServiceTests.cs
  BusBuddy.WPF/App.xaml.cs
  BusBuddy.WPF/Views/Dashboard/DashboardView.xaml.cs
  docs/action-items.md
Due: core, wpf, tests

fix: generate real CLI reports instead of mock text (#25)
  BusBuddy.Core/Services/IOperationalReportService.cs
  BusBuddy.Core/Services/OperationalReportKindParser.cs
  BusBuddy.Core/Services/OperationalReportService.cs
  BusBuddy.Tests/Core/OperationalReportServiceTests.cs
  BusBuddy.WPF/App.xaml.cs
  BusBuddy.WPF/Views/Dashboard/DashboardView.xaml.cs
  docs/action-items.md
Due: core, wpf, tests

fix: address Reports review findings
  BusBuddy.Core/Services/GrokGlobalAPI.cs
  BusBuddy.Core/Services/OperationalReportKindParser.cs
  BusBuddy.Core/Services/OperationalReportService.cs
  BusBuddy.Core/Services/PdfReportService.cs
  BusBuddy.Tests/Core/OperationalReportServiceTests.cs
  BusBuddy.Tests/Core/PdfReportServiceTests.cs
  BusBuddy.WPF/App.xaml.cs
  BusBuddy.WPF/ViewModels/Reports/ReportsViewModel.cs
  BusBuddy.WPF/Views/Reports/ReportsView.xaml
  docs/action-items.md
Due: core, wpf, tests

fix: address Reports review findings (#26)
  BusBuddy.Core/Services/GrokGlobalAPI.cs
  BusBuddy.Core/Services/OperationalReportKindParser.cs
  BusBuddy.Core/Services/OperationalReportService.cs
  BusBuddy.Core/Services/PdfReportService.cs
  BusBuddy.Tests/Core/OperationalReportServiceTests.cs
  BusBuddy.Tests/Core/PdfReportServiceTests.cs
  BusBuddy.WPF/App.xaml.cs
  BusBuddy.WPF/ViewModels/Reports/ReportsViewModel.cs
  BusBuddy.WPF/Views/Reports/ReportsView.xaml
  docs/action-items.md
Due: core, wpf, tests

Path conditions:
  core: any of: BusBuddy.Core/, but not: **/*.Designer.cs, **/AssemblyInfo.cs, **/Migrations/**, **/obj/**, **/bin/**, **/packages/**, **/*.g.cs, **/*.g.i.cs, **/MainWindow.xaml.cs, **/App.xaml.cs
  wpf: any of: BusBuddy.WPF/, but not: **/*.Designer.cs, **/AssemblyInfo.cs, **/Migrations/**, **/obj/**, **/bin/**, **/packages/**, **/*.g.cs, **/*.g.i.cs, **/MainWindow.xaml.cs, **/App.xaml.cs
  tests: any of: BusBuddy.Tests/, but not: **/*.Designer.cs, **/AssemblyInfo.cs, **/Migrations/**, **/obj/**, **/bin/**, **/packages/**, **/*.g.cs, **/*.g.i.cs, **/MainWindow.xaml.cs, **/App.xaml.cs
