Repository Bigessfour/BusBuddy-3: changes, and which Codecov flags are due for each by the changed paths.
All: core, wpf, tests

codecov.yml:

# Codecov configuration for Bus Buddy WPF project
# Documentation: https://docs.codecov.com/docs/codecov-yaml

codecov:
  # Token is provided via GitHub Actions secret CODECOV_TOKEN
  # Never commit the actual token value to version control

  # Require CI to pass before accepting coverage
  require_ci_to_pass: true # Disable status checks while setting up
  disable_default_path_fixes: false

# Coverage settings
coverage:
  precision: 2
  round: down
  range: "70...100"

  # Status configuration
  status:
    project:
      default:
        target: auto
        threshold: 1%
        if_not_found: success
        if_ci_failed: error
    patch:
      default:
        target: auto
        threshold: 1%
        if_not_found: success
        if_ci_failed: error

# Comment configuration
comment:
  layout: "reach,diff,flags,tree"
  behavior: default
  require_changes: false

# Ignore paths that shouldn't affect coverage
ignore:
  - "**/*.Designer.cs"
  - "**/AssemblyInfo.cs"
  - "**/Migrations/**"
  - "**/obj/**"
  - "**/bin/**"
  - "**/packages/**"
  - "**/*.g.cs"
  - "**/*.g.i.cs"
  - "**/MainWindow.xaml.cs" # Generated XAML code-behind
  - "**/App.xaml.cs" # Application startup code

# File-specific settings
flags:
  core:
    paths:
      - "BusBuddy.Core/"
  wpf:
    paths:
      - "BusBuddy.WPF/"
  tests:
    paths:
      - "BusBuddy.Tests/"

Fix UTM runtime crashes: soft-retire buses/drivers and chart/bindings.
  BusBuddy.Core/Services/BusService.cs
  BusBuddy.Core/Services/DriverService.cs
  BusBuddy.Tests/WPF/FuelDialogXamlContractTests.cs
  BusBuddy.Tests/WPF/MaintenanceViewTests.cs
  BusBuddy.Tests/WPF/RouteManagementViewTests.cs
  BusBuddy.WPF/ViewModels/Driver/DriverFormViewModel.cs
  BusBuddy.WPF/ViewModels/Driver/DriversViewModel.cs
  BusBuddy.WPF/ViewModels/Vehicle/VehicleManagementViewModel.cs
  BusBuddy.WPF/Views/Fuel/FuelDialog.xaml
  BusBuddy.WPF/Views/Fuel/FuelManagementView.xaml
  BusBuddy.WPF/Views/Maintenance/MaintenanceView.xaml
  BusBuddy.WPF/Views/Route/RouteManagementView.xaml
  docs/action-items.md
Due: core, wpf, tests

Address Bugbot: Fuel Save toast, future-only FK clears, PM BusNumber.
  BusBuddy.Core/Services/BusService.cs
  BusBuddy.Core/Services/DriverService.cs
  BusBuddy.Tests/Core/DriverServiceTests.cs
  BusBuddy.WPF/ViewModels/Fuel/FuelDialogViewModel.cs
  BusBuddy.WPF/Views/Fuel/FuelDialog.xaml.cs
Due: core, wpf, tests

Complete fleet save/delete harden: strip route navs, clerk delete path.
  BusBuddy.Core/Services/BusService.cs
  BusBuddy.WPF/ViewModels/Vehicle/VehicleManagementViewModel.cs
  docs/action-items.md
Due: core, wpf

Fix UTM runtime: soft-retire buses/drivers, Fuel chart, grid bindings (#69)
  BusBuddy.Core/Services/BusService.cs
  BusBuddy.Core/Services/DriverService.cs
  BusBuddy.Tests/Core/DriverServiceTests.cs
  BusBuddy.Tests/WPF/FuelDialogXamlContractTests.cs
  BusBuddy.Tests/WPF/MaintenanceViewTests.cs
  BusBuddy.Tests/WPF/RouteManagementViewTests.cs
  BusBuddy.WPF/ViewModels/Driver/DriverFormViewModel.cs
  BusBuddy.WPF/ViewModels/Driver/DriversViewModel.cs
  BusBuddy.WPF/ViewModels/Fuel/FuelDialogViewModel.cs
  BusBuddy.WPF/ViewModels/Vehicle/VehicleManagementViewModel.cs
  BusBuddy.WPF/Views/Fuel/FuelDialog.xaml
  BusBuddy.WPF/Views/Fuel/FuelDialog.xaml.cs
  BusBuddy.WPF/Views/Fuel/FuelManagementView.xaml
  BusBuddy.WPF/Views/Maintenance/MaintenanceView.xaml
  BusBuddy.WPF/Views/Route/RouteManagementView.xaml
  docs/action-items.md
Due: core, wpf, tests

Fix district map captions so they scale and hide with zoom.
  BusBuddy.Tests/WPF/MapViewModelTests.cs
  BusBuddy.Tests/WPF/MapViewTests.cs
  BusBuddy.WPF/Utilities/MapMarkerLabels.cs
  BusBuddy.WPF/ViewModels/Map/MapViewModel.cs
  BusBuddy.WPF/Views/Map/MapView.xaml.cs
Due: wpf, tests

Fix district map captions so they scale and hide with zoom. (#71)
  BusBuddy.Tests/WPF/MapViewModelTests.cs
  BusBuddy.Tests/WPF/MapViewTests.cs
  BusBuddy.WPF/Utilities/MapMarkerLabels.cs
  BusBuddy.WPF/ViewModels/Map/MapViewModel.cs
  BusBuddy.WPF/Views/Map/MapView.xaml.cs
Due: wpf, tests

Wire Places Autocomplete (New) through one control on all clerk address forms.
  BusBuddy.Core/Configuration/GoogleMapsOptions.cs
  BusBuddy.Core/Services/GoogleMaps/GooglePlacesAutocompleteService.cs
  BusBuddy.Tests/Core/GooglePlacesAutocompleteServiceTests.cs
  BusBuddy.Tests/Core/PlacesSessionTokenTests.cs
  BusBuddy.Tests/WPF/MainWindowClerkPathTests.cs
  BusBuddy.Tests/WPF/PlacesAddressSurfaceTests.cs
  BusBuddy.Tests/WPF/StudentFormViewModelSaveTests.cs
  BusBuddy.WPF/Controls/PlacesAddressBox.xaml
  BusBuddy.WPF/Controls/PlacesAddressBox.xaml.cs
  BusBuddy.WPF/Utilities/PlaceAddressApplier.cs
  BusBuddy.WPF/Utilities/PlacesAddressAutocompleteCoordinator.cs
  BusBuddy.WPF/ViewModels/Student/SchoolDestinationFormViewModel.cs
  BusBuddy.WPF/ViewModels/Student/StudentFormAddressCoordinator.cs
  BusBuddy.WPF/ViewModels/Student/StudentFormViewModel.cs
  BusBuddy.WPF/Views/Activity/ActivityScheduleEditDialog.xaml
  BusBuddy.WPF/Views/Driver/DriverForm.xaml
  BusBuddy.WPF/Views/Driver/DriverForm.xaml.cs
  BusBuddy.WPF/Views/Route/RouteStopEditDialog.xaml
  BusBuddy.WPF/Views/Route/RouteStopEditDialog.xaml.cs
  BusBuddy.WPF/Views/Settings/SettingsView.xaml
  BusBuddy.WPF/Views/Settings/SettingsView.xaml.cs
  BusBuddy.WPF/Views/Student/PickupStopForm.xaml
  BusBuddy.WPF/Views/Student/PickupStopForm.xaml.cs
  BusBuddy.WPF/Views/Student/SchoolDestinationForm.xaml
  BusBuddy.WPF/Views/Student/SchoolDestinationForm.xaml.cs
  BusBuddy.WPF/Views/Student/StudentForm.xaml
  BusBuddy.WPF/Views/Student/StudentForm.xaml.cs
  BusBuddy.WPF/Views/Student/StudentSchoolTransferForm.xaml
  Documentation/GCP-GEE-SECRETS-AND-AUTH.md
  specs/007-maps-platform-geo/spec.md
Due: core, wpf, tests

Wire Google Route Optimization for clerk stop order and same-day trip fleet.
  .github/scripts/MapsConnectionProbe/Program.cs
  .github/scripts/gcloud-maps-status.sh
  BusBuddy.Core/Extensions/ServiceCollectionExtensions.cs
  BusBuddy.Core/Services/GoogleMaps/GoogleRouteOptimizationService.cs
  BusBuddy.Core/Services/GoogleMaps/IRouteOptimizationService.cs
  BusBuddy.Core/Services/GoogleMaps/RouteOptimizationVisitOrder.cs
  BusBuddy.Core/Services/Interfaces/ITripEventService.cs
  BusBuddy.Core/Services/RouteDetermination/RouteDeterminationService.cs
  BusBuddy.Core/Services/TripEventService.cs
  BusBuddy.Tests/Core/GoogleRouteOptimizationServiceTests.cs
  BusBuddy.Tests/WPF/MapViewTests.cs
  BusBuddy.Tests/WPF/RouteManagementViewTests.cs
  BusBuddy.Tests/WPF/RouteOptimizationSurfaceTests.cs
  BusBuddy.WPF/Logging/UiProofLog.cs
  BusBuddy.WPF/ViewModels/Activity/ActivityManagementViewModel.cs
  BusBuddy.WPF/ViewModels/Route/RouteManagementViewModel.cs
  BusBuddy.WPF/Views/Activity/ActivityManagementView.xaml
  BusBuddy.WPF/Views/Route/RouteManagementView.xaml
  Documentation/GCP-GEE-SECRETS-AND-AUTH.md
  Documentation/diagrams/busbuddy-3-architecture.md
  specs/007-maps-platform-geo/spec.md
  specs/008-route-determination/research.md
  specs/README.md
  specs/maps.md
  specs/routes.md
  specs/trips.md
Due: core, wpf, tests

Wire Google Route Optimization for clerk stop order and same-day trip fleet. (#73)
  .github/scripts/MapsConnectionProbe/Program.cs
  .github/scripts/gcloud-maps-status.sh
  BusBuddy.Core/Extensions/ServiceCollectionExtensions.cs
  BusBuddy.Core/Services/GoogleMaps/GoogleRouteOptimizationService.cs
  BusBuddy.Core/Services/GoogleMaps/IRouteOptimizationService.cs
  BusBuddy.Core/Services/GoogleMaps/RouteOptimizationVisitOrder.cs
  BusBuddy.Core/Services/Interfaces/ITripEventService.cs
  BusBuddy.Core/Services/RouteDetermination/RouteDeterminationService.cs
  BusBuddy.Core/Services/TripEventService.cs
  BusBuddy.Tests/Core/GoogleRouteOptimizationServiceTests.cs
  BusBuddy.Tests/WPF/MapViewTests.cs
  BusBuddy.Tests/WPF/RouteManagementViewTests.cs
  BusBuddy.Tests/WPF/RouteOptimizationSurfaceTests.cs
  BusBuddy.WPF/Logging/UiProofLog.cs
  BusBuddy.WPF/ViewModels/Activity/ActivityManagementViewModel.cs
  BusBuddy.WPF/ViewModels/Route/RouteManagementViewModel.cs
  BusBuddy.WPF/Views/Activity/ActivityManagementView.xaml
  BusBuddy.WPF/Views/Route/RouteManagementView.xaml
  Documentation/GCP-GEE-SECRETS-AND-AUTH.md
  Documentation/diagrams/busbuddy-3-architecture.md
  specs/007-maps-platform-geo/spec.md
  specs/008-route-determination/research.md
  specs/README.md
  specs/maps.md
  specs/routes.md
  specs/trips.md
Due: core, wpf, tests

Stop District Map marker templates from throwing during first layout.
  BusBuddy.Tests/WPF/MapViewTests.cs
  BusBuddy.Tests/WPF/UiRuntimeLoggingTests.cs
  BusBuddy.WPF/App.xaml.cs
  BusBuddy.WPF/Utilities/DistrictSfMap.cs
  BusBuddy.WPF/Views/Map/MapView.xaml
  BusBuddy.WPF/Views/Map/MapView.xaml.cs
  BusBuddy.WPF/Views/Student/PickupStopForm.xaml
  BusBuddy.WPF/Views/Student/SchoolDestinationForm.xaml
Due: wpf, tests

Stop District Map marker templates from throwing during first layout. (#74)
  BusBuddy.Tests/WPF/MapViewTests.cs
  BusBuddy.Tests/WPF/UiRuntimeLoggingTests.cs
  BusBuddy.WPF/App.xaml.cs
  BusBuddy.WPF/Utilities/DistrictSfMap.cs
  BusBuddy.WPF/Views/Map/MapView.xaml
  BusBuddy.WPF/Views/Map/MapView.xaml.cs
  BusBuddy.WPF/Views/Student/PickupStopForm.xaml
  BusBuddy.WPF/Views/Student/SchoolDestinationForm.xaml
Due: wpf, tests

Restore clerk Dashboard/Trips hops and the project-done checker.
  .github/scripts/check-project-done.py
  AGENTS.md
  BusBuddy.Tests/WPF/ActivityOperationalSurfaceTests.cs
  BusBuddy.Tests/WPF/DashboardViewTests.cs
  BusBuddy.WPF/Utilities/VehicleFleetLauncher.cs
  BusBuddy.WPF/ViewModels/Dashboard/DashboardViewModel.cs
  BusBuddy.WPF/ViewModels/Route/RouteManagementViewModel.Assignment.cs
  BusBuddy.WPF/Views/Activity/ActivityTimelineView.xaml
  BusBuddy.WPF/Views/Activity/ActivityTimelineView.xaml.cs
  BusBuddy.WPF/Views/Dashboard/DashboardView.xaml
  BusBuddy.WPF/Views/Dashboard/DashboardView.xaml.cs
  BusBuddy.WPF/Views/Main/MainWindow.xaml
  BusBuddy.WPF/Views/Main/MainWindow.xaml.cs
  BusBuddy.WPF/Views/Route/RouteManagementView.xaml.cs
  BusBuddy.WPF/Views/Vehicle/VehicleForm.xaml.cs
  BusBuddy.WPF/Views/Vehicle/VehiclesView.xaml
  BusBuddy.WPF/Views/Vehicle/VehiclesView.xaml.cs
  README.md
  docs/action-items.md
  docs/clerk-path.md
  docs/done-catalog.json
  docs/done-checklist.md
Due: wpf, tests

docs: instructor review packet + constitution §VI merge-gate fix
  .specify/memory/constitution.md
  README.md
  docs/instructor-packet/00-brief.md
  docs/instructor-packet/01-status.md
  docs/instructor-packet/README.md
  docs/instructor-packet/build.sh
Due: none

docs(packet): normalize README line endings
  docs/instructor-packet/README.md
Due: none

ci: run Build & Test on docs-only PRs
  .github/workflows/ci.yml
Due: none

docs: instructor review packet + constitution §VI merge-gate fix (#76)
  .github/workflows/ci.yml
  .specify/memory/constitution.md
  README.md
  docs/instructor-packet/00-brief.md
  docs/instructor-packet/01-status.md
  docs/instructor-packet/README.md
  docs/instructor-packet/build.sh
Due: none

chore: clear project-done code debt (stubs, TODOs, helper tests, inventory)
  .github/workflows/ci.yml
  BusBuddy.Core/Data/BusBuddyDbContext.cs
  BusBuddy.Core/Services/BusService.cs
  BusBuddy.Core/Services/ISeedDataService.cs
  BusBuddy.Core/Services/RouteService.cs
  BusBuddy.Core/Services/SeedDataService.cs
  BusBuddy.Tests/WPF/FuelReconciliationViewModelTests.cs
  BusBuddy.Tests/WPF/RouteManagementExportHelperTests.cs
  docs/action-items.md
  docs/function-inventory.generated.md
  docs/instructor-packet/01-status.md
Due: core, tests

chore: clear project-done code debt (stubs, TODOs, helper tests, inventory) (#77)
  .github/workflows/ci.yml
  BusBuddy.Core/Data/BusBuddyDbContext.cs
  BusBuddy.Core/Services/BusService.cs
  BusBuddy.Core/Services/ISeedDataService.cs
  BusBuddy.Core/Services/RouteService.cs
  BusBuddy.Core/Services/SeedDataService.cs
  BusBuddy.Tests/WPF/FuelReconciliationViewModelTests.cs
  BusBuddy.Tests/WPF/RouteManagementExportHelperTests.cs
  docs/action-items.md
  docs/function-inventory.generated.md
  docs/instructor-packet/01-status.md
Due: core, tests

build: stop Core appsettings.json from entering the WPF publish set (NETSDK1152)
  BusBuddy.Core/BusBuddy.Core.csproj
  docs/action-items.md
  docs/instructor-packet/01-status.md
Due: core

build: stop Core appsettings.json from entering the WPF publish set (NETSDK1152) (#78)
  BusBuddy.Core/BusBuddy.Core.csproj
  docs/action-items.md
  docs/instructor-packet/01-status.md
Due: core

ci: allow Release artifacts on workflow_dispatch; document why push never fires
  .github/copilot-instructions.md
  .github/workflows/ci.yml
  AGENTS.md
  Documentation/diagrams/busbuddy-3-architecture.md
  docs/instructor-packet/01-status.md
Due: none

ci: allow Release artifacts on workflow_dispatch; document why push never fires (#79)
  .github/copilot-instructions.md
  .github/workflows/ci.yml
  AGENTS.md
  Documentation/diagrams/busbuddy-3-architecture.md
  docs/instructor-packet/01-status.md
Due: none

feat(map): clerk-visible District Map fixes — pins, labels, toolbar, legend
  BusBuddy.Core/Mapping/MapDefaults.cs
  BusBuddy.Core/Services/UserSettingsKeys.cs
  BusBuddy.Core/Services/UserSettingsService.cs
  BusBuddy.Tests/Core/UserSettingsServiceTests.cs
  BusBuddy.Tests/WPF/MainWindowClerkPathTests.cs
  BusBuddy.Tests/WPF/MapRouteExporterTests.cs
  BusBuddy.Tests/WPF/MapViewModelTests.cs
  BusBuddy.Tests/WPF/MapViewTests.cs
  BusBuddy.Tests/WPF/SettingsViewModelTests.cs
  BusBuddy.WPF/App.xaml.cs
  BusBuddy.WPF/Utilities/MapDistrictLayers.cs
  BusBuddy.WPF/Utilities/MapMarkerLabels.cs
  BusBuddy.WPF/Utilities/MapMarkerTemplateSelector.cs
  BusBuddy.WPF/Utilities/MapRouteExporter.cs
  BusBuddy.WPF/ViewModels/Map/MapMarker.cs
  BusBuddy.WPF/ViewModels/Map/MapViewModel.cs
  BusBuddy.WPF/ViewModels/Settings/SettingsViewModel.cs
  BusBuddy.WPF/Views/Map/MapView.xaml
  BusBuddy.WPF/Views/Settings/SettingsView.xaml
  docs/action-items.md
  docs/instructor-packet/01-status.md
  specs/maps.md
Due: core, wpf, tests

feat: drop route shapefile columns and wire District Map clerk override
  BusBuddy.Core/Data/BusBuddyDbContext.cs
  BusBuddy.Core/Migrations/20260916200000_DropRouteShapefilePaths.cs
  BusBuddy.Core/Migrations/BusBuddyDbContextModelSnapshot.cs
  BusBuddy.Core/Models/Route.cs
  BusBuddy.Tests/WPF/MapViewModelTests.cs
  BusBuddy.Tests/WPF/MapViewTests.cs
  BusBuddy.WPF/Utilities/MapDistrictLayers.cs
  BusBuddy.WPF/Utilities/MapStudentPlot.cs
  BusBuddy.WPF/ViewModels/Map/MapMarker.cs
  BusBuddy.WPF/ViewModels/Map/MapViewModel.cs
  BusBuddy.WPF/ViewModels/Route/RouteAssignmentViewModel.cs
  BusBuddy.WPF/ViewModels/Student/StudentFormMapCoordinator.cs
  BusBuddy.WPF/ViewModels/Student/StudentsMapCoordinator.cs
  BusBuddy.WPF/Views/Map/MapView.xaml
  BusBuddy.WPF/Views/Map/MapView.xaml.cs
  docs/action-items.md
  docs/instructor-packet/01-status.md
  specs/maps.md
  specs/routes.md
Due: core, wpf, tests

fix: resolve name-only AM/PM routes when applying a clerk override
  BusBuddy.Core/Services/RouteDetermination/RouteDeterminationService.cs
  BusBuddy.Core/Utilities/StudentRouteAssignment.cs
  BusBuddy.Tests/Core/RouteDetermination/RouteDeterminationServiceTests.cs
  BusBuddy.Tests/Core/StudentRouteAssignmentTests.cs
  BusBuddy.WPF/ViewModels/Map/MapViewModel.cs
Due: core, wpf, tests

chore: silence nullable RouteName warning on override name lookup
  BusBuddy.Core/Services/RouteDetermination/RouteDeterminationService.cs
Due: core

fix: unblock XAML theme CI and dual-write unique student route keys
  BusBuddy.Core/Migrations/20260916180546_StudentRouteForeignKeys.cs
  BusBuddy.Core/Services/ISeedDataService.cs
  BusBuddy.Core/Services/SeedDataService.cs
  BusBuddy.Tests/Core/SeedDataServiceTests.cs
  BusBuddy.WPF/Views/Map/MapView.xaml
  docs/action-items.md
Due: core, wpf, tests

fix: per-call EF context, route soft-retire, OneWay trip display binds
  BusBuddy.Core/Extensions/ServiceCollectionExtensions.cs
  BusBuddy.Core/Services/ActivityLogService.cs
  BusBuddy.Core/Services/RouteService.cs
  BusBuddy.Core/Utilities/Result.cs
  BusBuddy.Tests/Core/ActivityLogServiceTests.cs
  BusBuddy.Tests/Core/RouteServiceTests.cs
  BusBuddy.Tests/Core/UserSettingsServiceTests.cs
  BusBuddy.Tests/WPF/ActivityOperationalSurfaceTests.cs
  BusBuddy.Tests/WPF/ActivityTimelineViewModelTests.cs
  BusBuddy.Tests/WPF/MapViewModelTests.cs
  BusBuddy.Tests/WPF/PlacesAddressSurfaceTests.cs
  BusBuddy.WPF/ViewModels/Activity/ActivityTimelineViewModel.cs
  BusBuddy.WPF/ViewModels/Activity/TripEventEditDialogViewModel.cs
  BusBuddy.WPF/ViewModels/Map/MapViewModel.cs
  BusBuddy.WPF/ViewModels/Route/RouteAssignmentViewModel.cs
  BusBuddy.WPF/ViewModels/Route/RouteManagementViewModel.cs
  BusBuddy.WPF/Views/Activity/TripEventEditDialog.xaml
  docs/action-items.md
  docs/clerk-path.md
  docs/done-catalog.json
  docs/done-checklist.md
  docs/instructor-packet/01-status.md
  specs/007-maps-platform-geo/plan.md
  specs/007-maps-platform-geo/quickstart.md
  specs/007-maps-platform-geo/research.md
  specs/007-maps-platform-geo/spec.md
  specs/007-maps-platform-geo/tasks.md
  specs/routes.md
Due: core, wpf, tests

fix: per-call EF context, route soft-retire, OneWay trip display binds (#81)
  BusBuddy.Core/Extensions/ServiceCollectionExtensions.cs
  BusBuddy.Core/Services/ActivityLogService.cs
  BusBuddy.Core/Services/RouteService.cs
  BusBuddy.Core/Utilities/Result.cs
  BusBuddy.Tests/Core/ActivityLogServiceTests.cs
  BusBuddy.Tests/Core/RouteServiceTests.cs
  BusBuddy.Tests/Core/UserSettingsServiceTests.cs
  BusBuddy.Tests/WPF/ActivityOperationalSurfaceTests.cs
  BusBuddy.Tests/WPF/ActivityTimelineViewModelTests.cs
  BusBuddy.Tests/WPF/MapViewModelTests.cs
  BusBuddy.Tests/WPF/PlacesAddressSurfaceTests.cs
  BusBuddy.WPF/ViewModels/Activity/ActivityTimelineViewModel.cs
  BusBuddy.WPF/ViewModels/Activity/TripEventEditDialogViewModel.cs
  BusBuddy.WPF/ViewModels/Map/MapViewModel.cs
  BusBuddy.WPF/ViewModels/Route/RouteAssignmentViewModel.cs
  BusBuddy.WPF/ViewModels/Route/RouteManagementViewModel.cs
  BusBuddy.WPF/Views/Activity/TripEventEditDialog.xaml
  docs/action-items.md
  docs/clerk-path.md
  docs/done-catalog.json
  docs/done-checklist.md
  docs/instructor-packet/01-status.md
  specs/007-maps-platform-geo/plan.md
  specs/007-maps-platform-geo/quickstart.md
  specs/007-maps-platform-geo/research.md
  specs/007-maps-platform-geo/spec.md
  specs/007-maps-platform-geo/tasks.md
  specs/routes.md
Due: core, wpf, tests

fix: persist route drive paths from published stops, not grid JSON
  BusBuddy.Core/Services/GoogleMaps/RouteDrivePathRefresher.cs
  BusBuddy.Core/Services/GoogleMaps/RouteStopOrderPlanner.cs
  BusBuddy.Core/Services/IRouteService.cs
  BusBuddy.Core/Services/OperationalReportService.cs
  BusBuddy.Core/Services/RouteService.cs
  BusBuddy.Tests/Core/GoogleRouteOptimizationServiceTests.cs
  BusBuddy.Tests/Core/MapsGeoServiceTests.cs
  BusBuddy.Tests/Core/OperationalReportServiceTests.cs
  BusBuddy.Tests/WPF/RouteManagementViewModelTests.cs
  BusBuddy.Tests/WPF/RouteManagementViewTests.cs
  BusBuddy.WPF/App.xaml.cs
  BusBuddy.WPF/ViewModels/Route/RouteManagementExportHelper.cs
  BusBuddy.WPF/ViewModels/Route/RouteManagementViewModel.Assignment.cs
  BusBuddy.WPF/ViewModels/Route/RouteManagementViewModel.Planning.cs
  BusBuddy.WPF/ViewModels/Route/RouteManagementViewModel.cs
  docs/action-items.md
Due: core, wpf, tests

fix: route leftover student and driver assign through RouteService
  BusBuddy.Core/Services/DriverService.cs
  BusBuddy.Core/Services/IStudentService.cs
  BusBuddy.Core/Services/RouteService.cs
  BusBuddy.Core/Services/StudentService.cs
  BusBuddy.Tests/Core/DriverServiceTests.cs
  BusBuddy.Tests/Core/StudentServiceTests.cs
  docs/action-items.md
  docs/clerk-path.md
Due: core, tests

fix: route leftover student and driver assign through RouteService (#83)
  BusBuddy.Core/Services/DriverService.cs
  BusBuddy.Core/Services/IStudentService.cs
  BusBuddy.Core/Services/RouteService.cs
  BusBuddy.Core/Services/StudentService.cs
  BusBuddy.Tests/Core/DriverServiceTests.cs
  BusBuddy.Tests/Core/StudentServiceTests.cs
  docs/action-items.md
  docs/clerk-path.md
Due: core, tests

refactor: transition services to use per-call DbContext via IBusBuddyDbContextFactory
  BusBuddy.Core/Extensions/ServiceCollectionExtensions.cs
  BusBuddy.Core/Models/LocationTypes.cs
  BusBuddy.Core/Services/ActivityScheduleService.cs
  BusBuddy.Core/Services/ActivityService.cs
  BusBuddy.Core/Services/AddressValidationService.cs
  BusBuddy.Core/Services/FamilyService.cs
  BusBuddy.Core/Services/GuardianService.cs
  BusBuddy.Core/Services/IStudentService.cs
  BusBuddy.Core/Services/StudentService.cs
  BusBuddy.Core/Utilities/StudentRecordNormalizer.cs
  BusBuddy.Tests/Core/ActivityServiceTests.cs
  BusBuddy.Tests/Core/FamilyServiceTests.cs
  BusBuddy.Tests/Core/GapsCoverageTests.cs
  BusBuddy.Tests/Core/GuardianServiceTests.cs
  BusBuddy.Tests/Core/LocationContractTests.cs
  BusBuddy.Tests/Core/StudentArchiveAndEligibilityTests.cs
  BusBuddy.Tests/Core/StudentRecordNormalizerTests.cs
  BusBuddy.Tests/WPF/FuelDialogViewModelTests.cs
  BusBuddy.Tests/WPF/FuelManagementViewModelTests.cs
  BusBuddy.Tests/WPF/MaintenanceViewModelTests.cs
  BusBuddy.Tests/WPF/MapViewModelTests.cs
  BusBuddy.Tests/WPF/StudentsViewTests.cs
  BusBuddy.WPF/ViewModels/Fuel/FuelDialogViewModel.cs
  BusBuddy.WPF/ViewModels/Fuel/FuelManagementViewModel.cs
  BusBuddy.WPF/ViewModels/Maintenance/MaintenanceViewModel.cs
  BusBuddy.WPF/ViewModels/Student/StudentFormAddressCoordinator.cs
  BusBuddy.WPF/ViewModels/Student/StudentPersistenceWriter.cs
  BusBuddy.WPF/ViewModels/Student/StudentsMapCoordinator.cs
  docs/action-items.md
  docs/clerk-path.md
  docs/done-catalog.json
  docs/done-checklist.md
  docs/instructor-packet/01-status.md
  specs/maps.md
  specs/students.md
  specs/trips.md
Due: core, wpf, tests

chore: delete parked *.disabled stubs and stop using that pattern
  .github/copilot-instructions.md
  .gitignore
  .specify/memory/constitution.md
  .trunk/README.md
  .trunk/trunk.yaml
  BusBuddy.Core/Configuration/EnhancedDatabaseStartup.cs.disabled
  BusBuddy.Core/Configuration/ServiceConfiguration.cs.disabled
  BusBuddy.Core/Services/AIEnhancedRouteService.cs.disabled
  BusBuddy.Core/Services/AzureConfigurationService.cs.disabled
  BusBuddy.Core/Services/IConfigurationService.cs.disabled
  BusBuddy.Core/Services/OptimizedXAIService.cs.disabled
  BusBuddy.Core/Services/XAIService.cs.disabled
  BusBuddy.Core/Utilities/DatabaseNullFixUtility.cs.disabled
  BusBuddy.WPF/Services/XAIChatServiceAdapter.cs.disabled
  BusBuddy.WPF/ViewModels/Vehicle/VehicleViewModel.cs.disabled
  Documentation/Archive/2026-06-VM-Docker-PS-RootHygiene/experiments/README.md
  Documentation/Archive/2026-06-VM-Docker-PS-RootHygiene/root-reports/GROK-README.md
  docs/action-items.md
  specs/007-maps-platform-geo/research.md
Due: core, wpf
