Repository Bigessfour/BusBuddy-3: changes, and which Codecov flags are due for each by the changed paths.
All: core, wpf, tests

fix: remediate data-entry forms and wire Maps Platform keys
  .trunk/trunk.yaml
  .vscode/settings.json
  AGENTS.md
  BusBuddy.Core/Configuration/GoogleMapsOptions.cs
  BusBuddy.Core/Models/Driver.cs
  BusBuddy.Core/Services/DriverService.cs
  BusBuddy.Core/Services/GoogleMaps/GoogleAddressValidationClient.cs
  BusBuddy.Tests/Core/DriverNameNotificationTests.cs
  BusBuddy.Tests/Core/GoogleAddressValidationClientTests.cs
  BusBuddy.Tests/WPF/MainWindowClerkPathTests.cs
  BusBuddy.WPF/App.xaml.cs
  BusBuddy.WPF/ViewModels/Driver/DriverFormViewModel.cs
  BusBuddy.WPF/ViewModels/Route/RouteEditDialogViewModel.cs
  BusBuddy.WPF/ViewModels/Student/SchoolDestinationFormViewModel.cs
  BusBuddy.WPF/ViewModels/Student/StudentFormViewModel.cs
  BusBuddy.WPF/ViewModels/Student/StudentSchoolTransferViewModel.cs
  BusBuddy.WPF/Views/Activity/ActivityScheduleEditDialog.xaml
  BusBuddy.WPF/Views/Bus/BusEditDialog.xaml
  BusBuddy.WPF/Views/Bus/BusForm.xaml
  BusBuddy.WPF/Views/Driver/DriverForm.xaml
  BusBuddy.WPF/Views/Fuel/FuelDialog.xaml
  BusBuddy.WPF/Views/Route/RouteEditDialog.xaml
  BusBuddy.WPF/Views/Route/RouteEditDialog.xaml.cs
  BusBuddy.WPF/Views/Route/RouteForm.xaml
  BusBuddy.WPF/Views/Route/RouteStopEditDialog.xaml
  BusBuddy.WPF/Views/Student/SchoolDestinationForm.xaml
  BusBuddy.WPF/Views/Student/SchoolDestinationForm.xaml.cs
  BusBuddy.WPF/Views/Student/StudentForm.xaml
  BusBuddy.WPF/Views/Student/StudentSchoolTransferForm.xaml
  BusBuddy.WPF/Views/Vehicle/VehicleManagementView.xaml
Due: core, wpf, tests

fix: stop SchoolDestinationForm XAML comment from failing clerk-path test
  BusBuddy.Tests/WPF/MainWindowClerkPathTests.cs
  BusBuddy.WPF/Views/Student/SchoolDestinationForm.xaml
Due: wpf, tests

docs: retarget 009 Wave 0 to master after PR #48
  specs/009-dialog-mvvm-inputs/spec.md
  specs/009-dialog-mvvm-inputs/tasks.md
Due: none

docs: retarget 009 Wave 0 to master after PR #48 (#49)
  specs/009-dialog-mvvm-inputs/spec.md
  specs/009-dialog-mvvm-inputs/tasks.md
Due: none

fix: delete orphan Route edit surfaces and bind BusEditDialog
  BusBuddy.Tests/WPF/MainWindowClerkPathTests.cs
  BusBuddy.Tests/WPF/XamlViewFile.cs
  BusBuddy.WPF/ViewModels/Bus/BusEditDialogViewModel.cs
  BusBuddy.WPF/ViewModels/Bus/BusManagementViewModel.cs
  BusBuddy.WPF/ViewModels/Bus/BusViewModel.cs
  BusBuddy.WPF/ViewModels/Route/RouteEditDialogViewModel.cs
  BusBuddy.WPF/Views/Bus/BusEditDialog.xaml
  BusBuddy.WPF/Views/Bus/BusEditDialog.xaml.cs
  BusBuddy.WPF/Views/Route/RouteEditDialog.xaml
  BusBuddy.WPF/Views/Route/RouteEditDialog.xaml.cs
  BusBuddy.WPF/Views/Route/RouteForm.xaml
  specs/009-dialog-mvvm-inputs/tasks.md
Due: wpf, tests

fix: delete orphan Route edit surfaces and bind BusEditDialog (#50)
  BusBuddy.Tests/WPF/MainWindowClerkPathTests.cs
  BusBuddy.Tests/WPF/XamlViewFile.cs
  BusBuddy.WPF/ViewModels/Bus/BusEditDialogViewModel.cs
  BusBuddy.WPF/ViewModels/Bus/BusManagementViewModel.cs
  BusBuddy.WPF/ViewModels/Bus/BusViewModel.cs
  BusBuddy.WPF/ViewModels/Route/RouteEditDialogViewModel.cs
  BusBuddy.WPF/Views/Bus/BusEditDialog.xaml
  BusBuddy.WPF/Views/Bus/BusEditDialog.xaml.cs
  BusBuddy.WPF/Views/Route/RouteEditDialog.xaml
  BusBuddy.WPF/Views/Route/RouteEditDialog.xaml.cs
  BusBuddy.WPF/Views/Route/RouteForm.xaml
  specs/009-dialog-mvvm-inputs/tasks.md
Due: wpf, tests

fix: Wave 2 ComboBoxAdv MVVM bindings for spec 009
  BusBuddy.WPF/ViewModels/Student/StudentFormViewModel.cs
  BusBuddy.WPF/Views/Activity/ActivityScheduleEditDialog.xaml
  BusBuddy.WPF/Views/Bus/BusForm.xaml
  BusBuddy.WPF/Views/Fuel/FuelDialog.xaml
  BusBuddy.WPF/Views/Fuel/FuelReconciliationDialog.xaml
  BusBuddy.WPF/Views/Student/StudentForm.xaml
  BusBuddy.WPF/Views/Student/StudentSchoolTransferForm.xaml
  specs/009-dialog-mvvm-inputs/tasks.md
Due: wpf

fix: Wave 2 ComboBoxAdv MVVM bindings for spec 009 (#51)
  BusBuddy.WPF/ViewModels/Student/StudentFormViewModel.cs
  BusBuddy.WPF/Views/Activity/ActivityScheduleEditDialog.xaml
  BusBuddy.WPF/Views/Bus/BusForm.xaml
  BusBuddy.WPF/Views/Fuel/FuelDialog.xaml
  BusBuddy.WPF/Views/Fuel/FuelReconciliationDialog.xaml
  BusBuddy.WPF/Views/Student/StudentForm.xaml
  BusBuddy.WPF/Views/Student/StudentSchoolTransferForm.xaml
  specs/009-dialog-mvvm-inputs/tasks.md
Due: wpf

feat: district pickup stops with map placement and shared route stops
  BusBuddy.Core/Configuration/RoutingDistrictSettings.cs
  BusBuddy.Core/Data/BusBuddyDbContext.cs
  BusBuddy.Core/Extensions/ServiceCollectionExtensions.cs
  BusBuddy.Core/Migrations/20260901193000_PickupStops.cs
  BusBuddy.Core/Models/PickupStop.cs
  BusBuddy.Core/Models/Student.cs
  BusBuddy.Core/Services/Interfaces/IPickupStopService.cs
  BusBuddy.Core/Services/PickupStopService.cs
  BusBuddy.Core/Services/RouteDetermination/RouteDeterminationService.cs
  BusBuddy.Tests/Core/PickupStopServiceTests.cs
  BusBuddy.WPF/ViewModels/Student/PickupStopFormViewModel.cs
  BusBuddy.WPF/ViewModels/Student/StudentFormViewModel.cs
  BusBuddy.WPF/ViewModels/Student/StudentsViewModel.cs
  BusBuddy.WPF/Views/Student/PickupStopForm.xaml
  BusBuddy.WPF/Views/Student/PickupStopForm.xaml.cs
  BusBuddy.WPF/Views/Student/StudentForm.xaml
  BusBuddy.WPF/Views/Student/StudentsView.xaml
Due: core, wpf, tests

feat: district pickup stops with map placement and shared route stops (#52)
  BusBuddy.Core/Configuration/RoutingDistrictSettings.cs
  BusBuddy.Core/Data/BusBuddyDbContext.cs
  BusBuddy.Core/Extensions/ServiceCollectionExtensions.cs
  BusBuddy.Core/Migrations/20260901193000_PickupStops.cs
  BusBuddy.Core/Models/PickupStop.cs
  BusBuddy.Core/Models/Student.cs
  BusBuddy.Core/Services/Interfaces/IPickupStopService.cs
  BusBuddy.Core/Services/PickupStopService.cs
  BusBuddy.Core/Services/RouteDetermination/RouteDeterminationService.cs
  BusBuddy.Tests/Core/PickupStopServiceTests.cs
  BusBuddy.WPF/ViewModels/Student/PickupStopFormViewModel.cs
  BusBuddy.WPF/ViewModels/Student/StudentFormViewModel.cs
  BusBuddy.WPF/ViewModels/Student/StudentsViewModel.cs
  BusBuddy.WPF/Views/Student/PickupStopForm.xaml
  BusBuddy.WPF/Views/Student/PickupStopForm.xaml.cs
  BusBuddy.WPF/Views/Student/StudentForm.xaml
  BusBuddy.WPF/Views/Student/StudentsView.xaml
Due: core, wpf, tests

fix: align Analytics and Dashboard charts with Syncfusion documented APIs
  BusBuddy.Tests/WPF/AnalyticsDashboardViewTests.cs
  BusBuddy.Tests/WPF/DashboardViewTests.cs
  BusBuddy.WPF/ViewModels/Analytics/AnalyticsDashboardViewModel.cs
  BusBuddy.WPF/ViewModels/Dashboard/DashboardViewModel.cs
  BusBuddy.WPF/Views/Analytics/AnalyticsDashboardView.xaml
  BusBuddy.WPF/Views/Analytics/AnalyticsDashboardView.xaml.cs
  BusBuddy.WPF/Views/Dashboard/DashboardView.xaml
  BusBuddy.WPF/Views/Dashboard/DashboardView.xaml.cs
Due: wpf, tests

fix: align Analytics and Dashboard charts with Syncfusion documented APIs (#53)
  BusBuddy.Tests/WPF/AnalyticsDashboardViewTests.cs
  BusBuddy.Tests/WPF/DashboardViewTests.cs
  BusBuddy.WPF/ViewModels/Analytics/AnalyticsDashboardViewModel.cs
  BusBuddy.WPF/ViewModels/Dashboard/DashboardViewModel.cs
  BusBuddy.WPF/Views/Analytics/AnalyticsDashboardView.xaml
  BusBuddy.WPF/Views/Analytics/AnalyticsDashboardView.xaml.cs
  BusBuddy.WPF/Views/Dashboard/DashboardView.xaml
  BusBuddy.WPF/Views/Dashboard/DashboardView.xaml.cs
Due: wpf, tests

feat: special-needs transport flags, student form fixes, and DB connectivity UX
  .github/scripts/prepare-special-needs-transport.sh
  BusBuddy.Core/Data/BusBuddyDbContext.cs
  BusBuddy.Core/Data/Repositories/StudentRepository.cs
  BusBuddy.Core/Data/UnitOfWork/UnitOfWork.cs
  BusBuddy.Core/Migrations/20260902140000_SpecialNeedsTransportFlags.cs
  BusBuddy.Core/Migrations/BusBuddyDbContextModelSnapshot.cs
  BusBuddy.Core/Models/Route.cs
  BusBuddy.Core/Models/Student.cs
  BusBuddy.Core/Models/StudentSpecialNeedsHelper.cs
  BusBuddy.Core/Services/ISeedDataService.cs
  BusBuddy.Core/Services/RouteDetermination/AssignFitnessEvaluator.cs
  BusBuddy.Core/Services/RouteDetermination/RouteDeterminationService.cs
  BusBuddy.Core/Services/SeedDataService.cs
  BusBuddy.Core/Services/SpecialNeedsPrepSummary.cs
  BusBuddy.Core/Services/StudentService.cs
  BusBuddy.Core/Utilities/DatabaseUserMessage.cs
  BusBuddy.Core/Utilities/ResilientDbExecution.cs
  BusBuddy.DbPrep/BusBuddy.DbPrep.csproj
  BusBuddy.DbPrep/Program.cs
  BusBuddy.Tests/Core/DatabaseUserMessageTests.cs
  BusBuddy.Tests/Core/RouteDetermination/AssignFitnessEvaluatorTests.cs
  BusBuddy.Tests/Core/StudentSpecialNeedsHelperTests.cs
  BusBuddy.WPF/Utilities/NumpadInputHelper.cs
  BusBuddy.WPF/ViewModels/MainWindowViewModel.cs
  BusBuddy.WPF/ViewModels/Route/RouteManagementViewModel.cs
  BusBuddy.WPF/ViewModels/Student/StudentFormViewModel.cs
  BusBuddy.WPF/Views/Route/RouteManagementView.xaml
  BusBuddy.WPF/Views/Student/StudentForm.xaml
  BusBuddy.WPF/Views/Student/StudentForm.xaml.cs
Due: core, wpf, tests

feat: special-needs transport flags, student form fixes, and DB connectivity UX (#54)
  .github/scripts/prepare-special-needs-transport.sh
  BusBuddy.Core/Data/BusBuddyDbContext.cs
  BusBuddy.Core/Data/Repositories/StudentRepository.cs
  BusBuddy.Core/Data/UnitOfWork/UnitOfWork.cs
  BusBuddy.Core/Migrations/20260902140000_SpecialNeedsTransportFlags.cs
  BusBuddy.Core/Migrations/BusBuddyDbContextModelSnapshot.cs
  BusBuddy.Core/Models/Route.cs
  BusBuddy.Core/Models/Student.cs
  BusBuddy.Core/Models/StudentSpecialNeedsHelper.cs
  BusBuddy.Core/Services/ISeedDataService.cs
  BusBuddy.Core/Services/RouteDetermination/AssignFitnessEvaluator.cs
  BusBuddy.Core/Services/RouteDetermination/RouteDeterminationService.cs
  BusBuddy.Core/Services/SeedDataService.cs
  BusBuddy.Core/Services/SpecialNeedsPrepSummary.cs
  BusBuddy.Core/Services/StudentService.cs
  BusBuddy.Core/Utilities/DatabaseUserMessage.cs
  BusBuddy.Core/Utilities/ResilientDbExecution.cs
  BusBuddy.DbPrep/BusBuddy.DbPrep.csproj
  BusBuddy.DbPrep/Program.cs
  BusBuddy.Tests/Core/DatabaseUserMessageTests.cs
  BusBuddy.Tests/Core/RouteDetermination/AssignFitnessEvaluatorTests.cs
  BusBuddy.Tests/Core/StudentSpecialNeedsHelperTests.cs
  BusBuddy.WPF/Utilities/NumpadInputHelper.cs
  BusBuddy.WPF/ViewModels/MainWindowViewModel.cs
  BusBuddy.WPF/ViewModels/Route/RouteManagementViewModel.cs
  BusBuddy.WPF/ViewModels/Student/StudentFormViewModel.cs
  BusBuddy.WPF/Views/Route/RouteManagementView.xaml
  BusBuddy.WPF/Views/Student/StudentForm.xaml
  BusBuddy.WPF/Views/Student/StudentForm.xaml.cs
Due: core, wpf, tests

Fix VM Postgres connectivity via connection resolver and EF retry.
  BusBuddy.Core/Data/BusBuddyDbContext.cs
  BusBuddy.Core/Data/BusBuddyDbContextFactory.cs
  BusBuddy.Core/Extensions/ServiceCollectionExtensions.cs
  BusBuddy.Core/Utilities/DatabaseUserMessage.cs
  BusBuddy.Core/Utilities/EntityFrameworkPostgresExtensions.cs
  BusBuddy.Core/Utilities/PostgresConnectionResolver.cs
  BusBuddy.Tests/Core/PostgresConnectionResolverTests.cs
  BusBuddy.WPF/App.xaml.cs
  BusBuddy.WPF/ViewModels/Student/SchoolDestinationFormViewModel.cs
  run-wpf.sh
  utm_run_in_vm.ps1
Due: core, wpf, tests

Fix VM Postgres connectivity via connection resolver and EF retry. (#55)
  BusBuddy.Core/Data/BusBuddyDbContext.cs
  BusBuddy.Core/Data/BusBuddyDbContextFactory.cs
  BusBuddy.Core/Extensions/ServiceCollectionExtensions.cs
  BusBuddy.Core/Utilities/DatabaseUserMessage.cs
  BusBuddy.Core/Utilities/EntityFrameworkPostgresExtensions.cs
  BusBuddy.Core/Utilities/PostgresConnectionResolver.cs
  BusBuddy.Tests/Core/PostgresConnectionResolverTests.cs
  BusBuddy.WPF/App.xaml.cs
  BusBuddy.WPF/ViewModels/Student/SchoolDestinationFormViewModel.cs
  run-wpf.sh
  utm_run_in_vm.ps1
Due: core, wpf, tests

Add district bus barn depot and load Syncfusion license from keys/.env.
  BusBuddy.Core/Configuration/RoutingDistrictSettings.cs
  BusBuddy.Core/Mapping/DistrictDepot.cs
  BusBuddy.Core/Services/RouteWaypointRebuildService.cs
  BusBuddy.Core/Utilities/EnvFileLoader.cs
  BusBuddy.Core/appsettings.json
  BusBuddy.Tests/Core/DistrictDepotWaypointTests.cs
  BusBuddy.Tests/Core/EnvFileLoaderTests.cs
  BusBuddy.WPF/App.xaml.cs
  BusBuddy.WPF/BusBuddy.WPF.csproj
  BusBuddy.WPF/Program.cs
  BusBuddy.WPF/ViewModels/Map/MapViewModel.cs
  BusBuddy.WPF/appsettings.json
  Documentation/keys-dotenv.example
  Scripts/Verify-SyncfusionLicense.ps1
  Scripts/vm-syncfusion-test.ps1
  utm_run_in_vm.ps1
Due: core, wpf, tests

Fix student Postgres save and inline validation on the student form.
  BUILD-STAMP.txt
  BusBuddy.Core/Data/BusBuddyDbContext.cs
  BusBuddy.Core/Migrations/20260902183000_StudentFamilyIdDropDefault.cs
  BusBuddy.Core/Services/StudentService.cs
  BusBuddy.Core/Utilities/DatabaseUserMessage.cs
  BusBuddy.Core/Utilities/EntityFrameworkPostgresExtensions.cs
  BusBuddy.Core/Utilities/StudentRecordNormalizer.cs
  BusBuddy.Tests/Core/DatabaseUserMessageTests.cs
  BusBuddy.Tests/Core/StudentRecordNormalizerTests.cs
  BusBuddy.WPF/App.xaml.cs
  BusBuddy.WPF/Converters/FieldErrorConverters.cs
  BusBuddy.WPF/Program.cs
  BusBuddy.WPF/Utilities/StudentFormFields.cs
  BusBuddy.WPF/ViewModels/Student/StudentFormViewModel.cs
  BusBuddy.WPF/Views/Student/StudentForm.xaml
  BusBuddy.WPF/Views/Student/StudentForm.xaml.cs
  Documentation/keys-mac-docker-remote.example
  Scripts/ensure-postgres-docker.sh
  run-wpf.sh
  utm_run_in_vm.ps1
Due: core, wpf, tests

Refactor StudentFormViewModel into address and catalog coordinators.
  BusBuddy.WPF/Utilities/PlaceAddressApplier.cs
  BusBuddy.WPF/Utilities/StudentAddressValidator.cs
  BusBuddy.WPF/ViewModels/Student/SchoolDestinationFormViewModel.cs
  BusBuddy.WPF/ViewModels/Student/StudentFormAddressCoordinator.cs
  BusBuddy.WPF/ViewModels/Student/StudentFormCatalogCoordinator.cs
  BusBuddy.WPF/ViewModels/Student/StudentFormViewModel.cs
Due: wpf

Decompose StudentsViewModel into grid coordinators.
  BusBuddy.WPF/Utilities/StudentPhoneNormalizer.cs
  BusBuddy.WPF/ViewModels/Student/StudentFormViewModel.cs
  BusBuddy.WPF/ViewModels/Student/StudentsBulkRouteCoordinator.cs
  BusBuddy.WPF/ViewModels/Student/StudentsGridAddressCoordinator.cs
  BusBuddy.WPF/ViewModels/Student/StudentsListCoordinator.cs
  BusBuddy.WPF/ViewModels/Student/StudentsReferenceDataCoordinator.cs
  BusBuddy.WPF/ViewModels/Student/StudentsViewModel.cs
Due: wpf

Fix district map commands, launcher lifecycle, and form test compile errors.
  .cursor/skills/wpf-page-audit/SKILL.md
  .cursor/skills/wpf-page-audit/checklists/student-form.md
  .cursor/skills/wpf-page-audit/report-template.md
  .cursor/skills/wpf-page-audit/scripts/inventory-syncfusion.sh
  .cursor/skills/wpf-page-vertical-audit/SKILL.md
  .cursor/skills/wpf-page-vertical-audit/reference.md
  .github/scripts/audit-wpf-bindings.py
  BusBuddy.Core/Mapping/MapDefaults.cs
  BusBuddy.Core/Models/Bus.cs
  BusBuddy.Core/Services/BusService.cs
  BusBuddy.Core/Services/UserSettingsService.cs
  BusBuddy.Tests/WPF/MainWindowClerkPathTests.cs
  BusBuddy.Tests/WPF/MapViewTests.cs
  BusBuddy.Tests/WPF/StudentFormViewModelSaveTests.cs
  BusBuddy.WPF/BusBuddy.WPF.csproj
  BusBuddy.WPF/Properties/launchSettings.json
  BusBuddy.WPF/Utilities/InputCaretHelper.cs
  BusBuddy.WPF/Utilities/MapViewLauncher.cs
  BusBuddy.WPF/Utilities/SyncfusionThemeManager.cs
  BusBuddy.WPF/ViewModels/Map/MapViewModel.cs
  BusBuddy.WPF/ViewModels/Student/StudentFormViewModel.cs
  BusBuddy.WPF/ViewModels/Student/StudentsViewModel.cs
  BusBuddy.WPF/Views/Main/MainWindow.xaml
  BusBuddy.WPF/Views/Main/MainWindow.xaml.cs
  BusBuddy.WPF/Views/Map/MapView.xaml
  BusBuddy.WPF/Views/Map/MapView.xaml.cs
  BusBuddy.WPF/Views/Student/SchoolDestinationForm.xaml
  BusBuddy.WPF/Views/Student/StudentForm.xaml
  BusBuddy.WPF/Views/Student/StudentForm.xaml.cs
  run-wpf.sh
  utm_run_in_vm.ps1
  utm_watch_in_vm.cmd
Due: core, wpf, tests

Enable district map zoom, student pins, and route trails.
  BusBuddy.Core/Services/ISeedDataService.cs
  BusBuddy.Core/Services/SeedDataService.cs
  BusBuddy.Tests/Core/MapCoordinateFormatterTests.cs
  BusBuddy.Tests/Core/SeedDataServiceTests.cs
  BusBuddy.Tests/WPF/MapViewModelTests.cs
  BusBuddy.Tests/WPF/MapViewTests.cs
  BusBuddy.WPF/App.xaml.cs
  BusBuddy.WPF/ViewModels/Map/MapViewModel.cs
  BusBuddy.WPF/Views/Map/MapView.xaml
  BusBuddy.WPF/Views/Map/MapView.xaml.cs
Due: core, wpf, tests

Fix PR 56 CI: seed Destinations mock, map demo waypoints, and source tests.
  BusBuddy.Core/Services/SeedDataService.cs
  BusBuddy.Tests/Core/PostgresConnectionResolverTests.cs
  BusBuddy.Tests/Core/SeedDataServiceTests.cs
  BusBuddy.Tests/WPF/MainWindowClerkPathTests.cs
  BusBuddy.Tests/WPF/MapViewTests.cs
Due: core, tests

Lock MapView camera bindings so a mixed GitHub tree cannot ship.
  .github/copilot-instructions.md
  BusBuddy.Tests/WPF/MapViewModelTests.cs
  BusBuddy.Tests/WPF/MapViewTests.cs
Due: tests

Lock MapViewModel to Core Maps types so a mixed GitHub tree cannot build.
  BusBuddy.Tests/Core/MapViewCoreDependencyTests.cs
  BusBuddy.Tests/WPF/MapViewModelTests.cs
  BusBuddy.Tests/WPF/XamlViewFile.cs
Due: tests

Lock MapView camera bindings against mixed GitHub trees (#57)
  .github/copilot-instructions.md
  BusBuddy.Tests/Core/MapViewCoreDependencyTests.cs
  BusBuddy.Tests/WPF/MapViewModelTests.cs
  BusBuddy.Tests/WPF/MapViewTests.cs
  BusBuddy.Tests/WPF/XamlViewFile.cs
Due: tests

Align Maps quota project to busbuddy-507301.
  .github/copilot-instructions.md
  .github/scripts/MapsConnectionProbe/Program.cs
  .specify/memory/constitution.md
  AGENTS.md
  BusBuddy.Core/Configuration/GoogleMapsOptions.cs
  BusBuddy.Core/Extensions/ServiceCollectionExtensions.cs
  BusBuddy.Core/Services/GoogleMaps/GoogleAddressValidationClient.cs
  BusBuddy.Tests/Core/GoogleAddressValidationClientTests.cs
  BusBuddy.Tests/Core/GoogleMapsOptionsQuotaProjectTests.cs
  Documentation/GCP-GEE-SECRETS-AND-AUTH.md
  README.md
  specs/007-maps-platform-geo/contracts/address-validation.md
  specs/007-maps-platform-geo/data-model.md
  specs/007-maps-platform-geo/plan.md
  specs/007-maps-platform-geo/quickstart.md
  specs/007-maps-platform-geo/research.md
  specs/007-maps-platform-geo/spec.md
  specs/007-maps-platform-geo/tasks.md
Due: core, tests

Align Maps quota project to busbuddy-507301. (#58)
  .github/copilot-instructions.md
  .github/scripts/MapsConnectionProbe/Program.cs
  .specify/memory/constitution.md
  AGENTS.md
  BusBuddy.Core/Configuration/GoogleMapsOptions.cs
  BusBuddy.Core/Extensions/ServiceCollectionExtensions.cs
  BusBuddy.Core/Services/GoogleMaps/GoogleAddressValidationClient.cs
  BusBuddy.Tests/Core/GoogleAddressValidationClientTests.cs
  BusBuddy.Tests/Core/GoogleMapsOptionsQuotaProjectTests.cs
  Documentation/GCP-GEE-SECRETS-AND-AUTH.md
  README.md
  specs/007-maps-platform-geo/contracts/address-validation.md
  specs/007-maps-platform-geo/data-model.md
  specs/007-maps-platform-geo/plan.md
  specs/007-maps-platform-geo/quickstart.md
  specs/007-maps-platform-geo/research.md
  specs/007-maps-platform-geo/spec.md
  specs/007-maps-platform-geo/tasks.md
Due: core, tests

Plot schools, pickups, and students on District Map load.
  BusBuddy.Tests/WPF/MapViewModelTests.cs
  BusBuddy.Tests/WPF/MapViewTests.cs
  BusBuddy.WPF/Utilities/MapMarkerLabels.cs
  BusBuddy.WPF/ViewModels/Map/MapViewModel.cs
  BusBuddy.WPF/ViewModels/Student/StudentsViewModel.cs
  BusBuddy.WPF/Views/Map/MapView.xaml
  docs/action-items.md
  specs/007-maps-platform-geo/tasks.md
Due: wpf, tests

Extract district plot layers so MapViewModel stops growing.
  BusBuddy.Core/Mapping/StudentPlotLocation.cs
  BusBuddy.Tests/Core/StudentPlotLocationTests.cs
  BusBuddy.Tests/WPF/MapViewModelTests.cs
  BusBuddy.Tests/WPF/MapViewTests.cs
  BusBuddy.WPF/Utilities/MapDistrictLayers.cs
  BusBuddy.WPF/Utilities/MapMarkerLabels.cs
  BusBuddy.WPF/ViewModels/Map/MapViewModel.cs
  BusBuddy.WPF/ViewModels/Student/StudentsViewModel.cs
Due: core, wpf, tests

Fit district map bounds and plot students at pickup or home.
  .cursor/mcp.json
  .github/copilot-instructions.md
  .github/scripts/gcloud-maps-status.sh
  .github/scripts/gcloud-mcp-deny.json
  .github/scripts/run-gcloud-mcp.sh
  AGENTS.md
  BusBuddy.Core/Mapping/MapDefaults.cs
  BusBuddy.Core/Mapping/StudentPlotLocation.cs
  BusBuddy.Core/Models/PickupStop.cs
  BusBuddy.Core/Services/GeoDataService.cs
  BusBuddy.Tests/Core/GeoDataServiceTests.cs
  BusBuddy.Tests/Core/MapCoordinateFormatterTests.cs
  BusBuddy.Tests/Core/MapViewCoreDependencyTests.cs
  BusBuddy.Tests/Core/MapsGeoServiceTests.cs
  BusBuddy.Tests/Core/StudentPlotLocationTests.cs
  BusBuddy.Tests/WPF/MapViewModelTests.cs
  BusBuddy.Tests/WPF/MapViewTests.cs
  BusBuddy.WPF/App.xaml.cs
  BusBuddy.WPF/Mapping/MappingProfile.cs
  BusBuddy.WPF/Services/MappingService.cs
  BusBuddy.WPF/Utilities/MapDistrictLayers.cs
  BusBuddy.WPF/Utilities/MapMarkerLabels.cs
  BusBuddy.WPF/Utilities/MapMarkerTemplateSelector.cs
  BusBuddy.WPF/Utilities/MapStudentPlot.cs
  BusBuddy.WPF/ViewModels/Map/MapViewModel.cs
  BusBuddy.WPF/ViewModels/Student/PickupStopFormViewModel.cs
  BusBuddy.WPF/ViewModels/Student/SchoolDestinationFormViewModel.cs
  BusBuddy.WPF/ViewModels/Student/StudentFormViewModel.cs
  BusBuddy.WPF/ViewModels/Student/StudentsViewModel.cs
  BusBuddy.WPF/Views/Map/MapView.xaml
  BusBuddy.WPF/Views/Map/MapView.xaml.cs
  Documentation/GCP-GEE-SECRETS-AND-AUTH.md
  README.md
  docs/action-items.md
  specs/007-maps-platform-geo/tasks.md
Due: core, wpf, tests

Fix source-scan for line-broken MapRouteExporter call.
  BusBuddy.Tests/WPF/MapViewModelTests.cs
Due: tests

Restore MapViewModelTests and split the exporter source-scan.
  BusBuddy.Tests/WPF/MapViewModelTests.cs
Due: tests

Path conditions:
  core: any of: BusBuddy.Core/, but not: **/*.Designer.cs, **/AssemblyInfo.cs, **/Migrations/**, **/obj/**, **/bin/**, **/packages/**, **/*.g.cs, **/*.g.i.cs, **/MainWindow.xaml.cs, **/App.xaml.cs
  wpf: any of: BusBuddy.WPF/, but not: **/*.Designer.cs, **/AssemblyInfo.cs, **/Migrations/**, **/obj/**, **/bin/**, **/packages/**, **/*.g.cs, **/*.g.i.cs, **/MainWindow.xaml.cs, **/App.xaml.cs
  tests: any of: BusBuddy.Tests/, but not: **/*.Designer.cs, **/AssemblyInfo.cs, **/Migrations/**, **/obj/**, **/bin/**, **/packages/**, **/*.g.cs, **/*.g.i.cs, **/MainWindow.xaml.cs, **/App.xaml.cs
