Repository Bigessfour/BusBuddy-3: changes, and which Codecov flags are due for each by the changed paths.
All: core, wpf, tests

codecov.yml:

# Codecov configuration for Bus Buddy WPF project
# Documentation: https://docs.codecov.com/docs/codecov-yaml

codecov:
  # Token is provided via GitHub Actions secret CODECOV_TOKEN
  # Never commit the actual token value to version control

  # Require CI to pass before accepting coverage
  require_ci_to_pass: true # Disable status checks while setting up
  disable_default_path_fixes: false

# Coverage settings
coverage:
  precision: 2
  round: down
  range: "70...100"

  # Status configuration
  status:
    project:
      default:
        target: auto
        threshold: 1%
        if_not_found: success
        if_ci_failed: error
    patch:
      default:
        target: auto
        threshold: 1%
        if_not_found: success
        if_ci_failed: error

# Comment configuration
comment:
  layout: "reach,diff,flags,tree"
  behavior: default
  require_changes: false

# Ignore paths that shouldn't affect coverage
ignore:
  - "**/*.Designer.cs"
  - "**/AssemblyInfo.cs"
  - "**/Migrations/**"
  - "**/obj/**"
  - "**/bin/**"
  - "**/packages/**"
  - "**/*.g.cs"
  - "**/*.g.i.cs"
  - "**/MainWindow.xaml.cs" # Generated XAML code-behind
  - "**/App.xaml.cs" # Application startup code

# File-specific settings
flags:
  core:
    paths:
      - "BusBuddy.Core/"
  wpf:
    paths:
      - "BusBuddy.WPF/"
  tests:
    paths:
      - "BusBuddy.Tests/"

docs: UI verification complete - button text/wiring confirmed operational
  GROK-README.md
Due: none

fix: configure local database and improve application stability
  BusBuddy.Core/Services/StudentService.cs
  BusBuddy.Core/Utilities/EnvironmentHelper.cs
  BusBuddy.WPF/App.xaml.cs
  BusBuddy.WPF/Views/Main/MainWindow.xaml
  logs/bootstrap-20250808.txt
  logs/log-20250808.txt
Due: core, wpf

fix: resolve database connectivity and migration constraint issues
  BusBuddy.Core/Migrations/20250808024041_InitialEntra.cs
  BusBuddy.Core/Services/StudentService.cs
  Fix-Azure-Firewall-IP.ps1
  Fix-Database-Migration-Constraint.ps1
  Fix-SqlExpress-Connection.ps1
  Set-BusBuddy-Environment.ps1
  Setup-Database-MVP.ps1
  appsettings.azure.json
  appsettings.json
  logs/bootstrap-20250808.txt
  logs/log-20250808.txt
Due: core

fix: resolve Bus entity to Vehicles table mapping and enhance EF Core resilience
  BusBuddy.Core/Data/BusBuddyDbContext.cs
  GROK-README.md
  migration-script.sql
Due: core

feat: complete button wiring for MainWindow and DashboardView
  BusBuddy.Core/Migrations/20250808202138_SyncFix.cs
  BusBuddy.WPF/Views/Dashboard/DashboardView.xaml.cs
  BusBuddy.WPF/Views/Main/MainWindow.xaml
  BusBuddy.WPF/Views/Main/MainWindow.xaml.cs
Due: wpf

feat: Add comprehensive MVP gap analysis and enhanced fetchability
  .gitignore
  .vscode/settings.json
  BusBuddy.Core/Migrations/BusBuddyDbContextModelSnapshot.cs
  BusBuddy.WPF/App.xaml.cs
  BusBuddy.WPF/Controls/AddressValidationControl.xaml
  BusBuddy.WPF/Controls/QuickActionsPanel.xaml
  BusBuddy.WPF/Controls/QuickActionsPanel.xaml.cs
  BusBuddy.WPF/Services/RouteExportService.cs
  BusBuddy.WPF/ViewModels/Driver/DriverFormViewModel.cs
  BusBuddy.WPF/ViewModels/DriversViewModel.cs
  BusBuddy.WPF/ViewModels/SportsScheduling/SportsSchedulingViewModel.cs
  BusBuddy.WPF/Views/ActivityScheduleView.xaml
  BusBuddy.WPF/Views/Bus/BusForm.xaml
  BusBuddy.WPF/Views/Bus/ConfirmationDialog.xaml
  BusBuddy.WPF/Views/Dashboard/DashboardWelcomeView.xaml
  BusBuddy.WPF/Views/Driver/DriverForm.xaml
  BusBuddy.WPF/Views/Driver/DriverForm.xaml.cs
  BusBuddy.WPF/Views/Driver/DriverManagementView.xaml
  BusBuddy.WPF/Views/Fuel/FuelDialog.xaml
  BusBuddy.WPF/Views/Fuel/FuelReconciliationDialog.xaml
  BusBuddy.WPF/Views/Main/MainWindow.xaml
  BusBuddy.WPF/Views/Main/MainWindow.xaml.cs
  BusBuddy.WPF/Views/Route/RouteAssignmentView.xaml
  BusBuddy.WPF/Views/Student/StudentsView.xaml
  BusBuddy.WPF/Views/Vehicle/VehicleForm.xaml
  BusBuddy.WPF/Views/Vehicle/VehicleManagementView.xaml
  BusBuddy.WPF/logs/bootstrap-20250808.txt
  BusBuddy.WPF/logs/log-20250808.txt
  GROK-README.md
  enhance-accessibility.ps1
  fix-button-labels.ps1
  logs/bootstrap-20250808.txt
  logs/log-20250808.txt
Due: wpf

docs: enhance logging infrastructure with GitHub fetchability links
  GROK-README.md
Due: none

docs: improve README.md transparency and add Known Risks section
  README.md
Due: none

feat: implement MVP gaps for Students, Drivers, Routes, and Reports
  .vscode/settings.json
  BusBuddy.WPF/ViewModels/Reports/ReportsViewModel.cs
  BusBuddy.WPF/Views/Driver/DriverForm.xaml
  BusBuddy.WPF/Views/Driver/DriversView.xaml
  BusBuddy.WPF/Views/Reports/ReportsView.xaml
  BusBuddy.WPF/Views/Reports/ReportsView.xaml.cs
  BusBuddy.WPF/Views/Route/RouteManagementView.xaml
  BusBuddy.WPF/Views/Student/StudentsView.xaml
Due: wpf

fix: add migration to resolve pending model changes
  BusBuddy.Core/Migrations/20250808230844_FixPendingChanges.cs
  BusBuddy.Core/Migrations/BusBuddyDbContextModelSnapshot.cs
Due: none

feat: add DriversViewModel and update driver/vehicle forms and main window
  BusBuddy.WPF/ViewModels/Driver/DriversViewModel.cs
  BusBuddy.WPF/Views/Driver/DriverForm.xaml
  BusBuddy.WPF/Views/Driver/DriversView.xaml.cs
  BusBuddy.WPF/Views/Main/MainWindow.xaml
  BusBuddy.WPF/Views/Main/MainWindow.xaml.cs
  BusBuddy.WPF/Views/Reports/ReportsView.xaml
  BusBuddy.WPF/Views/Vehicle/VehicleForm.xaml
Due: wpf

chore: commit all changes and new files after usability review and error capture run
  .vscode/settings.json
  BusBuddy.WPF/ViewModels/Route/RouteAssignmentViewModel.cs
  BusBuddy.WPF/ViewModels/RouteManagementViewModel.cs
  BusBuddy.WPF/Views/Main/MainWindow.xaml
  BusBuddy.WPF/Views/Main/MainWindow.xaml.cs
  BusBuddy.WPF/Views/Route/RouteEditDialog.xaml
  BusBuddy.WPF/Views/Route/RouteForm.xaml
  GROK-README.md
  Load-BusBuddyValidation.ps1
  PowerShell/Modules/BusBuddy/BusBuddy.psd1
  PowerShell/Modules/BusBuddy/BusBuddy.psm1
  PowerShell/Modules/BusBuddy/bb-validate-database.ps1
  README.md
  RISK-MITIGATION-SUMMARY.md
  TROUBLESHOOTING-LOG.md
  Test-EndToEndCRUD.ps1
  logs/bootstrap-20250808.txt
  logs/log-20250808.txt
Due: wpf

chore: add Update-AzureFirewall script; fix parsing and runtime; wire RG usage; stage migration; module updates
  BusBuddy.Core/Migrations/20250808202138_SyncFix.cs
  BusBuddy.Core/Migrations/20250808230844_FixPendingChanges.cs
  BusBuddy.Core/Migrations/20250809015130_FixDatabaseSchema.cs
  PowerShell/Modules/BusBuddy/BusBuddy.psm1
  PowerShell/Scripts/Update-AzureFirewall.ps1
  Reset-AzureDatabase.ps1
  logs/bootstrap-20250808.txt
  logs/log-20250808.txt
Due: none

feat(pwsh): add bb-run-capture wrapper to run app with robust runtime error capture
  PowerShell/Modules/BusBuddy/BusBuddy.psm1
Due: none

chore: track all changes, fix tests SDK deps, and label/UX improvements; add test reports; cleanup logs
  .vscode/settings.json
  BusBuddy.Tests/BusBuddy.Tests.csproj
  BusBuddy.Tests/Core/DriverServiceTests.cs
  BusBuddy.Tests/Core/RouteServiceTests.cs
  BusBuddy.Tests/Core/StudentServiceTests.cs
  BusBuddy.WPF/ViewModels/Driver/DriverFormViewModel.cs
  BusBuddy.WPF/ViewModels/Driver/DriversViewModel.cs
  BusBuddy.WPF/Views/Activity/ActivityScheduleEditDialog.xaml
  BusBuddy.WPF/Views/Bus/BusEditDialog.xaml
  BusBuddy.WPF/Views/Bus/BusForm.xaml
  BusBuddy.WPF/Views/Bus/NotificationWindow.xaml
  BusBuddy.WPF/Views/Dashboard/DashboardView.xaml
  BusBuddy.WPF/Views/Driver/DriverForm.xaml
  BusBuddy.WPF/Views/Driver/DriverManagementView.xaml.cs
  BusBuddy.WPF/Views/Driver/DriversView.xaml
  BusBuddy.WPF/Views/Driver/DriversView.xaml.cs
  BusBuddy.WPF/Views/DriverManagementView.xaml.cs
  BusBuddy.WPF/Views/Main/MainWindow.xaml.cs
  BusBuddy.WPF/Views/Route/RouteEditDialog.xaml
  BusBuddy.WPF/Views/Route/RouteForm.xaml
  BusBuddy.WPF/Views/Route/RouteManagementView.xaml
  BusBuddy.WPF/Views/Student/StudentForm.xaml
  BusBuddy.WPF/Views/Student/StudentsView.xaml
  BusBuddy.WPF/Views/Vehicle/VehicleManagementView.xaml
  Documentation/Reports/TestResults-20250808-213009.md
  Documentation/Reports/TestResults-20250808-213028.md
  enhance-accessibility.ps1
  fix-button-labels.ps1
  logs/bootstrap-20250807.txt
  logs/bootstrap-20250807_001.txt
  logs/bootstrap-20250808.txt
  logs/log-20250807.txt
  logs/log-20250808.txt
Due: wpf, tests

docs: refresh GROK-README with accurate raw URLs, remove outdated claims, and update test SDK guidance
  GROK-README.md
Due: none

chore: build, sync, and document all recent changes (StudentForm, StudentsView, theming, seeding, error handling, PowerShell modules)
  .vscode/settings.json
  BusBuddy.WPF/BusBuddy.WPF.csproj
  BusBuddy.WPF/Views/Dashboard/DashboardView.xaml
  BusBuddy.WPF/Views/Main/MainWindow.xaml
  BusBuddy.WPF/Views/Main/MainWindow.xaml.cs
  BusBuddy.WPF/Views/Student/StudentForm.xaml
  BusBuddy.WPF/Views/Student/StudentForm.xaml.cs
  BusBuddy.WPF/Views/Student/StudentsView.xaml
  BusBuddy.WPF/Views/Student/StudentsView.xaml.cs
  PowerShell/BusBuddy.psm1
  PowerShell/Import-BusBuddyCommands.ps1
  PowerShell/Modules/BusBuddy.Commands/BusBuddy.Commands.psd1
  PowerShell/Modules/BusBuddy.Commands/BusBuddy.Commands.psm1
  PowerShell/Modules/BusBuddy.ProfileTools/BusBuddy.ProfileTools.psd1
  PowerShell/Modules/BusBuddy.ProfileTools/BusBuddy.ProfileTools.psm1
  PowerShell/Modules/BusBuddy.TestOutput/BusBuddy.TestOutput.psd1
  PowerShell/Modules/BusBuddy.TestOutput/BusBuddy.TestOutput.psm1
  PowerShell/Modules/BusBuddy.Testing/BusBuddy.Testing.psd1
  PowerShell/Modules/BusBuddy.Testing/BusBuddy.Testing.psm1
  PowerShell/Modules/BusBuddy.Utilities/BusBuddy.Utilities.psd1
  PowerShell/Modules/BusBuddy.Utilities/BusBuddy.Utilities.psm1
  PowerShell/Modules/BusBuddy.Validation/BusBuddy.Validation.psd1
  PowerShell/Modules/BusBuddy.Validation/BusBuddy.Validation.psm1
  PowerShell/Modules/BusBuddy.ValidationHelpers/BusBuddy.ValidationHelpers.psd1
  PowerShell/Modules/BusBuddy.ValidationHelpers/BusBuddy.ValidationHelpers.psm1
  PowerShell/Modules/BusBuddy/BusBuddy.psd1
  PowerShell/Modules/BusBuddy/BusBuddy.psm1
  PowerShell/Profile/Initialize-Testing-Environment.ps1
  PowerShell/Setup/Enable-BusBuddyAutoload.ps1
  PowerShell/Testing/Run-Phase4-NUnitTests-Modular.ps1
  logs/bootstrap-20250809.txt
  logs/log-20250809.txt
Due: wpf

docs: update GROK-README.md with complete raw GitHub URLs for all key files and new modules
  GROK-README.md
Due: none

chore(ui): MainWindow Syncfusion compliance + theme polish
  BusBuddy.WPF/App.xaml
  BusBuddy.WPF/Views/Main/MainWindow.xaml
  BusBuddy.WPF/Views/Main/MainWindow.xaml.cs
Due: wpf

feat(google-earth): strict Syncfusion theming — ButtonAdv toggle + SfBusyIndicator; theme brush refs; build verified
  .vscode/settings.json
  BusBuddy.WPF/BusBuddy.WPF.csproj
  BusBuddy.WPF/Views/GoogleEarth/GoogleEarthView.xaml
  logs/bootstrap-20250809.txt
  logs/log-20250809.txt
Due: wpf

feat(geo+students): SfMap overlays, eligibility (NTS), offline geocoding, and student plotting; docs & fetchability
  .vscode/settings.json
  BusBuddy.Core/BusBuddy.Core.csproj
  BusBuddy.Core/Extensions/Phase1StartupExtensions.cs
  BusBuddy.Core/Services/Interfaces/IEligibilityService.cs
  BusBuddy.Core/Services/Interfaces/IGeocodingService.cs
  BusBuddy.Core/Services/OfflineGeocodingService.cs
  BusBuddy.Core/Services/ShapefileEligibilityService.cs
  BusBuddy.WPF/App.xaml.cs
  BusBuddy.WPF/Assets/Maps/README.md
  BusBuddy.WPF/BusBuddy.WPF.csproj
  BusBuddy.WPF/ViewModels/GoogleEarth/GoogleEarthViewModel.cs
  BusBuddy.WPF/ViewModels/Route/RouteAssignmentViewModel.cs
  BusBuddy.WPF/ViewModels/Route/RouteManagementViewModel.cs
  BusBuddy.WPF/ViewModels/RouteManagementViewModel.cs
  BusBuddy.WPF/ViewModels/Student/StudentsViewModel.cs
  BusBuddy.WPF/Views/GoogleEarth/GoogleEarthView.xaml
  BusBuddy.WPF/Views/GoogleEarth/GoogleEarthView.xaml.cs
  BusBuddy.WPF/Views/Route/RouteManagementView.xaml
  BusBuddy.WPF/Views/Student/StudentsView.xaml
  GROK-README.md
Due: core, wpf

fix(theme): remove duplicate ContentBackgroundBrush in App.xaml to avoid overriding Fluent theme brushes; ensures consistent FluentDark/Light in StudentsView & StudentForm
  BusBuddy.WPF/App.xaml
Due: wpf

fix: Drivers module button/form workflow
  BusBuddy.WPF/ViewModels/Driver/DriverFormViewModel.cs
  BusBuddy.WPF/ViewModels/Driver/DriversViewModel.cs
  BusBuddy.WPF/Views/Driver/DriverForm.xaml.cs
  ButtonFormValidationReport.md
Due: wpf

feat(activity): add ActivityManagementViewModel and ActivityItem; wire DataContext; update ButtonFormValidationReport with GoogleEarth/Fuel/Activity audits
  BusBuddy.WPF/Models/Activity/ActivityItem.cs
  BusBuddy.WPF/ViewModels/Activity/ActivityManagementViewModel.cs
  BusBuddy.WPF/Views/Activity/ActivityManagementView.xaml.cs
  ButtonFormValidationReport.md
Due: wpf

chore(googleearth): apply Syncfusion theme and consolidate dispose pattern; remove duplicate methods
  BusBuddy.WPF/Views/GoogleEarth/GoogleEarthView.xaml.cs
Due: wpf

docs(grok): add E2E Add Student flow verification (bindings, save via IStudentService, address checks, DI/config notes)
  .vscode/settings.json
  .vscode/tasks.json
  BusBuddy.Core/Configuration/ApplicationInsightsConfiguration.cs
  BusBuddy.Core/Services/DriverService.cs
  BusBuddy.Core/Services/FamilyService.cs
  BusBuddy.Core/Services/GuardianService.cs
  BusBuddy.Core/Services/RouteService.cs
  BusBuddy.Core/Services/SeedDataService.cs
  BusBuddy.Core/Services/StudentService.cs
  BusBuddy.Core/Utilities/ResilientDbExecution.cs
  BusBuddy.WPF/App.xaml.cs
  BusBuddy.WPF/ViewModels/Student/StudentFormViewModel.cs
  BusBuddy.WPF/ViewModels/Student/StudentsViewModel.cs
  BusBuddy.WPF/Views/Student/StudentForm.xaml.cs
  GROK-README.md
  GrokResources/GPT-5 actions/ButtonFormValidationReport.md
  logs/bootstrap-20250810.txt
  logs/log-20250810.txt
Due: core, wpf

docs: add Azure SQL alignment + student save verification steps (BusBuddyDB override + query scripts)
  GROK-README.md
Due: none

docs(fetchability): add quick-start section to GROK-README and link full FILE-FETCHABILITY-GUIDE
  BusBuddy.Core/Migrations/20250810190702_MVP_Sync_20250810.cs
  BusBuddy.Core/Migrations/BusBuddyDbContextModelSnapshot.cs
  BusBuddy.Core/Services/StudentService.cs
  BusBuddy.WPF/ViewModels/Student/StudentFormViewModel.cs
  GROK-README.md
  Scripts/Query-Drivers-Azure.cmd
  Scripts/Query-Routes-Azure.cmd
  Scripts/Query-Vehicles-Azure.cmd
  Scripts/Run-App-With-Azure.cmd
  Scripts/Watch-Logs.ps1
Due: core, wpf

docs(grok): add unit tests stabilization plan and update Last Updated header
  .vscode/settings.json
  BusBuddy.Core/Data/BusBuddyDbContext.cs
  BusBuddy.Core/Utilities/JsonDataImporter.cs
  BusBuddy.WPF/App.xaml.cs
  GROK-README.md
Due: core

docs(grok): add Aug 10 evening test iteration summary (9 failing tests, targeted fixes applied); preserve Syncfusion/Serilog policies
  GROK-README.md
Due: none

docs(grok): record test fixes (Wiley route id=1, StudentsViewModel selection/status), add shared SyncfusionStyles and App.xaml merge; refs: EF DbSet.Find/SaveChangesAsync docs, SfSkinManager
  .vscode/settings.json
  BusBuddy.Core/BusBuddyDbContext.cs
  BusBuddy.Core/Services/DriverService.cs
  BusBuddy.Core/Services/FamilyService.cs
  BusBuddy.Core/Services/SeedDataService.cs
  BusBuddy.Core/Services/StudentService.cs
  BusBuddy.Tests/AssemblyInfo.Parallel.cs
  BusBuddy.Tests/Core/DriverServiceTests.cs
  BusBuddy.Tests/Core/FamilyServiceTests.cs
  BusBuddy.Tests/Core/GuardianServiceTests.cs
  BusBuddy.Tests/Core/RouteServiceTests.cs
  BusBuddy.Tests/Core/SeedDataServiceTests.cs
  BusBuddy.Tests/Core/WileyTests.cs
  BusBuddy.Tests/StudentsViewModelTests.cs
  BusBuddy.Tests/ViewModels/Student/StudentFormViewModelTests.cs
  BusBuddy.Tests/ViewModels/Student/StudentsViewModelTests.cs
  BusBuddy.Tests/WileyTests.cs
  BusBuddy.WPF/App.xaml
  BusBuddy.WPF/Resources/SyncfusionStyles.xaml
  BusBuddy.WPF/ViewModels/Student/StudentFormViewModel.cs
  BusBuddy.WPF/Views/Main/MainWindow.txt
  BusBuddy.WPF/Views/Student/StudentForm.txt
  BusBuddy.WPF/Views/Student/StudentsView.txt
  GROK-README.md
  testsettings.runsettings
Due: core, wpf, tests

chore: push pending changes after clean build
  BusBuddy.Core/Services/StudentService.cs
  BusBuddy.Tests/StudentsViewModelTests.cs
  BusBuddy.Tests/WileyTests.cs
  BusBuddy.WPF/App.xaml
  BusBuddy.WPF/Resources/SyncfusionStyles.xaml
  BusBuddy.WPF/Views/Main/MainWindow.xaml
  GROK-README.md
Due: core, wpf, tests

docs: update GROK-README with Aug 10 delta (StudentsViewModel fix, EF change detection, new tests)
  GROK-README.md
Due: none

fix(wpf): correct invalid BusBuddy.WPF.Validation.ErrorEvent references to System.Windows.Controls.Validation.ErrorEvent and adjust handler signatures
  .vscode/settings.json
  .vscode/tasks.json
  BusBuddy.Core/Data/BusBuddyDbContext.cs
  BusBuddy.Core/Services/RouteService.cs
  BusBuddy.Tests/Core/ConfigurationTests.cs
  BusBuddy.Tests/Core/FactoryAndViewModelIntegrationTests.cs
  BusBuddy.Tests/Core/RouteDriverBusTests.cs
  BusBuddy.WPF/BusBuddy.WPF.csproj
  BusBuddy.WPF/Validation/StringNotEmptyValidationRule.cs
  BusBuddy.WPF/ViewModels/Student/StudentFormViewModel.cs
  BusBuddy.WPF/ViewModels/Student/StudentsViewModel.cs
  BusBuddy.WPF/Views/ActivityManagementView.xaml
  BusBuddy.WPF/Views/ActivityManagementView.xaml.cs
  BusBuddy.WPF/Views/ActivityScheduleView.xaml
  BusBuddy.WPF/Views/ActivityScheduleView.xaml.cs
  BusBuddy.WPF/Views/Bus/BusForm.xaml
  BusBuddy.WPF/Views/DashboardView.xaml.cs
  BusBuddy.WPF/Views/Driver/DriverForm.xaml
  BusBuddy.WPF/Views/DriverManagementView.xaml
  BusBuddy.WPF/Views/DriverManagementView.xaml.cs
  BusBuddy.WPF/Views/DriversView.xaml
  BusBuddy.WPF/Views/DriversView.xaml.cs
  BusBuddy.WPF/Views/Fuel/FuelReconciliationDialog.xaml
  BusBuddy.WPF/Views/Main/MainWindow.xaml.cs
  BusBuddy.WPF/Views/Route/RouteManagementView.xaml.cs
  BusBuddy.WPF/Views/Student/StudentForm.txt
  BusBuddy.WPF/Views/Student/StudentForm.xaml
  BusBuddy.WPF/Views/Student/StudentForm.xaml.cs
  BusBuddy.WPF/Views/Student/StudentsView.txt
  BusBuddy.WPF/Views/Student/StudentsView.xaml
  BusBuddy.WPF/Views/Student/StudentsView.xaml.cs
  BusBuddy.WPF/Views/Vehicle/VehicleForm.xaml
  BusBuddy.WPF/Views/Vehicle/VehicleManagementView.xaml.cs
  BusBuddy.WPF/Views/Vehicle/VehiclesView.xaml.cs
  BusBuddy.WPF/Views/VehiclesView.xaml
  BusBuddy.WPF/Views/VehiclesView.xaml.cs
  BusBuddy.WPF/appsettings.json
Due: core, wpf, tests

docs: append comprehensive raw fetch index to GROK-README.md; update raw link artifacts
  GROK-README.md
  RAW-LINKS-PINNED.txt
  RAW-LINKS.txt
  raw-index.json
Due: none
