Repository Bigessfour/BusBuddy-3: changes, and which Codecov flags are due for each by the changed paths.
All: core, wpf, tests

Add official Google Map Tiles session helper for SfMap UrlTemplate.
  BusBuddy.Core/Mapping/MapBasemap.cs
  BusBuddy.Core/Services/GoogleMaps/GoogleMapTileSessionService.cs
  BusBuddy.Core/Services/GoogleMaps/IGoogleMapTileSessionService.cs
  BusBuddy.Tests/Core/GoogleMapTileSessionTests.cs
Due: core, tests

Register IGoogleMapTileSessionService next to Places and Routes.
  BusBuddy.Core/Extensions/ServiceCollectionExtensions.cs
Due: core

Close out Maps Platform Path A: tiles, ToS chrome, and client hygiene.
  AGENTS.md
  BusBuddy.Core/Data/BusBuddyDbContext.cs
  BusBuddy.Core/Extensions/ServiceCollectionExtensions.cs
  BusBuddy.Core/Migrations/20260907010000_MapsPlaceIds.cs
  BusBuddy.Core/Models/Student.cs
  BusBuddy.Core/Services/GoogleMaps/GoogleAddressValidationClient.cs
  BusBuddy.Core/Services/GoogleMaps/GoogleRoutingService.cs
  BusBuddy.Core/Services/GoogleMaps/MapsAddressCache.cs
  BusBuddy.Core/Services/GoogleMaps/MapsGeocodeResult.cs
  BusBuddy.Tests/Core/GoogleAddressValidationClientTests.cs
  BusBuddy.Tests/Core/GoogleRoutingServiceTests.cs
  BusBuddy.Tests/Core/MapsGeoServiceTests.cs
  BusBuddy.Tests/Core/PlacesSessionTokenTests.cs
  BusBuddy.Tests/WPF/MapViewTests.cs
  BusBuddy.WPF/Utilities/GoogleMapTilesImageryLayer.cs
  BusBuddy.WPF/Utilities/MapTileBootstrap.cs
  BusBuddy.WPF/ViewModels/Map/MapViewModel.cs
  BusBuddy.WPF/ViewModels/Student/StudentFormAddressCoordinator.cs
  BusBuddy.WPF/ViewModels/Student/StudentsGridAddressCoordinator.cs
  BusBuddy.WPF/Views/Map/MapView.xaml
  BusBuddy.WPF/Views/Map/MapView.xaml.cs
  BusBuddy.WPF/Views/Settings/SettingsView.xaml
  BusBuddy.WPF/Views/Settings/SettingsView.xaml.cs
  Documentation/GCP-GEE-SECRETS-AND-AUTH.md
  specs/007-maps-platform-geo/data-model.md
  specs/007-maps-platform-geo/research.md
Due: core, wpf, tests

Wire official Google Map Tiles into District Map and expire geocode cache after 30 days.
  .github/scripts/gcloud-maps-status.sh
  BusBuddy.Core/Services/GoogleMaps/MapsAddressCache.cs
  BusBuddy.Core/Services/GoogleMaps/MapsGeocodeResult.cs
Due: core

Restore MapsAddressCache TimeProvider TTL and PlaceId after accidental simplify.
  BusBuddy.Core/Services/GoogleMaps/MapsAddressCache.cs
  BusBuddy.Core/Services/GoogleMaps/MapsGeocodeResult.cs
Due: core

Expose Core internals to BusBuddy.Tests for Map Tiles helpers.
  BusBuddy.Core/BusBuddy.Core.csproj
Due: core

Fix blank District Map by restoring Syncfusion tile loading.
  BusBuddy.Tests/WPF/MapViewTests.cs
  BusBuddy.WPF/Utilities/GoogleMapTilesImageryLayer.cs
  BusBuddy.WPF/Utilities/MapTileBootstrap.cs
  BusBuddy.WPF/Views/Map/MapView.xaml
  BusBuddy.WPF/Views/Map/MapView.xaml.cs
Due: wpf, tests

Fix map route display CI: encode Colorado drive path and satisfy source-scan.
  BusBuddy.Core/Mapping/EncodedPolylineCodec.cs
  BusBuddy.Tests/WPF/MapViewModelTests.cs
  BusBuddy.WPF/Utilities/MapRouteTrail.cs
Due: core, wpf, tests

Fix CI contract tests and Confirmed re-import status.
  BusBuddy.Core/Services/RouteService.cs
  BusBuddy.Core/Services/TripEventService.cs
  BusBuddy.Tests/Core/RoutePublishedPathTests.cs
  BusBuddy.Tests/Core/TripBoardImportTests.cs
  BusBuddy.Tests/WPF/MapViewModelTests.cs
Due: core, tests

Persist reordered waypoints and trip path miles, and clear stale destination FKs.
  BusBuddy.Core/Services/RouteService.cs
  BusBuddy.Core/Services/TripEventService.cs
  BusBuddy.Tests/Core/TripBoardImportTests.cs
Due: core, tests

Track trip writes so board re-imports persist destination and status.
  BusBuddy.Core/Services/TripEventService.cs
  BusBuddy.Tests/Core/TripBoardImportTests.cs
Due: core, tests

Remove fully-dead utility and service classes (deletes only)
  BusBuddy.Core/Data/DatabaseNullFixMigration.cs
  BusBuddy.Core/Extensions/EFCoreDebuggingExtensions.cs
  BusBuddy.Core/Services/AIInsightService.cs
  BusBuddy.Core/Utilities/DatabaseSchemaValidator.cs
  BusBuddy.Core/Utilities/DatabaseValidator.cs
  BusBuddy.Core/Utilities/ResilientDbExecution.cs
  BusBuddy.WPF/Services/StartupOptimizationService.cs
  BusBuddy.WPF/Services/XAI/XaiService.cs
  BusBuddy.WPF/Utilities/LogConsolidationUtility.cs
  BusBuddy.WPF/Utilities/LogLifecycleManager.cs
  BusBuddy.WPF/Utilities/ResourceDictionaryValidator.cs
  BusBuddy.WPF/Utilities/SyncfusionCultureFix.cs
  BusBuddy.WPF/Utilities/UIDebugManager.cs
  BusBuddy.WPF/Utilities/UIThreadOptimizer.cs
Due: core, wpf

Remove fully-dead utility and service classes (deletes only) (#62)
  BusBuddy.Core/Data/DatabaseNullFixMigration.cs
  BusBuddy.Core/Extensions/EFCoreDebuggingExtensions.cs
  BusBuddy.Core/Services/AIInsightService.cs
  BusBuddy.Core/Utilities/DatabaseSchemaValidator.cs
  BusBuddy.Core/Utilities/DatabaseValidator.cs
  BusBuddy.Core/Utilities/ResilientDbExecution.cs
  BusBuddy.WPF/Services/StartupOptimizationService.cs
  BusBuddy.WPF/Services/XAI/XaiService.cs
  BusBuddy.WPF/Utilities/LogConsolidationUtility.cs
  BusBuddy.WPF/Utilities/LogLifecycleManager.cs
  BusBuddy.WPF/Utilities/ResourceDictionaryValidator.cs
  BusBuddy.WPF/Utilities/SyncfusionCultureFix.cs
  BusBuddy.WPF/Utilities/UIDebugManager.cs
  BusBuddy.WPF/Utilities/UIThreadOptimizer.cs
Due: core, wpf

Wire Settings from the main header so clerks can set bus barn and map bounds.
  BusBuddy.Tests/WPF/MainWindowClerkPathTests.cs
  BusBuddy.WPF/Views/Main/MainWindow.xaml
  docs/action-items.md
  docs/function-tree.md
Due: wpf, tests

Wire Settings from the main header so clerks can set bus barn and map bounds. (#63)
  BusBuddy.Tests/WPF/MainWindowClerkPathTests.cs
  BusBuddy.WPF/Views/Main/MainWindow.xaml
  docs/action-items.md
  docs/function-tree.md
Due: wpf, tests

Fix student form save gated on unused DbContext in service path.
  BusBuddy.WPF/ViewModels/Student/StudentFormSaveCoordinator.cs
Due: wpf

Prove District Map interactions and show Google Maps logo on tiles.
  BusBuddy.Tests/WPF/MapViewModelTests.cs
  BusBuddy.Tests/WPF/MapViewTests.cs
  BusBuddy.WPF/Assets/Maps/README.md
  BusBuddy.WPF/Assets/Maps/google_maps_on_non_white.png
  BusBuddy.WPF/Assets/Maps/google_maps_on_white.png
  BusBuddy.WPF/BusBuddy.WPF.csproj
  BusBuddy.WPF/Utilities/MapTileBootstrap.cs
  BusBuddy.WPF/Views/Map/MapView.xaml
  BusBuddy.WPF/Views/Map/MapView.xaml.cs
  docs/action-items.md
Due: wpf, tests

Note WidenRouteWaypointsJson already applied on busbuddy_test.
  docs/action-items.md
Due: none

Record Windows VM Maps API env and close Map/Settings P1 Now queue.
  docs/action-items.md
Due: none

Document ship-ready verdict against action-items completion criteria.
  docs/action-items.md
Due: none

District Map interaction proof and Google Maps attribution logo (#65)
  BusBuddy.Tests/WPF/MapViewModelTests.cs
  BusBuddy.Tests/WPF/MapViewTests.cs
  BusBuddy.WPF/Assets/Maps/README.md
  BusBuddy.WPF/Assets/Maps/google_maps_on_non_white.png
  BusBuddy.WPF/Assets/Maps/google_maps_on_white.png
  BusBuddy.WPF/BusBuddy.WPF.csproj
  BusBuddy.WPF/Utilities/MapTileBootstrap.cs
  BusBuddy.WPF/Views/Map/MapView.xaml
  BusBuddy.WPF/Views/Map/MapView.xaml.cs
  docs/action-items.md
Due: wpf, tests

Harden Fuel dialog, management chart, and honest reconciliation.
  .function-inventory.json
  BusBuddy.Core/Data/BusBuddyDbContext.cs
  BusBuddy.Core/Models/Fuel.cs
  BusBuddy.Core/Models/FuelConstraints.cs
  BusBuddy.Core/Services/FuelLocationCatalog.cs
  BusBuddy.Core/Services/FuelReconciliationCalculator.cs
  BusBuddy.Core/Services/FuelRecordValidator.cs
  BusBuddy.Core/Services/FuelService.cs
  BusBuddy.Core/Services/FuelTrendAggregator.cs
  BusBuddy.Core/Services/IFuelLocationCatalog.cs
  BusBuddy.Core/Services/IFuelService.cs
  BusBuddy.Core/Services/UserSettingsKeys.cs
  BusBuddy.Tests/Core/FuelReconciliationCalculatorTests.cs
  BusBuddy.Tests/Core/FuelRecordValidatorTests.cs
  BusBuddy.Tests/Core/FuelTrendAndLocationCatalogTests.cs
  BusBuddy.Tests/WPF/FuelDialogXamlContractTests.cs
  BusBuddy.Tests/WPF/MainWindowClerkPathTests.cs
  BusBuddy.WPF/App.xaml.cs
  BusBuddy.WPF/Resources/Themes/FluentDarkTheme.xaml
  BusBuddy.WPF/Resources/Themes/FluentLightTheme.xaml
  BusBuddy.WPF/Utilities/NumpadInputHelper.cs
  BusBuddy.WPF/ViewModels/Fuel/FuelManagementViewModel.cs
  BusBuddy.WPF/ViewModels/Fuel/FuelReconciliationViewModel.cs
  BusBuddy.WPF/ViewModels/Fuel/FuelTrendPoint.cs
  BusBuddy.WPF/Views/Fuel/FuelDialog.xaml
  BusBuddy.WPF/Views/Fuel/FuelDialog.xaml.cs
  BusBuddy.WPF/Views/Fuel/FuelManagementView.xaml
  BusBuddy.WPF/Views/Fuel/FuelManagementView.xaml.cs
  BusBuddy.WPF/Views/Fuel/FuelReconciliationDialog.xaml
  BusBuddy.WPF/Views/Fuel/FuelReconciliationDialog.xaml.cs
Due: core, wpf, tests

Harden Fuel dialog extract, Maintenance CRUD, and Driver Schedule UTC.
  .function-inventory.json
  BusBuddy.Core/Models/Maintenance.cs
  BusBuddy.Core/Models/MaintenanceConstraints.cs
  BusBuddy.Core/Models/MaintenanceRecord.cs
  BusBuddy.Core/Services/FuelNumericText.cs
  BusBuddy.Core/Services/FuelRecordValidator.cs
  BusBuddy.Core/Services/MaintenanceRecordValidator.cs
  BusBuddy.Core/Services/MaintenanceService.cs
  BusBuddy.Core/Services/ScheduleService.cs
  BusBuddy.Core/Services/ScheduleTimestampNormalizer.cs
  BusBuddy.Tests/Core/FuelNumericTextTests.cs
  BusBuddy.Tests/Core/MaintenanceRecordValidatorTests.cs
  BusBuddy.Tests/Core/ScheduleTimestampNormalizerTests.cs
  BusBuddy.Tests/WPF/DriverScheduleViewTests.cs
  BusBuddy.Tests/WPF/FuelDialogXamlContractTests.cs
  BusBuddy.Tests/WPF/MaintenanceViewTests.cs
  BusBuddy.WPF/ViewModels/Driver/DriverScheduleViewModel.cs
  BusBuddy.WPF/ViewModels/Fuel/FuelDialogViewModel.cs
  BusBuddy.WPF/ViewModels/Maintenance/MaintenanceViewModel.cs
  BusBuddy.WPF/ViewModels/Route/RouteManagementViewModel.cs
  BusBuddy.WPF/Views/Driver/DriverScheduleView.xaml
  BusBuddy.WPF/Views/Fuel/FuelDialog.xaml
  BusBuddy.WPF/Views/Fuel/FuelDialog.xaml.cs
  BusBuddy.WPF/Views/Maintenance/MaintenanceView.xaml
  docs/action-items.md
Due: core, wpf, tests

Fix driver Save validation drop and Delete soft-retire path.
  BusBuddy.Core/Services/DriverService.cs
  BusBuddy.WPF/ViewModels/Driver/DriverFormViewModel.cs
  BusBuddy.WPF/ViewModels/Driver/DriversViewModel.cs
  BusBuddy.WPF/Views/Driver/DriverForm.xaml
  BusBuddy.WPF/Views/Driver/DriverManagementView.xaml
  BusBuddy.WPF/Views/Driver/DriversView.xaml
Due: core, wpf

Add toast feedback for driver Save and Delete rule outcomes.
  BusBuddy.WPF/Utilities/UserToast.cs
  BusBuddy.WPF/ViewModels/Driver/DriverFormViewModel.cs
  BusBuddy.WPF/ViewModels/Driver/DriversViewModel.cs
Due: wpf

Polish Fuel Management CRUD UI and fix Syncfusion NumPad input.
  BusBuddy.WPF/Utilities/NumpadInputHelper.cs
  BusBuddy.WPF/ViewModels/Fuel/FuelManagementViewModel.cs
  BusBuddy.WPF/Views/Fuel/FuelDialog.xaml
  BusBuddy.WPF/Views/Fuel/FuelDialog.xaml.cs
  BusBuddy.WPF/Views/Fuel/FuelManagementView.xaml
  BusBuddy.WPF/Views/Fuel/FuelManagementView.xaml.cs
Due: wpf

Harden RouteManagement assign panel and unblock PR CI.
  .function-inventory.json
  BusBuddy.Core/Data/BusBuddyDbContext.cs
  BusBuddy.Core/Models/Fuel.cs
  BusBuddy.Core/Services/DriverService.cs
  BusBuddy.Core/Services/FuelRecordValidator.cs
  BusBuddy.Tests/Core/DriverServiceTests.cs
  BusBuddy.Tests/WPF/MainWindowClerkPathTests.cs
  BusBuddy.Tests/WPF/RouteManagementViewModelTests.cs
  BusBuddy.Tests/WPF/RouteManagementViewTests.cs
  BusBuddy.WPF/ViewModels/Route/RouteManagementExportHelper.cs
  BusBuddy.WPF/ViewModels/Route/RouteManagementViewModel.Assignment.cs
  BusBuddy.WPF/ViewModels/Route/RouteManagementViewModel.cs
  BusBuddy.WPF/Views/Route/RouteManagementView.xaml
  BusBuddy.WPF/Views/Route/RouteManagementView.xaml.cs
  docs/action-items.md
Due: core, wpf, tests

Path conditions:
  core: any of: BusBuddy.Core/, but not: **/*.Designer.cs, **/AssemblyInfo.cs, **/Migrations/**, **/obj/**, **/bin/**, **/packages/**, **/*.g.cs, **/*.g.i.cs, **/MainWindow.xaml.cs, **/App.xaml.cs
  wpf: any of: BusBuddy.WPF/, but not: **/*.Designer.cs, **/AssemblyInfo.cs, **/Migrations/**, **/obj/**, **/bin/**, **/packages/**, **/*.g.cs, **/*.g.i.cs, **/MainWindow.xaml.cs, **/App.xaml.cs
  tests: any of: BusBuddy.Tests/, but not: **/*.Designer.cs, **/AssemblyInfo.cs, **/Migrations/**, **/obj/**, **/bin/**, **/packages/**, **/*.g.cs, **/*.g.i.cs, **/MainWindow.xaml.cs, **/App.xaml.cs
