Repository Bigessfour/BusBuddy-3: changes, and which Codecov flags are due for each by the changed paths.
All: core, wpf, tests

codecov.yml:

# Codecov configuration for Bus Buddy WPF project
# Documentation: https://docs.codecov.com/docs/codecov-yaml

codecov:
  # Token is provided via GitHub Actions secret CODECOV_TOKEN
  # Never commit the actual token value to version control

  # Require CI to pass before accepting coverage
  require_ci_to_pass: true # Disable status checks while setting up
  disable_default_path_fixes: false

# Coverage settings
coverage:
  precision: 2
  round: down
  range: "70...100"

  # Status configuration
  status:
    project:
      default:
        target: auto
        threshold: 1%
        if_not_found: success
        if_ci_failed: error
    patch:
      default:
        target: auto
        threshold: 1%
        if_not_found: success
        if_ci_failed: error

# Comment configuration
comment:
  layout: "reach,diff,flags,tree"
  behavior: default
  require_changes: false

# Ignore paths that shouldn't affect coverage
ignore:
  - "**/*.Designer.cs"
  - "**/AssemblyInfo.cs"
  - "**/Migrations/**"
  - "**/obj/**"
  - "**/bin/**"
  - "**/packages/**"
  - "**/*.g.cs"
  - "**/*.g.i.cs"
  - "**/MainWindow.xaml.cs" # Generated XAML code-behind
  - "**/App.xaml.cs" # Application startup code

# File-specific settings
flags:
  core:
    paths:
      - "BusBuddy.Core/"
  wpf:
    paths:
      - "BusBuddy.WPF/"
  tests:
    paths:
      - "BusBuddy.Tests/"

Keep route assignment and home pins aligned with eligibility, and stop launch from restoring deleted students.
  .github/scripts/MapsConnectionProbe/Program.cs
  BusBuddy.Core/Models/Route.Extensions.cs
  BusBuddy.Core/Services/GoogleMaps/GoogleCloudPlatformAccessTokenSource.cs
  BusBuddy.Core/Services/GoogleMaps/GoogleRouteOptimizationService.cs
  BusBuddy.Core/Services/GoogleMaps/RouteDrivePathRefresher.cs
  BusBuddy.Core/Services/IRouteService.cs
  BusBuddy.Core/Services/ISeedDataService.cs
  BusBuddy.Core/Services/IStudentService.cs
  BusBuddy.Core/Services/RouteService.Assignments.cs
  BusBuddy.Core/Services/RouteService.Crud.cs
  BusBuddy.Core/Services/RouteService.Stops.cs
  BusBuddy.Core/Services/RouteWaypointRebuildService.cs
  BusBuddy.Core/Services/SeedDataService.SpecialNeeds.cs
  BusBuddy.Core/Services/SeedDataService.cs
  BusBuddy.Core/Services/StudentService.cs
  BusBuddy.Core/Utilities/StudentRecordNormalizer.cs
  BusBuddy.Tests/Core/GoogleRouteOptimizationServiceTests.cs
  BusBuddy.Tests/Core/MapsGeoServiceTests.cs
  BusBuddy.Tests/Core/RouteAssignmentFlowTests.cs
  BusBuddy.Tests/Core/RouteEastAssignmentTests.cs
  BusBuddy.Tests/Core/RouteServiceTests.cs
  BusBuddy.Tests/Core/SeedDataServiceTests.cs
  BusBuddy.Tests/Core/StudentServiceTests.cs
  BusBuddy.Tests/WPF/MapDistrictContractTests.cs
  BusBuddy.Tests/WPF/MapRouteTrailTests.cs
  BusBuddy.Tests/WPF/MapViewModelTests.cs
  BusBuddy.Tests/WPF/MapViewTests.cs
  BusBuddy.Tests/WPF/RouteOptimizationSurfaceTests.cs
  BusBuddy.WPF/App.Composition.cs
  BusBuddy.WPF/Utilities/MapDistrictLayers.cs
  BusBuddy.WPF/Utilities/MapRouteTrailLayer.cs
  BusBuddy.WPF/ViewModels/Map/MapViewModel.cs
  BusBuddy.WPF/Views/Map/MapView.xaml
  BusBuddy.WPF/Views/Map/MapView.xaml.cs
  Documentation/GCP-GEE-SECRETS-AND-AUTH.md
  specs/maps.md
Due: core, wpf, tests

Remove the unused development helper and keep Maps, Ollama, and district settings inside the bounds the app already assumes.
  BusBuddy.Core/Configuration/DevelopmentHelper.cs
  BusBuddy.Core/Configuration/DistrictSettingsAccessor.cs
  BusBuddy.Core/Configuration/GoogleMapsOptions.cs
  BusBuddy.Core/Configuration/OllamaOptions.cs
  BusBuddy.Core/Configuration/RoutingDistrictSettings.cs
  BusBuddy.Core/Extensions/ServiceCollectionExtensions.cs
  BusBuddy.Core/Services/GoogleMaps/GooglePlacesAutocompleteService.cs
  BusBuddy.Tests/Core/DistrictSettingsAccessorTests.cs
  BusBuddy.Tests/Core/GoogleMapsOptionsQuotaProjectTests.cs
  BusBuddy.Tests/Core/OllamaOptionsBindTests.cs
  BusBuddy.WPF/App.Composition.cs
Due: core, wpf, tests

Stop retrying a refused Postgres connection so the dashboard and route screens fail fast instead of freezing.
  BusBuddy.Core/Data/BusBuddyNpgsqlExecutionStrategy.cs
  BusBuddy.Core/Services/DashboardMetricsService.cs
  BusBuddy.Core/Services/RouteService.Assignments.cs
  BusBuddy.Core/Services/RouteService.Crud.cs
  BusBuddy.Core/Utilities/DatabaseUserMessage.cs
  BusBuddy.Core/Utilities/EntityFrameworkPostgresExtensions.cs
  BusBuddy.Tests/Core/DatabaseUserMessageTests.cs
  BusBuddy.WPF/ViewModels/Dashboard/DashboardViewModel.cs
  BusBuddy.WPF/ViewModels/Route/RouteAssignmentViewModel.Loading.cs
Due: core, wpf, tests

Refresh the existing schedule when the same route, bus, and departure are saved again.
  BusBuddy.Core/Services/ScheduleService.cs
  BusBuddy.Tests/Core/ScheduleServiceTests.cs
Due: core, tests

Keep student-home stops off the path, map, and sheet unless that student is assigned to the route.
  BusBuddy.Core/Services/AssignedRouteStops.cs
  BusBuddy.Core/Services/RouteService.Stops.cs
  BusBuddy.Core/Services/RouteSummarySheetBuilder.cs
  BusBuddy.Core/Services/RouteWaypointRebuildService.cs
  BusBuddy.Core/Services/StudentService.cs
  BusBuddy.Tests/Core/RoutePublishedPathTests.cs
  BusBuddy.Tests/Core/RouteSummarySheetBuilderTests.cs
  BusBuddy.Tests/Core/StudentArchiveAndEligibilityTests.cs
  BusBuddy.WPF/Utilities/MapDistrictLayers.cs
  BusBuddy.WPF/ViewModels/Map/MapViewModel.cs
  BusBuddy.WPF/ViewModels/Route/RouteManagementViewModel.Planning.cs
  specs/maps.md
  specs/routes.md
  specs/students.md
Due: core, wpf, tests

Remove unused Core stubs, seed JSON, and the checked-in XML dump.
  BusBuddy.Core/.xml
  BusBuddy.Core/Data/enhanced-realworld-data.json
  BusBuddy.Core/Data/sample-realworld-data.json
  BusBuddy.Core/Services/DataIntegrityService.cs
  BusBuddy.Core/Services/ServiceContainer.cs
  Documentation/Reference/CORE-SERVICES-API-REFERENCE.md
Due: core

Remove unused Core stubs, seed JSON, and the checked-in XML dump. (#98)
  BusBuddy.Core/.xml
  BusBuddy.Core/Data/enhanced-realworld-data.json
  BusBuddy.Core/Data/sample-realworld-data.json
  BusBuddy.Core/Services/DataIntegrityService.cs
  BusBuddy.Core/Services/ServiceContainer.cs
  Documentation/Reference/CORE-SERVICES-API-REFERENCE.md
Due: core

Remove unused schedule stubs, Alert, and FuelRecord.
  BusBuddy.Core/Logging/ActivityLoggingPerformanceTracker.cs
  BusBuddy.Core/Models/Alert.cs
  BusBuddy.Core/Models/BusBuddyScheduleAppointment.cs
  BusBuddy.Core/Models/FuelRecord.cs
  BusBuddy.Core/Models/IScheduleAppointment.cs
  BusBuddy.Core/Models/ScheduleAppointment.cs
  BusBuddy.Core/Models/ScheduleAppointmentList.cs
  BusBuddy.Core/Models/ScheduleDataProvider.cs
  BusBuddy.WPF/Services/Schedule/BusBuddyScheduleDataProvider.cs
Due: core, wpf

Remove unused schedule stubs, Alert, and FuelRecord. (#99)
  BusBuddy.Core/Logging/ActivityLoggingPerformanceTracker.cs
  BusBuddy.Core/Models/Alert.cs
  BusBuddy.Core/Models/BusBuddyScheduleAppointment.cs
  BusBuddy.Core/Models/FuelRecord.cs
  BusBuddy.Core/Models/IScheduleAppointment.cs
  BusBuddy.Core/Models/ScheduleAppointment.cs
  BusBuddy.Core/Models/ScheduleAppointmentList.cs
  BusBuddy.Core/Models/ScheduleDataProvider.cs
  BusBuddy.WPF/Services/Schedule/BusBuddyScheduleDataProvider.cs
Due: core, wpf

State AM eligibility in the clerk-override test so assignment is not rejected.
  BusBuddy.Tests/Core/RouteDetermination/RouteDeterminationServiceTests.cs
Due: tests

Keep Drive Path from blocking CI when no WPF window is open.
  BusBuddy.Tests/WPF/RouteManagementViewModelTests.cs
  BusBuddy.WPF/ViewModels/Route/RouteManagementViewModel.Planning.cs
Due: wpf, tests

Align CSV import and deletion-log tests with the split student service.
  BusBuddy.Tests/Core/SeedDataServiceTests.cs
  BusBuddy.Tests/WPF/ButtonAccessibilityAuditTests.cs
Due: tests

Open the home pickup map on the stored house and keep a clerk driveway pin.
  BusBuddy.Core/Data/Configurations/StudentEntityConfigurations.cs
  BusBuddy.Core/Migrations/20260923030000_StudentHomePickupClerkAdjusted.cs
  BusBuddy.Core/Migrations/BusBuddyDbContextModelSnapshot.cs
  BusBuddy.Core/Models/Student.cs
  BusBuddy.Core/Services/IStudentService.cs
  BusBuddy.Core/Services/StudentService.Persist.cs
  BusBuddy.Core/Utilities/HomePickupPin.cs
  BusBuddy.Tests/Core/HomePickupPinTests.cs
  BusBuddy.Tests/Core/StudentArchiveAndEligibilityTests.cs
  BusBuddy.Tests/WPF/MapViewTests.cs
  BusBuddy.Tests/WPF/StudentFormViewModelSaveTests.cs
  BusBuddy.Tests/WPF/StudentHomePinViewModelTests.cs
  BusBuddy.WPF/Resources/MapMarkerTemplates.xaml
  BusBuddy.WPF/ViewModels/Student/StudentFormAddressCoordinator.cs
  BusBuddy.WPF/ViewModels/Student/StudentFormMapCoordinator.cs
  BusBuddy.WPF/ViewModels/Student/StudentHomePinViewModel.cs
  BusBuddy.WPF/ViewModels/Student/StudentsGridAddressCoordinator.cs
  BusBuddy.WPF/Views/Map/MapView.xaml
  BusBuddy.WPF/Views/Student/StudentHomePinWindow.xaml
  BusBuddy.WPF/Views/Student/StudentHomePinWindow.xaml.cs
  specs/locations.md
  specs/students.md
Due: core, wpf, tests

Open the home pickup map on the stored house and keep a clerk driveway pin. (#101)
  BusBuddy.Core/Data/Configurations/StudentEntityConfigurations.cs
  BusBuddy.Core/Migrations/20260923030000_StudentHomePickupClerkAdjusted.cs
  BusBuddy.Core/Migrations/BusBuddyDbContextModelSnapshot.cs
  BusBuddy.Core/Models/Student.cs
  BusBuddy.Core/Services/IStudentService.cs
  BusBuddy.Core/Services/StudentService.Persist.cs
  BusBuddy.Core/Utilities/HomePickupPin.cs
  BusBuddy.Tests/Core/HomePickupPinTests.cs
  BusBuddy.Tests/Core/StudentArchiveAndEligibilityTests.cs
  BusBuddy.Tests/WPF/MapViewTests.cs
  BusBuddy.Tests/WPF/StudentFormViewModelSaveTests.cs
  BusBuddy.Tests/WPF/StudentHomePinViewModelTests.cs
  BusBuddy.WPF/Resources/MapMarkerTemplates.xaml
  BusBuddy.WPF/ViewModels/Student/StudentFormAddressCoordinator.cs
  BusBuddy.WPF/ViewModels/Student/StudentFormMapCoordinator.cs
  BusBuddy.WPF/ViewModels/Student/StudentHomePinViewModel.cs
  BusBuddy.WPF/ViewModels/Student/StudentsGridAddressCoordinator.cs
  BusBuddy.WPF/Views/Map/MapView.xaml
  BusBuddy.WPF/Views/Student/StudentHomePinWindow.xaml
  BusBuddy.WPF/Views/Student/StudentHomePinWindow.xaml.cs
  specs/locations.md
  specs/students.md
Due: core, wpf, tests

Enhance student home pickup handling and phone number input validation
  BusBuddy.Core/Mapping/StudentPlotLocation.cs
  BusBuddy.Core/Services/AssignedHomeStopSync.cs
  BusBuddy.Core/Services/GeoDataService.cs
  BusBuddy.Core/Services/RouteDetermination/RouteDeterminationService.cs
  BusBuddy.Core/Services/StudentService.Persist.cs
  BusBuddy.Tests/Core/AssignedHomeStopSyncTests.cs
  BusBuddy.Tests/Core/StudentPlotLocationTests.cs
  BusBuddy.Tests/WPF/NumpadInputHelperTests.cs
  BusBuddy.WPF/Utilities/NumpadInputHelper.cs
  BusBuddy.WPF/Views/Driver/DriverForm.xaml
  BusBuddy.WPF/Views/Main/MainWindow.xaml
  BusBuddy.WPF/Views/Student/StudentForm.xaml
  BusBuddy.WPF/Views/Student/StudentForm.xaml.cs
  BusBuddy.WPF/Views/Student/StudentsView.xaml
  specs/locations.md
  specs/routes.md
  specs/students.md
Due: core, wpf, tests

Publish stop clocks from one bell plan.
  BusBuddy.Core/Configuration/DistrictSettingsAccessor.cs
  BusBuddy.Core/Configuration/RoutingDistrictSettings.cs
  BusBuddy.Core/Services/DestinationService.cs
  BusBuddy.Core/Services/GoogleMaps/GoogleRoutingService.cs
  BusBuddy.Core/Services/IDestinationService.cs
  BusBuddy.Core/Services/IRoutingService.cs
  BusBuddy.Core/Services/PublishedStopClockPlanner.cs
  BusBuddy.Core/Services/RouteDetermination/IRouteDeterminationService.cs
  BusBuddy.Core/Services/RouteDetermination/PickupScheduleCalculator.cs
  BusBuddy.Core/Services/RouteDetermination/PublishedClockPlanner.cs
  BusBuddy.Core/Services/RouteDetermination/RouteDeterminationModels.cs
  BusBuddy.Core/Services/RouteDetermination/RouteDeterminationService.Clocks.cs
  BusBuddy.Core/Services/RouteDetermination/RouteDeterminationService.cs
  BusBuddy.Core/Services/RouteService.Stops.cs
  BusBuddy.Core/Services/StudentService.Persist.cs
  BusBuddy.Core/Services/StudentService.cs
  BusBuddy.Tests/Core/GoogleRoutingServiceTests.cs
  BusBuddy.Tests/Core/PublishedStopClockPlannerTests.cs
  BusBuddy.Tests/Core/RouteDetermination/PickupScheduleTests.cs
  BusBuddy.Tests/Core/RouteDetermination/PublishedClockPlannerTests.cs
  BusBuddy.Tests/WPF/RouteAssignmentToolbarSmokeTests.cs
  BusBuddy.WPF/ViewModels/Map/MapViewModel.cs
  BusBuddy.WPF/ViewModels/Route/RouteAssignmentViewModel.CommandHints.cs
  BusBuddy.WPF/ViewModels/Route/RouteAssignmentViewModel.Commands.cs
  BusBuddy.WPF/ViewModels/Route/RouteAssignmentViewModel.Schedule.cs
  BusBuddy.WPF/ViewModels/Route/RouteAssignmentViewModel.cs
  BusBuddy.WPF/ViewModels/Student/SchoolDestinationFormViewModel.cs
  BusBuddy.WPF/Views/Student/SchoolDestinationForm.xaml
  BusBuddy.WPF/Views/Student/SchoolDestinationForm.xaml.cs
  specs/008-route-determination/contracts/route-determination.md
  specs/008-route-determination/research.md
  specs/008-route-determination/spec.md
  specs/README.md
  specs/locations.md
  specs/routes.md
  specs/students.md
Due: core, wpf, tests

Make Route Management follow the published stop sheet and clock plan.
  .cursor/skills/wpf-page-vertical-audit/reference.md
  BusBuddy.Tests/WPF/RouteExportServiceTests.cs
  BusBuddy.Tests/WPF/RouteManagementExportHelperTests.cs
  BusBuddy.Tests/WPF/RouteManagementViewModelTests.cs
  BusBuddy.Tests/WPF/RouteManagementViewTests.cs
  BusBuddy.WPF/App.Composition.cs
  BusBuddy.WPF/Services/RouteExportService.cs
  BusBuddy.WPF/ViewModels/Route/RouteGenerationCoordinator.cs
  BusBuddy.WPF/ViewModels/Route/RouteManagementExportHelper.cs
  BusBuddy.WPF/ViewModels/Route/RouteManagementViewModel.Assignment.cs
  BusBuddy.WPF/ViewModels/Route/RouteManagementViewModel.Planning.cs
  BusBuddy.WPF/ViewModels/Route/RouteManagementViewModel.cs
  BusBuddy.WPF/Views/Route/RouteManagementView.xaml
  BusBuddy.WPF/Views/Route/RouteManagementView.xaml.cs
  specs/routes.md
Due: wpf, tests

Track published home stops when a geocode updates them.
  BusBuddy.Core/Services/AssignedHomeStopSync.cs
Due: core

Let a clerk set the district frame from a GeoJSON extent, and publish road-ordered clocks for a fictional general-ed roster.
  .gitignore
  BusBuddy.Core/Mapping/DistrictBoundaryFile.cs
  BusBuddy.Core/Services/GoogleMaps/AddressValidationPinPolicy.cs
  BusBuddy.DbPrep/Program.cs
  BusBuddy.DbPrep/RosterHomeValidation.cs
  BusBuddy.DbPrep/RosterRouteOptimization.cs
  BusBuddy.Tests/Core/AddressValidationPinPolicyTests.cs
  BusBuddy.Tests/Core/DistrictBoundaryFileTests.cs
  BusBuddy.Tests/WPF/SettingsViewModelTests.cs
  BusBuddy.WPF/ViewModels/Settings/SettingsViewModel.cs
  BusBuddy.WPF/Views/Settings/SettingsView.xaml
  Scripts/synthetic_roster/generate_roster.py
  Scripts/synthetic_roster/lamar_streets.py
  Scripts/synthetic_roster/requirements.txt
  Scripts/synthetic_roster/seed_distribution.csv
  Scripts/synthetic_roster/test_realize_roster.py
  specs/locations.md
  specs/maps.md
Due: core, wpf, tests
